openapi: 3.2.0
info:
  version: 1.7.57
  title: Shift4 Payment 3D Secure API
  contact:
    url: https://www.shift4.com/contact-us/
servers:
- url: https://api.shift4test.com/api/rest/v1
  description: Host Direct Test URL
- url: https://api.shift4api.net/api/rest/v1
  description: Host Direct Production URL
tags:
- name: 3D Secure
paths:
  /3dsecure/standalone:
    servers:
    - url: https://api.shift4test.com/api/rest/v1
      description: Host Direct Test URL
    - url: https://api.shift4api.net/api/rest/v1
      description: Host Direct Production URL
    post:
      tags:
      - 3D Secure
      summary: 3D Secure Standalone
      operationId: 3dsecurestandalone
      security:
      - AccessToken: []
      description: 'This function is used to process a request via the 3D Secure process without authorizing the payment. This will return the result of the 3D Secure process as well as the 3D Secure data that can then be used to process a payment via the Authorization or Sale/Purchase endpoint.


        **Integration Methods:**

        - Host Direct


        See the Integration Methods and URLs Section sections of the Development Quick Start guide for details regarding each processing option.'
      parameters:
      - $ref: '#/components/parameters/InterfaceVersion'
      - $ref: '#/components/parameters/InterfaceName'
      - $ref: '#/components/parameters/CompanyName'
      - $ref: '#/components/parameters/AccessToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/3dsecure_standalone_cardnumber'
              - $ref: '#/components/schemas/3dsecure_standalone_token_gtv'
      responses:
        '200':
          description: Request was processed
          content:
            application/json:
              schema:
                oneOf:
                - title: Request Complete
                  properties:
                    result:
                      type: array
                      items:
                        type: object
                        required:
                        - dateTime
                        - amount
                        - currencyCode
                        properties:
                          dateTime:
                            $ref: '#/components/schemas/DateTime'
                          amount:
                            $ref: '#/components/schemas/Amount'
                          currencyCode:
                            $ref: '#/components/schemas/CurrencyCode'
                          card:
                            $ref: '#/components/schemas/CardResponse'
                          customer:
                            type: object
                            properties:
                              firstName:
                                $ref: '#/components/schemas/CustomerFirstName'
                              lastName:
                                $ref: '#/components/schemas/CustomerLastName'
                              phoneNumber:
                                $ref: '#/components/schemas/CustomerPhoneNumber'
                              emailAddress:
                                $ref: '#/components/schemas/CustomerEmailAddress'
                              addressLine1:
                                $ref: '#/components/schemas/CustomerAddressLine1'
                              city:
                                $ref: '#/components/schemas/CustomerCity'
                              region:
                                $ref: '#/components/schemas/CustomerRegion'
                              postalCode:
                                $ref: '#/components/schemas/CustomerPostalCode'
                              country:
                                $ref: '#/components/schemas/CustomerCountry'
                              ipAddress:
                                $ref: '#/components/schemas/CustomerIpAddress'
                              shipping:
                                $ref: '#/components/schemas/CustomerShipping3DSecure'
                          merchant:
                            $ref: '#/components/schemas/MerchantResponse'
                          transaction:
                            type: object
                            properties:
                              authSource:
                                $ref: '#/components/schemas/TransactionAuthSource'
                              hostResponse:
                                $ref: '#/components/schemas/HostResponse'
                              invoice:
                                $ref: '#/components/schemas/TransactionInvoice'
                              responseCode:
                                $ref: '#/components/schemas/TransactionResponseCode3DSStandalone'
                              retrievalReference:
                                $ref: '#/components/schemas/TransactionRetrievalReference'
                              avs:
                                $ref: '#/components/schemas/AVS'
                          threeDSecure:
                            type: object
                            properties:
                              trxId:
                                $ref: '#/components/schemas/ThreeDSecureTrxId'
                              cardholderInfo:
                                $ref: '#/components/schemas/ThreeDSecureCardholderInfo'
                              cryptogram:
                                $ref: '#/components/schemas/ThreeDSecureCryptogram'
                              programProtocol:
                                $ref: '#/components/schemas/ThreeDSecureProgramProtocol'
                              directoryServerTranId:
                                $ref: '#/components/schemas/ThreeDSecureDirectoryServerTranId'
                              ecommIndicator:
                                $ref: '#/components/schemas/ThreeDSecureEcommIndicator'
                              securityLevelIndicator:
                                $ref: '#/components/schemas/ThreeDSecureSecurityLevelIndicator'
                          receipt:
                            $ref: '#/components/schemas/ReceiptArray'
                          server:
                            $ref: '#/components/schemas/Server'
                          universalToken:
                            $ref: '#/components/schemas/UniversalToken'
                          cardBrandToken:
                            $ref: '#/components/schemas/CardBrandToken'
                      example:
                        dateTime: '2022-05-04T09:20:04.487-07:00'
                        amount:
                          tax: 15
                          total: 160
                        currencyCode: EUR
                        card:
                          entryMode: M
                          number: XXXXXXXXXXXX1119
                          present: N
                          securityCode:
                            result: M
                            valid: Y
                          token:
                            value: '8048471746471119'
                          type: VS
                        customer:
                          firstName: John
                          lastName: Smith
                          addressLine1: 65 Easy St
                          city: Las Vegas
                          postalCode: '65144'
                          emailAddress: firstname.lastname@email.com
                          ipAddress: 63.57.84.101
                        merchant:
                          mid: 15877
                          name: Merchant XYZ
                        threeDSecure:
                          trxId: a7bbd49a-ffe6-49b2-8a92-541f0a3b053d
                          cryptogram: AAAAAAAA/COBt84dnIEcwAA3gAAGhgEDoLABAAhAgAABAAAALnNCLw==
                          programProtocol: '2'
                          directoryServerTranId: 07e54000-2721-4df9-aa51-04fa0e079aa8
                          ecommIndicator: '5'
                        server:
                          name: TM01CE
                        transaction:
                          authSource: A
                          avs:
                            postalCodeVerified: N
                            result: A
                            streetVerified: Y
                            valid: Y
                          invoice: '730518'
                          responseCode: A
                          retrievalReference: 402F9H0230S0
                        receipt:
                        - key: CardEntryMode
                          printName: ENTRY METHOD
                          printValue: KEYED
                        - key: MaskedPAN
                          printValue: XXXXXXXXXXXX1119
                        - key: SignatureRequired
                          printValue: Y
                        - key: TransactionResponse
                          printName: Response
                          printValue: APPROVED
                - title: Device Fingerprint
                  properties:
                    result:
                      type: array
                      items:
                        type: object
                        required:
                        - dateTime
                        - amount
                        - currencyCode
                        - threeDSecure
                        - redirectUrl
                        properties:
                          dateTime:
                            $ref: '#/components/schemas/DateTime'
                          amount:
                            $ref: '#/components/schemas/Amount'
                          currencyCode:
                            $ref: '#/components/schemas/CurrencyCode'
                          card:
                            $ref: '#/components/schemas/CardResponse3DSChallenge'
                          customer:
                            type: object
                            properties:
                              firstName:
                                $ref: '#/components/schemas/CustomerFirstName'
                              lastName:
                                $ref: '#/components/schemas/CustomerLastName'
                              phoneNumber:
                                $ref: '#/components/schemas/CustomerPhoneNumber'
                              emailAddress:
                                $ref: '#/components/schemas/CustomerEmailAddress'
                              addressLine1:
                                $ref: '#/components/schemas/CustomerAddressLine1'
                              city:
                                $ref: '#/components/schemas/CustomerCity'
                              region:
                                $ref: '#/components/schemas/CustomerRegion'
                              postalCode:
                                $ref: '#/components/schemas/CustomerPostalCode'
                              country:
                                $ref: '#/components/schemas/CustomerCountry'
                              ipAddress:
                                $ref: '#/components/schemas/CustomerIpAddress'
                              shipping:
                                $ref: '#/components/schemas/CustomerShipping3DSecure'
                          merchant:
                            $ref: '#/components/schemas/MerchantResponse'
                          transaction:
                            type: object
                            properties:
                              authSource:
                                $ref: '#/components/schemas/TransactionAuthSource'
                              invoice:
                                $ref: '#/components/schemas/TransactionInvoice'
                              responseCode:
                                $ref: '#/components/schemas/TransactionResponseCode3DSFingerprint'
                              retrievalReference:
                                $ref: '#/components/schemas/TransactionRetrievalReference'
                          threeDSecure:
                            type: object
                            required:
                            - trxId
                            properties:
                              trxId:
                                $ref: '#/components/schemas/ThreeDSecureTrxId'
                          redirectUrl:
                            $ref: '#/components/schemas/RedirectURL3DSResponse'
                          server:
                            $ref: '#/components/schemas/Server'
                      example:
                        dateTime: '2022-05-04T09:20:04.487-07:00'
                        amount:
                          tax: 15
                          total: 160
                        currencyCode: EUR
                        card:
                          entryMode: M
                          number: XXXXXXXXXXXX1119
                          present: N
                          type: VS
                          token:
                            value: '8048471746471119'
                        customer:
                          firstName: John
                          lastName: Smith
                          addressLine1: 65 Easy St
                          city: Las Vegas
                          postalCode: '65144'
                          emailAddress: firstname.lastname@email.com
                          ipAddress: 63.57.84.101
                        merchant:
                          mid: 15877
                          name: Merchant XYZ
                        transaction:
                          authSource: A
                          invoice: '730518'
                          responseCode: H
                          retrievalReference: 402F9H0230S0
                        redirectUrl: https://issuer.com/fingerprint
                        threeDSecure:
                          trxId: a7bbd49a-ffe6-49b2-8a92-541f0a3b053d
                        server:
                          name: TM01CE
                - title: 3D Secure Challenge
                  properties:
                    result:
                      type: array
                      items:
                        type: object
                        required:
                        - dateTime
                        - amount
                        - currencyCode
                        - threeDSecure
                        - redirectUrl
                        properties:
                          dateTime:
                            $ref: '#/components/schemas/DateTime'
                          amount:
                            $ref: '#/components/schemas/Amount'
                          currencyCode:
                            $ref: '#/components/schemas/CurrencyCode'
                          card:
                            $ref: '#/components/schemas/CardResponse3DSChallenge'
                          customer:
                            type: object
                            properties:
                              firstName:
                                $ref: '#/components/schemas/CustomerFirstName'
                              lastName:
                                $ref: '#/components/schemas/CustomerLastName'
                              phoneNumber:
                                $ref: '#/components/schemas/CustomerPhoneNumber'
                              emailAddress:
                                $ref: '#/components/schemas/CustomerEmailAddress'
                              addressLine1:
                                $ref: '#/components/schemas/CustomerAddressLine1'
                              city:
                                $ref: '#/components/schemas/CustomerCity'
                              region:
                                $ref: '#/components/schemas/CustomerRegion'
                              postalCode:
                                $ref: '#/components/schemas/CustomerPostalCode'
                              country:
                                $ref: '#/components/schemas/CustomerCountry'
                              ipAddress:
                                $ref: '#/components/schemas/CustomerIpAddress'
                              shipping:
                                $ref: '#/components/schemas/CustomerShipping3DSecure'
                          merchant:
                            $ref: '#/components/schemas/MerchantResponse'
                          transaction:
                            type: object
                            properties:
                              authSource:
                                $ref: '#/components/schemas/TransactionAuthSource'
                              invoice:
                                $ref: '#/components/schemas/TransactionInvoice'
                              responseCode:
                                $ref: '#/components/schemas/TransactionResponseCode3DSChallenge'
                              retrievalReference:
                                $ref: '#/components/schemas/TransactionRetrievalReference'
                          threeDSecure:
                            type: object
                            required:
                            - trxId
                            properties:
                              trxId:
                                $ref: '#/components/schemas/ThreeDSecureTrxId'
                          redirectUrl:
                            $ref: '#/components/schemas/RedirectURL3DSResponse'
                          server:
                            $ref: '#/components/schemas/Server'
                      example:
                        dateTime: '2022-05-04T09:20:04.487-07:00'
                        amount:
                          tax: 15
                          total: 160
                        currencyCode: EUR
                        card:
                          entryMode: M
                          number: XXXXXXXXXXXX1119
                          present: N
                          type: VS
                          token:
                            value: '8048471746471119'
                        customer:
                          firstName: John
                          lastName: Smith
                          addressLine1: 65 Easy St
                          city: Las Vegas
                          postalCode: '65144'
                          emailAddress: firstname.lastname@email.com
                          ipAddress: 63.57.84.101
                        merchant:
                          mid: 15877
                          name: Merchant XYZ
                        transaction:
                          authSource: A
                          invoice: '730518'
                          responseCode: G
                          retrievalReference: 402F9H0230S0
                        redirectUrl: https://issuer.com/challenge
                        server:
                          name: TM01CE
        '400':
          $ref: '#/components/responses/ErrorResponse3DSecure'
        '504':
          $ref: '#/components/responses/TimeoutResponse'
  /3dsecure/completion:
    servers:
    - url: https://api.shift4test.com/api/rest/v1
      description: Host Direct Test URL
    - url: https://api.shift4api.net/api/rest/v1
      description: Host Direct Production URL
    post:
      tags:
      - 3D Secure
      summary: 3D Secure Completion
      operationId: 3dsecurecompletion
      security:
      - AccessToken: []
      description: 'This endpoint is utilized to send the status of the device fingerprint. This must be sent whenever the response to the 3D Secure Standalone results in a device fingerprint required.


        **Integration Methods:**

        - Host Direct


        See the Integration Methods and URLs Section sections of the Development Quick Start guide for details regarding each processing option.'
      parameters:
      - $ref: '#/components/parameters/InterfaceVersion'
      - $ref: '#/components/parameters/InterfaceName'
      - $ref: '#/components/parameters/CompanyName'
      - $ref: '#/components/parameters/AccessToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
              - dateTime
              - transaction
              - threeDSecure
              properties:
                dateTime:
                  $ref: '#/components/schemas/DateTime'
                merchant:
                  $ref: '#/components/schemas/MerchantResponse'
                transaction:
                  type: object
                  required:
                  - invoice
                  properties:
                    invoice:
                      $ref: '#/components/schemas/TransactionInvoice'
                threeDSecure:
                  type: object
                  required:
                  - trxId
                  - compInd
                  properties:
                    trxId:
                      $ref: '#/components/schemas/ThreeDSecureTrxId'
                    compInd:
                      $ref: '#/components/schemas/ThreeDSecureCompInd'
            example:
              dateTime: '2022-05-04T09:20:04.487-07:00'
              merchant:
                mid: 15877
                name: Merchant XYZ
              transaction:
                invoice: '730518'
              threeDSecure:
                trxId: a7bbd49a-ffe6-49b2-8a92-541f0a3b053d
                compInd: Y
      responses:
        '200':
          description: Transaction was processed
          content:
            application/json:
              schema:
                oneOf:
                - title: Transaction Complete
                  properties:
                    result:
                      type: array
                      items:
                        type: object
                        required:
                        - dateTime
                        - amount
                        - currencyCode
                        - card
                        - customer
                        - transaction
                        properties:
                          dateTime:
                            $ref: '#/components/schemas/DateTime'
                          amount:
                            $ref: '#/components/schemas/Amount'
                          currencyCode:
                            $ref: '#/components/schemas/CurrencyCode'
                          card:
                            $ref: '#/components/schemas/CardResponse'
                          customer:
                            type: object
                            properties:
                              firstName:
                                $ref: '#/components/schemas/CustomerFirstName'
                              lastName:
                                $ref: '#/components/schemas/CustomerLastName'
                              phoneNumber:
                                $ref: '#/components/schemas/CustomerPhoneNumber'
                              emailAddress:
                                $ref: '#/components/schemas/CustomerEmailAddress'
                              addressLine1:
                                $ref: '#/components/schemas/CustomerAddressLine1'
                              city:
                                $ref: '#/components/schemas/CustomerCity'
                              region:
                                $ref: '#/components/schemas/CustomerRegion'
                              postalCode:
                                $ref: '#/components/schemas/CustomerPostalCode'
                              country:
                                $ref: '#/components/schemas/CustomerCountry'
                              ipAddress:
                                $ref: '#/components/schemas/CustomerIpAddress'
                          merchant:
                            $ref: '#/components/schemas/MerchantResponse'
                          transaction:
                            type: object
                            properties:
                              authorizationCode:
                                $ref: '#/components/schemas/TransactionAuthorizationCode'
                              authSource:
                                $ref: '#/components/schemas/TransactionAuthSource'
                              hostResponse:
                                $ref: '#/components/schemas/HostResponse'
                              invoice:
                                $ref: '#/components/schemas/TransactionInvoice'
                              responseCode:
                                $ref: '#/components/schemas/TransactionResponseCode3DSStandalone'
                              retrievalReference:
                                $ref: '#/components/schemas/TransactionRetrievalReference'
                              saleFlag:
                                $ref: '#/components/schemas/TransactionSaleFlag'
                              avs:
                                $ref: '#/components/schemas/AVS'
                              cardOnFile:
                                $ref: '#/components/schemas/CardOnFile'
                          threeDSecure:
                            type: object
                            properties:
                              trxId:
                                $ref: '#/components/schemas/ThreeDSecureTrxId'
                              cardholderInfo:
                                $ref: '#/components/schemas/ThreeDSecureCardholderInfo'
                          receipt:
                            $ref: '#/components/schemas/ReceiptArray'
                          server:
                            $ref: '#/components/schemas/Server'
                          universalToken:
                            $ref: '#/components/schemas/UniversalToken'
                          cardBrandToken:
                            $ref: '#/components/schemas/CardBrandToken'
                      example:
                        dateTime: '2022-05-04T09:20:04.487-07:00'
                        amount:
                          tax: 15
                          total: 160
                        currencyCode: EUR
                        card:
                          entryMode: M
                          number: XXXXXXXXXXXX1119
                          present: N
                          securityCode:
                            result: M
                            valid: Y
                          token:
                            value: '8048471746471119'
                          type: VS
                        customer:
                          firstName: John
                          lastName: Smith
                          addressLine1: 65 Easy St
                          city: Las Vegas
                          postalCode: '65144'
                          emailAddress: firstname.lastname@email.com
                          ipAddress: 63.57.84.101
                        merchant:
                          mid: 15877
                          name: Merchant XYZ
                        server:
                          name: TM01CE
                        transaction:
                          authorizationCode: OK868Z
                          authSource: A
                          avs:
                            postalCodeVerified: N
                            result: A
                            streetVerified: Y
                            valid: Y
                          invoice: '730518'
                          responseCode: A
                          retrievalReference: 402F9H0230S0
                          saleFlag: S
                        receipt:
                        - key: CardEntryMode
                          printName: ENTRY METHOD
                          printValue: KEYED
                        - key: MaskedPAN
                          printValue: XXXXXXXXXXXX1119
                        - key: SignatureRequired
                          printValue: Y
                        - key: TransactionResponse
                          printName: Response
                          printValue: APPROVED
                - title: 3D Secure Challenge
                  properties:
                    result:
                      type: array
                      items:
                        type: object
                        required:
                        - dateTime
                        - amount
                        - currencyCode
                        - card
                        - customer
                        - transaction
                        - threeDSecure
                        - redirectUrl
                        properties:
                          dateTime:
                            $ref: '#/components/schemas/DateTime'
                          amount:
                            $ref: '#/components/schemas/Amount'
                          currencyCode:
                            $ref: '#/components/schemas/CurrencyCode'
                          card:
                            $ref: '#/components/schemas/CardResponse3DSChallenge'
                          customer:
                            type: object
                            properties:
                              firstName:
                                $ref: '#/components/schemas/CustomerFirstName'
                              lastName:
                                $ref: '#/components/schemas/CustomerLastName'
                              phoneNumber:
                                $ref: '#/components/schemas/CustomerPhoneNumber'
                              emailAddress:
                                $ref: '#/components/schemas/CustomerEmailAddress'
                              addressLine1:
                                $ref: '#/components/schemas/CustomerAddressLine1'
                              city:
                                $ref: '#/components/schemas/CustomerCity'
                              region:
                                $ref: '#/components/schemas/CustomerRegion'
                              postalCode:
                                $ref: '#/components/schemas/CustomerPostalCode'
                              country:
                                $ref: '#/components/schemas/CustomerCountry'
                              ipAddress:
                                $ref: '#/components/schemas/CustomerIpAddress'
                          merchant:
                            $ref: '#/components/schemas/MerchantResponse'
                          transaction:
                            type: object
                            properties:
                              authSource:
                                $ref: '#/components/schemas/TransactionAuthSource'
                              invoice:
                                $ref: '#/components/schemas/TransactionInvoice'
                              responseCode:
                                $ref: '#/components/schemas/TransactionResponseCode3DSChallenge'
                              retrievalReference:
                                $ref: '#/components/schemas/TransactionRetrievalReference'
                              saleFlag:
                                $ref: '#/components/schemas/TransactionSaleFlag'
                              cardOnFile:
                                $ref: '#/components/schemas/CardOnFile'
                          threeDSecure:
                            type: object
                            required:
                            - trxId
                            properties:
                              trxId:
                                $ref: '#/components/schemas/ThreeDSecureTrxId'
                          redirectUrl:
                            $ref: '#/components/schemas/RedirectURL3DSResponse'
                          server:
                            $ref: '#/components/schemas/Server'
                      example:
                        dateTime: '2022-05-04T09:20:04.487-07:00'
                        amount:
                          tax: 15
                          total: 160
                        currencyCode: EUR
                        card:
                          entryMode: M
                          number: XXXXXXXXXXXX1119
                          present: N
                          type: VS
                          token:
                            value: '8048471746471119'
                        customer:
                          firstName: John
                          lastName: Smith
                          addressLine1: 65 Easy St
                          city: Las Vegas
                          postalCode: '65144'
                          emailAddress: firstname.lastname@email.com
                          ipAddress: 63.57.84.101
                        merchant:
                          mid: 15877
                          name: Merchant XYZ
                        transaction:
                          authSource: A
                          invoice: '730518'
                          responseCode: G
                          retrievalReference: 402F9H0230S0
                          saleFlag: S
                        threeDSecure:
                          trxId: a7bbd49a-ffe6-49b2-8a92-541f0a3b053d
                        redirectUrl: https://issuer.com/challenge
                        server:
                          name: TM01CE
        '400':
          $ref: '#/components/responses/ErrorResponse3DSecure'
        '504':
          $ref: '#/components/responses/TimeoutResponse'
components:
  schemas:
    CustomerCountryThreeDSecure:
      type: string
      example: US
      maxLength: 2
      description: '2 character ISO Country Code. See the [ISO](https://www.iso.org/obp/ui/#search/code/) website for details.


        **Recommended for increasing the possibility of frictionless flow**

        '
    IIASAmounts:
      type: object
      properties:
        amount:
          $ref: '#/components/schemas/IIASAmount'
        type:
          $ref: '#/components/schemas/IIASType'
    IIASType:
      type: string
      minLength: 2
      maxLength: 2
      example: 4T
      enum:
      - 4O
      - 4S
      - 4T
      - 4U
      - 4V
      - 4W
      - 4X
      description: 'This code classifies eligible healthcare expenses.


        Value|Description

        -----|-----------

        4O   | Cash Disbursement (Discover Only) – Amount of Cash Back Being Requested

        4S   | Healthcare (Visa/MC Only) – Qualified Medical Expenses or Over-the-Counter

        4T   | Transit (Visa Only) – Transit Fare Media (e.g., Commuter and Parking Passes, Mass Transit Vouchers, and Tickets)

        4U   | RX (Visa/MC Only)

        4V   | Vision (Visa Only)

        4W   | Clinical (Visa Only)

        4X   | Dental (Visa Only)

        '
    ShippingPostalCodeThreeDSecure:
      type: string
      minLength: 5
      maxLength: 9
      example: '65144'
      description: 'Shipping address - Postal Code


        **Recommended for increasing the possibility of frictionless flow**

        '
    Amount:
      type: object
      description: 'Object containing information regarding the amount being requested. The `total` field within the object is required and specifies the amount being requested. All other fields are for informational purposes and must also be included in the `total` field. For example, a purchase of $100 with a $20 tip and $8 tax would be `128.00` in the `total` field, `20.00` in the `tip` field and `8.00` in the `tax` field.


        Note: For merchants that are configured to allow multiple currencies, the amount  fields can specify up to three decimal places. However, the number of decimal  places can not exceed the number allowed for the specified currency. See the [Currency Codes](/guides/appendices/currency-codes) section for details.

        '
      required:
      - total
      - tax
      properties:
        total:
          $ref: '#/components/schemas/AmountTotal'
        tax:
          $ref: '#/components/schemas/AmountTax'
        taxIndicator:
          $ref: '#/components/schemas/AmountTaxIndicator'
        cashback:
          $ref: '#/components/schemas/AmountCashback'
        iiasAmounts:
          $ref: '#/components/schemas/IIASAmountsArray'
        surcharge:
          $ref: '#/components/schemas/AmountSurcharge'
        tip:
          $ref: '#/components/schemas/AmountTip'
        checkTotal:
          $ref: '#/components/schemas/AmountCheckTotal'
    ThreeDSecureSecurityLevelIndicator:
      type: string
      example: '241'
      maxLength: 3
      description: 'This field contains the electronic commerce indicators representing the security level and cardholder authentication associated with the transaction. This field must be present in all Auth Request messages for electronic commerce transactions.


        First 2 positions:


        Value| Description

        -----|------------

        21   | Channel encryption; cardholder certificate not used (preferred value for Mastercard SecureCode, Identity Check, and all eCommerce)

        22   | Masterpass-generated transaction

        24   | Digital Secure Remote Payment (DSRP) with UCAF Data

        91   | No security protocol; cardholder certificate not used


        Third position:


        Value| Description

        -----|------------

        0    | UCAF Data collection is not supported by the merchant; or the merchant supports SecureCode or Identity Check but has chosen not to undertake it on this transaction; or authentication failed and merchant desires to proceed with the transaction.

        1    | UCAF data collection is supported by the merchant and UCAF data must be present and contain an attempt AAV

        2    | UCAF data collection is supported by the merchant and UCAF data must be present and contain a fully authenticated AAV

        3    | UCAF data collection is supported by the merchant and UCAF (Mastercard assigned Static Accountholder Authentication Value) data must be present. Note that the UCAF Data is required for Static AAV transactions. This value identifies participation in one of the following programs: Maestro Recurring Payments Program, Mastercard Utility Payment Program, Maestro Static AAV for Masterpass

        4    | Merchant has chosen to share authentication data within authorization; UCAF data collection not supported

        '
    ThreeDSecureTransType:
      type: string
      enum:
      - '01'
      - '03'
      - '10'
      - '11'
      - '28'
      example: '01'
      minLength: 2
      maxLength: 2
      description: "Identifies the type of transaction being authenticated. \nThe values are derived from ISO 8583.\n\nValue| Description\n-----|------------\n01   | Goods / Service purchase\n03   | Check Acceptance\n10   | Account Funding\n11   | Quasi-Cash Transaction\n28   | Prepaid activation and Loan\n"
    IIASAmountsArray:
      type: array
      writeOnly: true
      items:
        $ref: '#/components/schemas/IIASAmounts'
      example:
      - type: 4S
        amount: 75
      - type: 4W
        amount: 25
      description: '**Conditional: Send in the request if processing for a health care merchant.**


        For Vision related charges you must send only `iiasAmounts.type = 4V` and the corresponding `iiasAmounts.amount` value.


        For all other charges, the first entry in the array should have an amount representing the total of all healthcare costs, and `iiasAmounts.type = 4S`.  Any subsequent entries should contain the subtotal for each of the other expense types involved in this transaction.

        '
    UniversalToken:
      type: object
      properties:
        value:
          $ref: '#/components/schemas/UniversalTokenValue'
    ShippingCityThreeDSecure:
      type: string
      example: Las Vegas
      maxLength: 30
      description: 'Shipping address - City


        **Recommended for increasing the possibility of frictionless flow**

        '
    ThreeDSecureHeaderContent:
      type: string
      example: userAgent header
      maxLength: 255
      description: 'Exact content of the HTTP user-agent header.

        '
    CardOnFileTransactionLinkId:
      type: string
      maxLength: 22
      example: Z871868461726461879548
      description: 'A unique identifier assigned to each transaction to link related events throughout the transaction lifecycle. This field is supported for Mastercard brand only.


        For example, if a merchant runs a Sale on a card for the first time, they will receive a transactionLinkId back in the response.  A month later, when the merchant wants to perform an additional Sale with the card on file, they would send a Sale request including the transactionLinkId they received from the first sale.


        **Conditional: Must be sent in subsequent COF requests if you are not processing with a Global Token Vault token. If using Global Token Vault tokens then this field is not required**

        '
    CardTokenResponse:
      type: object
      properties:
        value:
          $ref: '#/components/schemas/CardTokenValue'
    CardOnFileRecurringFrequency:
      type: string
      example: '15'
      minLength: 1
      maxLength: 4
      description: 'Indicates the minimum number of days between authorizations.


        **Conditional: ''This field is required if it''s the first recurring transaction (`cardOnFile.type = S02`). This field is not needed if the transaction is not recurring or if the transaction is a subsequent recurring transaction.**

        '
    ThreeDSecureChallengeWindowSize:
      type: string
      enum:
      - '01'
      - '02'
      - '03'
      - '04'
      - '05'
      example: '05'
      minLength: 2
      maxLength: 2
      description: 'Dimensions of the challenge window that will be displayed to the cardholder. The issuer replies with content that is formatted to appropriately render in this window to provide the best possible user experience. Preconfigured window sizes are given in “width x height” in pixels.


        Value| Description

        -----|------------

        01   | 250 x 400

        02   | 390 x 400

        03   | 500 x 600

        04   | 600 x 400

        05   | Full screen

        '
    CustomerAddressLine2:
      type: string
      example: Apt 124
      maxLength: 30
      description: 'Customer address line 2.

        '
    CardTypeResp:
      type: string
      enum:
      - AX
      - AP
      - BC
      - CI
      - DB
      - GC
      - JC
      - MC
      - NS
      - PL
      - SC
      - VS
      - WP
      - YC
      example: VS
      description: "An abbreviation used to specify the type of card that was used when processing a transaction.\n\nValue| Description\n-----|------------\nAX   | American Express\nAP   | Alipay\nBC   | Backed Card       \nCI   | Citgo        \nDB   | Debit card\nGC   | Gift Card\nJC   | JCB\nMC   | Mastercard\nNS   | Discover/JCB/Novus\nPL   | Private Label\nSC   | Sears Canada\nVS   | Visa\nWP   | WeChat Pay\nYC   | IT’S YOUR CARD\n"
    CustomerRegionThreeDSecure:
      type: string
      maxLength: 3
      example: NV
      description: 'A level 2 country subdivision code according to ISO-3166-2.


        **Recommended for increasing the possibility of frictionless flow**

        '
    TransactionResponseCode3DSFingerprint:
      type: string
      minLength: 1
      maxLength: 1
      readOnly: true
      example: H
      enum:
      - H
      description: 'Response code indicating that the 3D Secure transaction requires device fingerprinting.


        Value  |Description

        -------|-----------

        H      | Device fingerprinting required. Issuer fingerprint URL returned in the redirectURL field. See [Handling Device Fingerprint Response](/guides/advanced-concepts/3d-secure#handling-device-fingerprint-response) for details on how to handle the Device Fingerprint process.

        '
    TransactionNotes:
      type: string
      maxLength: 4096
      example: Transaction notes are added here
      description: 'A free-form notes field that supports the use of HTML tags.  This can be used for reference in [Lighthouse Transaction Manager](https://ltm.shift4test.com/) and is not sent to the authorization host. Escaped quotation marks should not be sent in the Notes field.

        '
    CardLevelResult:
      type: string
      readOnly: true
      example: 2C
      minLength: 2
      maxLength: 2
      description: 'Classifies the type of card used in an authorization/sale request. This field is returned in a response if the data is provided by the processor. See [Card Level Results]/guides/appendices/card-level-results) for a complete list of values.

        '
    CustomerAddressLine1:
      type: string
      maxLength: 30
      example: 65 Easy St
      description: 'Cardholder’s street address exactly as it appears on their billing statement. This field is used in AVS.

        '
    Server:
      type: object
      readOnly: true
      properties:
        name:
          $ref: '#/components/schemas/ServerName'
    CustomerPhoneNumber:
      type: string
      example: '3110001234'
      maxLength: 32
      description: 'Customer phone number

        '
    CustomerRegion:
      type: string
      maxLength: 3
      example: NV
      description: 'A level 2 country subdivision code according to ISO-3166-2.

        '
    BalanceAmount:
      type: number
      readOnly: true
      maxLength: 14
      example: 24.33
      description: 'The balance remaining on the card.  Depending on which processor is being used, the balance may be returned for a gift card, debit card, EBT card, or other stored value card.

        '
    HostResponseReattemptPermission:
      type: string
      maxLength: 40
      example: Reattempt not permitted
      description: 'Returns one of the following values:


        Value                                   |Description

        ----------------------------------------|-----------

        Reattempt not permitted                 | Returned when the reasonCode returned is classified as a Category 1 response code.

        Reattempt permitted 15 times in 30 days | Returned when the reasonCode returned is classified as a Category 2 or Category 3 response code.

        Reattempts permitted                    | Returned when the reasonCode returned is classified as a Category 4 response code.

        '
    CardTokenRequired:
      type: object
      required:
      - value
      properties:
        value:
          $ref: '#/components/schemas/CardTokenValue'
    ThreeDSecureBrowserScreenWidth:
      type: integer
      example: 1920
      minLength: 1
      maxLength: 6
      description: 'Total height of the Cardholder''s screen in pixels.

        '
    RiskTransactionRequest:
      type: object
      description: '**Conditional: must be sent if [Risk Assessment](/apis/payments-platform-rest/openapi/risk/riskassess) was completed prior to processing the transaction.**

        '
      properties:
        tranId:
          $ref: '#/components/schemas/RiskTranIdRequest'
        assessment:
          $ref: '#/components/schemas/RiskAssessmentRequest'
    AmountTip:
      type: number
      maxLength: 14
      example: 20
      description: '**Conditional: Send in the request if a tip is included.**


        The tip amount of the transaction.

        '
    ShippingRegionThreeDSecure:
      type: string
      example: NV
      maxLength: 3
      description: 'Shipping address - A level 2 country subdivision code according to ISO-3166-2.


        **Recommended for increasing the possibility of frictionless flow**

        '
    CardBrandTokenAssuranceLevel:
      type: string
      readOnly: true
      example: '01'
      maxLength: 2
      description: 'This is a response field defined by the token service provider. This Visa, Discover, or Mastercard value indicates the assigned confidence level of the token-to-PAN/cardholder binding.

        '
    CardBrandTokenPANLast4:
      type: string
      readOnly: true
      example: '6810'
      maxLength: 4
      description: 'This is a response field that contains 4 characters that represent the last 4 digits of the actual cardholder PAN.

        '
    CardSecurityCodeIndicator:
      type: string
      minLength: 1
      maxLength: 1
      writeOnly: true
      example: '1'
      enum:
      - '0'
      - '1'
      - '2'
      - '9'
      description: 'This field indicates the presence of a CSC.


        Value|Description

        -----|-----------

        0    | CSC not provided by user.

        1    | CSC provided.

        2    | CSC illegible.

        9    | CSC not on card, or card did not have a CSC.

        '
    TransactionInvoice:
      type: string
      maxLength: 10
      example: 0510093358
      description: '10-digit invoice number assigned by the interface to identify a transaction. An invoice number serves as a unique key that identifies a transaction within a batch in Shift4''s Gateway.


        **Note: For US and Canadian processing: Although the invoice number is sent as a JSON string it is a numeric value. No alpha characters are allowed.**


        **For processing outside of the US and Canada alpha characters are allowed.**

        '
    CompletionURL3DSRequest:
      type: string
      example: https://merchant.com/completion
      description: 'Contains the merchant URL to which the browser should be  redirected after the challenge session.

        '
    CardBrandToken:
      type: object
      required:
      - requestorId
      properties:
        requestorId:
          $ref: '#/components/schemas/CardBrandTokenRequestorID'
        assuranceLevel:
          $ref: '#/components/schemas/CardBrandTokenAssuranceLevel'
        panLast4:
          $ref: '#/components/schemas/CardBrandTokenPANLast4'
        acctRangeStatus:
          $ref: '#/components/schemas/CardBrandTokenAcctRangeStatus'
    Error:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/ErrorCode'
        severity:
          $ref: '#/components/schemas/ErrorSeverity'
        shortText:
          $ref: '#/components/schemas/ErrorShortText'
        longText:
          $ref: '#/components/schemas/ErrorLongText'
        primaryCode:
          $ref: '#/components/schemas/ErrorPrimaryCode'
        secondaryCode:
          $ref: '#/components/schemas/ErrorSecondaryCode'
    ErrorSecondaryCode:
      type: integer
      maxLength: 4
      readOnly: true
      example: 0
      description: 'This code supplements the code specified in the `error.primaryCode` field to provide additional information about the error that occurred.

        '
    AVSStreetVerified:
      type: string
      minLength: 1
      maxLength: 1
      example: Y
      enum:
      - Y
      - N
      description: 'Identifies whether the street number was verified (‘Y’) or not (‘N’) in an AVS check with a processor.

        '
    ErrorSeverity:
      type: string
      enum:
      - Info
      - Error
      - Alert
      readOnly: true
      example: Info
      description: 'Severity level of the error.


        | Severity | Description                                                       |

        | -------- | ----------------------------------------------------------------  |

        | Info     | Action not required - Data input/formatting is incorrect          |

        | Error    | Action may be required - Communication, timeout or network issue  |

        | Alert    | Action required - System issue                                    |

        '
    ThreeDSecureBrowserJavaEnabled:
      type: boolean
      example: true
      description: 'Indicates whether the cardholder''s browser has the ability to execute Java.


        Value | Description

        ------|------------

        true  | Cardholder''s browser does have the ability to execute Java.

        false | Cardholder''s browser does not have the ability to execute Java.

        '
    AmountCheckTotal:
      type: number
      maxLength: 14
      writeOnly: true
      example: 200
      description: 'Optional field specifying the total amount of the entire bill/invoice that this transaction is part of. It can be larger than `amount.total` in scenarios where the check is being split or if a portion of the check was already paid in cash or another form of payment.

        '
    LighthouseDataResponse:
      type: string
      example: eyJwYXltZW50SWQiOiI4NWM0MWNhNy01NzVjLTQzNGUtODIyZi0xYzZlOTE0ZDAzODYiLCJyZW1haW5pbmdBbW91bnQiOjB9
      description: 'Base64 encoded JSON formatted data that will be returned from Lighthouse to be passed back to SkyTab. This data will contain variable information.

        '
    MerchantName:
      type: string
      maxLength: 22
      example: Merchant XYZ
      description: 'The merchant’s business name as configured with Shift4.

        '
    ReceiptArray:
      type: array
      items:
        $ref: '#/components/schemas/Receipt'
      example:
      - key: ApplicationIdentifier
        printName: AID
        printValue: A0000000031010
      - key: TerminalVerificationResults
        printName: TVR
        printValue: '8000'
      - key: IssuerApplicationData
        printName: IAD
        printValue: 06010A03A40002
      - key: TransactionStatusIndicator
        printName: TSI
        printValue: E800
      - key: AuthorizationResponseCode
        printName: ARC
        printValue: '00'
      - key: TransactionCurrencyCode
        printValue: USD$
      - key: ApplicationLabel
        printValue: CREDITO DE VISA
      description: 'Array of receipt key/value pairs that should be printed on the receipt.

        '
    3dsecure_standalone_token_gtv:
      title: GTV Token
      type: object
      required:
      - dateTime
      - amount
      - transaction
      - card
      - customer
      - currencyCode
      - threeDSecure
      - completionUrl
      properties:
        dateTime:
          $ref: '#/components/schemas/DateTime'
        amount:
          $ref: '#/components/schemas/AmountTotalOnly'
        currencyCode:
          $ref: '#/components/schemas/CurrencyCode'
        customer:
          type: object
          required:
          - firstName
          - lastName
          - emailAddress
          - ipAddress
          properties:
            firstName:
              $ref: '#/components/schemas/CustomerFirstName'
            lastName:
              $ref: '#/components/schemas/CustomerLastName'
            phoneNumber:
              $ref: '#/components/schemas/CustomerPhoneNumber'
            phoneCountry:
              $ref: '#/components/schemas/CustomerPhoneCountry'
            emailAddress:
              $ref: '#/components/schemas/CustomerEmailAddress'
            addressLine1:
              $ref: '#/components/schemas/CustomerAddressLine1ThreeDSecure'
            addressLine2:
              $ref: '#/components/schemas/CustomerAddressLine2'
            city:
              $ref: '#/components/schemas/CustomerCityThreeDSecure'
            region:
              $ref: '#/components/schemas/CustomerRegionThreeDSecure'
            postalCode:
              $ref: '#/components/schemas/CustomerPostalCodeThreeDSecure'
            country:
              $ref: '#/components/schemas/CustomerCountryThreeDSecure'
            ipAddress:
              $ref: '#/components/schemas/CustomerIpAddress'
            shipping:
              $ref: '#/components/schemas/CustomerShipping3DSecure'
        card:
          type: object
          required:
          - token
          properties:
            token:
              $ref: '#/components/schemas/CardTokenRequired'
            expirationDate:
              $ref: '#/components/schemas/CardExpirationDate'
            present:
              $ref: '#/components/schemas/CardPresent'
        transaction:
          type: object
          required:
          - invoice
          properties:
            invoice:
              $ref: '#/components/schemas/TransactionInvoice'
            notes:
              $ref: '#/components/schemas/TransactionNotes'
            vendorReference:
              $ref: '#/components/schemas/TransactionVendorReference'
            s4RiskId:
              $ref: '#/components/schemas/TransactionS4RiskIdRequest'
        threeDSecure:
          type: object
          required:
          - initiate
          - browser
          - headerContent
          - challengeWindowSize
          - transType
          - channel
          properties:
            initiate:
              $ref: '#/components/schemas/ThreeDSecureInitiateStandalone'
            browser:
              $ref: '#/components/schemas/ThreeDSecureBrowser'
            headerContent:
              $ref: '#/components/schemas/ThreeDSecureHeaderContent'
            challengeWindowSize:
              $ref: '#/components/schemas/ThreeDSecureChallengeWindowSize'
            transType:
              $ref: '#/components/schemas/ThreeDSecureTransType'
            channel:
              $ref: '#/components/schemas/ThreeDSecureChannel'
            addressMatch:
              $ref: '#/components/schemas/ThreeDSecureAddressMatch'
            reqChallengeInd:
              $ref: '#/components/schemas/ThreeDSecureReqChallengeInd'
        completionUrl:
          $ref: '#/components/schemas/CompletionURL3DSRequest'
        risk:
          $ref: '#/components/schemas/RiskTransactionRequest'
        apiOptions:
          $ref: '#/components/schemas/ApiOptions'
      example:
        dateTime: '2022-05-04T09:18:23.283-07:00'
        amount:
          total: 160
        currencyCode: EUR
        customer:
          firstName: John
          lastName: Smith
          addressLine1: 65 Easy St
          city: Las Vegas
          postalCode: '65144'
          emailAddress: firstname.lastname@email.com
          ipAddress: 63.57.84.101
        card:
          token:
            value: '8048471746471119'
          expirationDate: 1225
          present: N
        transaction:
          invoice: '730518'
          notes: Transaction notes are added here
        threeDSecure:
          initiate: '03'
          browser:
            acceptHeader: text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8
            javaEnabled: true
            javascriptEnabled: true
            language: en-GB
            colorDepth: '48'
            screenWidth: 1920
            screenHeight: 1080
            tz: -480
          headerContent: userAgent header
          challengeWindowSize: '05'
          transType: '01'
          channel: '02'
        completionUrl: https://merchant.com/completion
        apiOptions:
        - ALLOWPARTIALAUTH
    TransactionS4RiskIdRequest:
      type: string
      example: EC52377F-5A8E-4534-BE7A-CF779A35BE45
      description: 'Unique transaction identification number generated by Shift4 to identify a specific risk transaction and a field that can be searched in LTM.



        **Conditional: must be sent if [Risk Assessment](/apis/payments-platform-rest/openapi/risk/riskassess) was completed prior to processing the transaction.**

        '
    CardResponse:
      type: object
      properties:
        entryMode:
          $ref: '#/components/schemas/CardEntryMode'
        expirationDate:
          $ref: '#/components/schemas/CardExpirationDateResponse'
        levelResult:
          $ref: '#/components/schemas/CardLevelResult'
        number:
          $ref: '#/components/schemas/CardMaskedNumber'
        present:
          $ref: '#/components/schemas/CardPresent'
        type:
          $ref: '#/components/schemas/CardTypeResp'
        balance:
          $ref: '#/components/schemas/CardBalance'
        securityCode:
          $ref: '#/components/schemas/CardSecurityCodeResponse'
        token:
          $ref: '#/components/schemas/CardTokenResponse'
        debitType:
          $ref: '#/components/schemas/CardDebitType'
    MerchantMID:
      type: number
      maxLength: 10
      example: 15877
      description: 'The merchant ID associated with the merchant account.

        '
    ErrorLongText:
      type: string
      maxLength: 255
      readOnly: true
      example: Card type not recognized
      description: 'Extended error message that is returned if an error condition exists.

        '
    AmountTax:
      type: number
      maxLength: 14
      example: 15
      description: 'The amount of sales tax charged for a transaction. The tax amount is used by businesses to track tax expenses for accounting purposes. Identifying the tax amount also helps consumers understand the total amount that they were billed.  This field is part of Level 2 card data.

        '
    MerchantResponse:
      type: object
      properties:
        mid:
          $ref: '#/components/schemas/MerchantMID'
        name:
          $ref: '#/components/schemas/MerchantName'
    ThreeDSecureProgramProtocol:
      type: string
      enum:
      - '1'
      - '2'
      - '3'
      - '4'
      - '5'
      - '6'
      - '7'
      - '8'
      - '9'
      example: '2'
      maxLength: 1
      description: "Indicates the 3D Secure protocol version. \n\n**Required when processing for merchants in the United States. For merchants outside of the United States use the `threeDSecure.version` field instead.**\n\n |Value| Description\n |-----|----------------------------|\n | 1   | EMV 3-D Secure Version 2.1 |\n | 2   | EMV 3-D Secure Version 2.2 |\n | 3   | EMV 3-D Secure Version 2.3 |\n | 4   | EMV 3-D Secure Version 2.4 |\n | 5   | EMV 3-D Secure Version 2.5 |\n | 6   | EMV 3-D Secure Version 2.6 |\n | 7   | EMV 3-D Secure Version 2.7 |\n | 8   | EMV 3-D Secure Version 2.8 |\n | 9   | EMV 3-D Secure Version 2.9 |\n"
    CustomerFirstName:
      type: string
      maxLength: 30
      example: John
      description: 'Specifies a consumer’s first name. This field is used in AVS. If the interface sends this field, the value specified by the interface will be returned in the response, unless the API Option [USECARDNAME](/guides/appendices/api-options#usecardname) is included in the request and a Commerce Engine or UTG-controlled PIN pad is in use. If the interface does not send the `customer` object, the consumer''s name will be returned in the `customer` object if the name is present in the card''s EMV or track data.

        '
    ShippingAddressLine1ThreeDSecure:
      type: string
      example: 65 Easy St
      maxLength: 30
      description: 'Shipping street address - Line 1


        **Recommended for increasing the possibility of frictionless flow**

        '
    CardSecurityCodeValid:
      type: string
      minLength: 1
      maxLength: 1
      readOnly: true
      example: Y
      description: '**Conditional: Returned if `card.securityCode.indicator` and `card.securityCode.value` are sent in the request.**


        A simplified CSC check result based on the value in the `card.securityCode.result` field and the merchant’s accepted verification results as configured with Shift4. The value returned will be ‘Y’ if CSC verification passed or ‘N’ if CSC verification did not pass.

        '
    ThreeDSecureBrowserTZ:
      type: integer
      example: -480
      minLength: 1
      maxLength: 5
      description: 'Time difference between UTC time and the Cardholder browser local time, in minutes.

        '
    CustomerPhoneCountry:
      type: string
      example: '1'
      minLength: 1
      maxLength: 3
      description: "Country calling code of the phone number. \n\nRequired when sending `customer.phoneNumber`.\n"
    TransactionRetrievalReference:
      type: string
      readOnly: true
      maxLength: 12
      example: 402F9H0230S0
      description: 'Reference retrieval number assigned by the authorizing agency. This value is printed on some receipts.

        '
    CardSecurityCodeValue:
      type: string
      maxLength: 4
      writeOnly: true
      example: '333'
      description: 'The three- or four-digit Card Security Code found on a payment card. This value should only be sent in an initial sale/authorization request. It should not be stored by the interface. When sending `card.securityCode.value`, `card.securityCode.indicator` must also be sent.

        '
    Receipt:
      type: object
      properties:
        key:
          type: string
          maxLength: 100
          example: ApplicationIdentifier
          description: 'The identifier the interface vendor can use to programmatically determine where to print a specific value.

            '
        printName:
          type: string
          maxLength: 100
          example: AID
          description: 'The label that relates to the `printValue` field. When present in the response, this must be printed to the left of the `printValue`.

            '
        printValue:
          type: string
          maxLength: 350
          example: AID
          description: 'The value that relates to the `printName` field. This must be printed to the right of the `printName`.

            '
    ThreeDSecureChannel:
      type: string
      enum:
      - '01'
      - '02'
      - '03'
      example: '02'
      minLength: 2
      maxLength: 2
      description: 'Indicates the type of channel interface being used to initiate the transaction.


        Value| Description

        -----|------------

        01   | App-based (APP)

        02   | Browser (BRW)

        03   | 3DS Requestor Initiated (3RI)

        '
    CardPresent:
      type: string
      enum:
      - Y
      - N
      example: Y
      description: '**Conditional: Send in the initial authorization/sale request**


        Indicates whether a card was present (‘Y’) or not (‘N’) at the time a transaction took place. This should be set appropriately in the initial authorization/sale request.  In subsequent requests, this field should be left blank or should not be sent.


        **Note:** Subsequent request here does not apply to the secondary request for card on file type transactions or reuse of the same card. An example of a subsequent request would be a capture after an authorization. You would not include `card.present` in the capture, which is the subsequent request. Another example is when performing an incremental authorization where you perform an authorization, followed by an incremental authorization then a capture. The second authorization (incremental) and the capture are the subsequent requests where you would not include `card.present`.

        '
    TransactionVendorReference:
      type: string
      maxLength: 50
      example: 12382-01
      description: 'Optional field for information that can be searched in the merchant portal.

        '
    CustomerCityThreeDSecure:
      type: string
      example: Las Vegas
      maxLength: 30
      description: 'Customer address city.


        **Recommended for increasing the possibility of frictionless flow**

        '
    AmountTaxIndicator:
      type: string
      maxLength: 1
      enum:
      - Y
      - N
      example: Y
      description: 'Value|Description

        -----|-----------

        Y    | Tax is included

        N    | Tax is not included

        '
    ThreeDSecureCardholderInfo:
      type: string
      example: We+were+unable+to+confirm+your+payment.Please+contact+us+on+0800+121+4251+quoting+the+reference+AL01
      description: 'Provides additional information to the customer in particular cases when 3D secure Authentication failed.

        '
    CurrencyCode:
      type: string
      format: ISO 4217 3 Character Alphabetic Code
      example: USD
      description: 'Transaction currency code. See the [Currency Codes](/guides/appendices/currency-codes) section for details.


        **Note: This is currently supported when processing for a merchant outside of the US and Canada. If processing for a US or Canadian merchant then this field will be ignored and the transaction will process in the merchant''s configured currency.**

        '
    CustomerCity:
      type: string
      example: Las Vegas
      maxLength: 30
      description: 'Customer address city.

        '
    ThreeDSecureEcommIndicator:
      type: string
      enum:
      - '5'
      - '6'
      - '7'
      example: '5'
      maxLength: 1
      description: 'E-commerce Indicator as provided by the application generating the cryptogram.


        Value| Description

        -----|------------

        5    | Secure electronic commerce transaction

        6    | Authentication attempted, non-authenticated security transaction

        7    | Non-authenticated Security Transaction

        '
    HostResponseReasonCode:
      type: string
      maxLength: 3
      example: '04'
      description: "Returns a response code from the host.\n\nValue |Category|Description\n------|--------|-----------\n04    |      1 | Pick Up Card\n07    |      1 | Pick Up Card, Special Condition\n12    |      1 | Invalid Transaction\n15    |      1 | No Such Issuer\n41    |      1 | Lost Card\n43    |      1 | Stolen Card\n46    |      1 | Closed Account        \n57    |      1 | Trans. not Permitted to Cardholder\nR0    |      1 | Stop Payment Order\nR1    |      1 | Revocation of Auth Order\nR3    |      1 | Revocation of all Authorization \n03    |      2 | Invalid Merchant\n19    |      2 | Re-enter Transaction\n51    |      2 | Not sufficient funds\n59    |      2 | Suspected Fraud\n61    |      2 | Exceeds approval amount limit\n62    |      2 | Restricted Card (card invalid in region or country)\n65    |      2 | Exceeds withdrawal frequency limit\n75    |      2 | Allowable number of PIN-entry tried exceeded\n78    |      2 | Blocked, first used\n86    |      2 | Cannot Verify PIN\n91    |      2 | Issuer or switch inoperative\n93    |      2 | Transaction cannot be completed - violation of law \n96    |      2 | System malfunction\nN3    |      2 | Cash service not available\nN4    |      2 | Cash request exceeds issuer of approved limit\n14    |      3 | Invalid Account\n54    |      3 | Expired card or expiration date missing\n55    |      3 | PIN incorrect or missing\n70    |      3 | PIN data required\n82    |      3 | Negative Online CAM, dCVV, iCVV, or CVV results\n1A    |      3 | Additional customer authentication required\nN7    |      3 | Decline for CVV2 Failure\n05    |      4 | Do not honor\n06    |      4 | General error \n08    |      4 | Honor MasterCard with ID\n13    |      4 | Invalid amount \n21    |      4 | Invalid amount\n30    |      4 | Format error\n39    |      4 | No credit account\n52    |      4 | No checking account\n53    |      4 | No savings account\n58    |      4 | Transaction not permitted-Terminal\n63    |      4 | Security violation \n66    |      4 | Card Acceptor call Acquirer’s security dept\n67    |      4 | Hard capture (requires ATM pick-up)\n68    |      4 | Response received too late\n71    |      4 | PIN Not Changed\n76    |      4 | Unsolicited reversal\n77    |      4 | Invalid Data including AVS failures.\n79    |      4 | Already reversed at switch\n80    |      4 | No Financial impact\n81    |      4 | Cryptographic error \n92    |      4 | Unable to route transaction\n94    |      4 | Duplicate Transaction\nB1    |      4 | Surcharge amount not permitted on debit cards or EBTfoodstamps\nB2    |      4 | Surcharge amount not supported by debit network issuer \nCV    |      4 | Card Type VerificationError\nEA    |      4 | Acct Length Err\nEB    |      4 | Check Digit Err\nEC    |      4 | CID Format Error\nHV    |      4 | Hierarchy Verification Error\nN0    |      4 | Force STIP\nP5    |      4 | PIN Change/Unblock failed\nP6    |      4 | New PIN not accepted\nZ3    |      4 | Unable to go online; offline-declined\n\\-38  |      4 | The transaction has been denied by the Gateway because 3D secure Authentication failed. Reason: {}<br><br>Note: The “Reason” part is optional and may appear according to detected reason. |\nD2    |      4 | Decline Retry Later\n\nAll other, generic declines may be classified as a Category 4 response code.\n"
    ThreeDSecureBrowserColorDepth:
      type: string
      enum:
      - '1'
      - '4'
      - '8'
      - '15'
      - '16'
      - '24'
      - '32'
      - '48'
      example: '48'
      minLength: 1
      maxLength: 2
      description: 'Value representing the bit depth of the colour palette for displaying images, in bits per pixel. Accepted values are:


        Value| Description

        -----|------------

        1    | 1 bit

        4    | 4 bits

        8    | 8 bits

        15   | 15 bits

        16   | 16 bits

        24   | 24 bits

        32   | 32 bits

        48   | 48 bits

        '
    CustomerIpAddress:
      type: string
      maxLength: 20
      example: 63.57.84.101
      description: 'Public source IP Address where the request originates, not the IP Address of the web server.

        '
    TransactionResponseCode3DSChallenge:
      type: string
      minLength: 1
      maxLength: 1
      readOnly: true
      example: G
      enum:
      - G
      description: 'Response code indicating that the 3D Secure transaction requires a challenge.


        Value  |Description

        -------|-----------

        G      | 3D Secure challenge required. Issuer challenge URL returned in the redirectURL field.

        '
    TransactionAuthSource:
      type: string
      minLength: 1
      maxLength: 1
      readOnly: true
      example: E
      enum:
      - E
      - O
      - A
      - F
      description: "In a response, a code returned by the processor to indicate which host issued the response.\n\nValue  | Description       \n-------|----------------------------\nE      | Engine (Online)\nO      | Offline\nA      | APM (Online)\nF      | Payment Platform (Online)\n"
    ThreeDSecureInitiateStandalone:
      type: string
      enum:
      - '01'
      - '03'
      writeOnly: true
      example: '03'
      description: 'Indicates whether to initiate the 3D Secure authentication process


        Value| Description

        -----|------------

        01   | Force 3D Secure authentication

        03   | Initiate 3D Secure according to the 3D Secure Adviser result

        '
    HostResponseReasonCode3DSecure:
      type: string
      example: '1'
      description: "Returns a response code from the host.\n\n| Value | Description                                                                         |\n| ----- | ----------------------------------------------------------------------------------- |\n| \\-69  | Transaction has been declined. Invalid 3ds\\_version parameter.                      |\n| \\-68  | Authentication process timed out. Please try again.                                 |\n| \\-66  | Invalid combination of 3ds values                                                   |\n| \\-65  | Merhant is not allowed for this exemption                                           |\n| \\-64  | Exemption is not allowed for this transaction amount                                |\n| \\-63  | Merchant is not enrolled to 3D-secure service.                                      |\n| \\-50  | An error occurred during the 3D secure process                                      |\n| \\-39  | You need to be registered with the 3D Adviser service to complete the request       |\n| \\-37  | Transaction has been denied. Malformed or missing parameter.                        |\n| \\-36  | The selected processor does not support some of the parameters.                     |\n| \\-35  | Merchant is not registered.                                                         |\n| \\-33  | You need to be registered with the routing service to complete the routing request. |\n| \\-32  | You are not registered with the selected Processor.                                 |\n| \\-30  | Transaction Failed due to error in 3D secure process.                               |\n| \\-20  | Authentication error. Please contact support.                                       |\n| \\-17  | Selected service is unavailable                                                     |\n| \\-16  | Selected service is unavailable                                                     |\n| \\-15  | Selected service is unavailable                                                     |\n| \\-13  | Merchant is not enrolled in the 3D Secure Adviser service.                          |\n| \\-12  | Transaction has been declined due to security restrictions.                         |\n| \\-11  | Rejected. Format Error                                                              |\n| \\-10  | System error. Please contact support.                                               |\n| \\-9   | Parameter(s) malformed                                                              |\n| \\-8   | Parameter(s) malformed                                                              |\n| \\-7   | Please contact support.                                                             |\n| 1     | Transaction not allowed                                                             |\n| 2     | Transaction not allowed                                                             |\n| 3     | Transaction not allowed                                                             |\n| 4     | Transaction not allowed                                                             |\n| 7     | The transaction was declined by the gateway and will not be processed.              |\n| 9     | The transaction has been denied.                                                    |\n| 11    | The queried transaction is currently being processed. Please try again.             |\n| 13    | The transaction has been denied.                                                    |\n| 15    | The transaction has been denied.   \n"
    ThreeDSecureBrowserJavascriptEnabled:
      type: boolean
      example: true
      description: 'Indicates whether the cardholder''s browser has the ability to execute Javascript.


        Value | Description

        ------|------------

        true  | Cardholder''s browser does have the ability to execute Javascript.

        false | Cardholder''s browser does not have the ability to execute Javascript.

        '
    CardResponse3DSChallenge:
      type: object
      properties:
        entryMode:
          $ref: '#/components/schemas/CardEntryMode'
        number:
          $ref: '#/components/schemas/CardMaskedNumber'
        expirationDate:
          $ref: '#/components/schemas/CardExpirationDateResponse'
        present:
          $ref: '#/components/schemas/CardPresent'
        type:
          $ref: '#/components/schemas/CardTypeResp'
        token:
          $ref: '#/components/schemas/CardTokenResponse'
    CardNumber:
      type: string
      maxLength: 32
      example: '4321000000001119'
      description: 'The payment card number entered in an initial authorization/sale request. This field will always be masked when returned in a response.

        '
    ErrorShortText:
      type: string
      maxLength: 16
      readOnly: true
      example: NOT IN CARDRANGE
      description: 'Abbreviated error message that is always returned if an error condition exists

        '
    CustomerAddressLine1ThreeDSecure:
      type: string
      maxLength: 30
      example: 65 Easy St
      description: 'Cardholder’s street address exactly as it appears on their billing statement. This field is used in AVS.


        **Recommended for increasing the possibility of frictionless flow**

        '
    AVSPostalCodeVerified:
      type: string
      minLength: 1
      maxLength: 1
      example: Y
      enum:
      - Y
      - N
      description: 'Identifies whether the ZIP/postal code was verified (‘Y’) or not (‘N’) in an AVS check with a processor.

        '
    AVSResult:
      type: string
      minLength: 1
      maxLength: 1
      example: X
      enum:
      - A
      - E
      - G
      - N
      - R
      - S
      - U
      - W
      - X
      - Y
      - Z
      - '1'
      - '2'
      - '3'
      - '4'
      - '5'
      - '6'
      - '7'
      - '8'
      description: 'Identifies the response code returned from an Address Verification System (AVS) check with a processor.


        Value|Description

        -----|-----------

        A    | Street address matched, but ZIP/postal code did not match.

        E    | Error (AVS data is invalid or not allowed).

        G    | Card issuer does not participate in AVS.

        N    | No street address and no ZIP/postal code match.

        R    | Card issuer system is unavailable.

        S    | AVS service not supported.

        U    | Street address information unavailable.

        W    | Street address did not match, but ZIP/postal code matched.

        X    | Street address and 9-digit ZIP/postal code matched.

        Y    | Street address and 5-digit ZIP code matched.

        Z    | Only the ZIP/postal code matched.

        1    | Cardholder name and ZIP match

        2    | Cardholder name, address, and ZIP match

        3    | Cardholder name, address match

        4    | Cardholder name matches

        5    | Cardholder name incorrect, ZIP matches

        6    | Cardholder name incorrect; address and ZIP match

        7    | Cardholder name incorrect; address matches

        8    | Cardholder name, address, and ZIP do not match

        '
    AmountTotal:
      type: number
      maxLength: 14
      example: 160
      description: 'The amount being charged for a particular transaction. If other amount fields are sent, they must be included in the total amount. Amount cannot be zero.

        '
    ThreeDSecureTrxId:
      type: string
      example: a7bbd49a-ffe6-49b2-8a92-541f0a3b053d
      maxLength: 36
      description: 'The assigned 3D Secure transaction ID

        '
    ShippingAddressLine2:
      type: string
      example: c/o John Doe
      maxLength: 30
      description: 'Shipping street address - Line 2

        '
    CardMaskedNumber:
      type: string
      maxLength: 32
      example: XXXXXXXXXXXX1119
      description: 'The card number field will always be masked when returned in a response.

        '
    3dsecure_standalone_cardnumber:
      title: Card Number
      type: object
      required:
      - dateTime
      - amount
      - transaction
      - card
      - customer
      - currencyCode
      - threeDSecure
      - completionUrl
      properties:
        dateTime:
          $ref: '#/components/schemas/DateTime'
        amount:
          $ref: '#/components/schemas/AmountTotalOnly'
        currencyCode:
          $ref: '#/components/schemas/CurrencyCode'
        customer:
          type: object
          required:
          - firstName
          - lastName
          - emailAddress
          - ipAddress
          properties:
            firstName:
              $ref: '#/components/schemas/CustomerFirstName'
            lastName:
              $ref: '#/components/schemas/CustomerLastName'
            phoneNumber:
              $ref: '#/components/schemas/CustomerPhoneNumber'
            phoneCountry:
              $ref: '#/components/schemas/CustomerPhoneCountry'
            emailAddress:
              $ref: '#/components/schemas/CustomerEmailAddress'
            addressLine1:
              $ref: '#/components/schemas/CustomerAddressLine1ThreeDSecure'
            addressLine2:
              $ref: '#/components/schemas/CustomerAddressLine2'
            city:
              $ref: '#/components/schemas/CustomerCityThreeDSecure'
            region:
              $ref: '#/components/schemas/CustomerRegionThreeDSecure'
            postalCode:
              $ref: '#/components/schemas/CustomerPostalCodeThreeDSecure'
            country:
              $ref: '#/components/schemas/CustomerCountryThreeDSecure'
            ipAddress:
              $ref: '#/components/schemas/CustomerIpAddress'
            shipping:
              $ref: '#/components/schemas/CustomerShipping3DSecure'
        card:
          type: object
          required:
          - number
          - expirationDate
          properties:
            number:
              $ref: '#/components/schemas/CardNumber'
            expirationDate:
              $ref: '#/components/schemas/CardExpirationDate'
            present:
              $ref: '#/components/schemas/CardPresent'
            securityCode:
              type: object
              description: '**Conditional: Send when processing a 3D Secure transaction in the US. This object should be sent for initial card on file request but is not required for subsequent merchant initiated  charges.**

                '
              required:
              - indicator
              - value
              properties:
                indicator:
                  $ref: '#/components/schemas/CardSecurityCodeIndicator'
                value:
                  $ref: '#/components/schemas/CardSecurityCodeValue'
        transaction:
          type: object
          required:
          - invoice
          properties:
            invoice:
              $ref: '#/components/schemas/TransactionInvoice'
            notes:
              $ref: '#/components/schemas/TransactionNotes'
            vendorReference:
              $ref: '#/components/schemas/TransactionVendorReference'
            s4RiskId:
              $ref: '#/components/schemas/TransactionS4RiskIdRequest'
        threeDSecure:
          type: object
          required:
          - initiate
          - browser
          - headerContent
          - challengeWindowSize
          - transType
          - channel
          properties:
            initiate:
              $ref: '#/components/schemas/ThreeDSecureInitiateStandalone'
            browser:
              $ref: '#/components/schemas/ThreeDSecureBrowser'
            headerContent:
              $ref: '#/components/schemas/ThreeDSecureHeaderContent'
            challengeWindowSize:
              $ref: '#/components/schemas/ThreeDSecureChallengeWindowSize'
            transType:
              $ref: '#/components/schemas/ThreeDSecureTransType'
            channel:
              $ref: '#/components/schemas/ThreeDSecureChannel'
            addressMatch:
              $ref: '#/components/schemas/ThreeDSecureAddressMatch'
            reqChallengeInd:
              $ref: '#/components/schemas/ThreeDSecureReqChallengeInd'
        completionUrl:
          $ref: '#/components/schemas/CompletionURL3DSRequest'
        risk:
          $ref: '#/components/schemas/RiskTransactionRequest'
        apiOptions:
          $ref: '#/components/schemas/ApiOptions'
      example:
        dateTime: '2022-05-04T09:18:23.283-07:00'
        amount:
          total: 160
        currencyCode: EUR
        customer:
          firstName: John
          lastName: Smith
          addressLine1: 65 Easy St
          city: Las Vegas
          postalCode: '65144'
          emailAddress: firstname.lastname@email.com
          ipAddress: 63.57.84.101
        card:
          number: '4012000098765439'
          expirationDate: 1225
          present: N
        transaction:
          invoice: '730518'
          notes: Transaction notes are added here
        threeDSecure:
          initiate: '03'
          browser:
            acceptHeader: text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8
            javaEnabled: true
            javascriptEnabled: true
            language: en-GB
            colorDepth: '48'
            screenWidth: 1920
            screenHeight: 1080
            tz: -480
          headerContent: userAgent header
          challengeWindowSize: '05'
          transType: '01'
          channel: '02'
        completionUrl: https://merchant.com/completion
        apiOptions:
        - ALLOWPARTIALAUTH
    IIASAmount:
      type: number
      maxLength: 14
      example: 34
      description: 'The subtotal for this type of healthcare expenses.

        '
    CardBrandTokenRequestorID:
      type: string
      writeOnly: true
      example: '12345678901'
      maxLength: 12
      description: 'This field uniquely identifies the pairing of token requestor with the token domain. It is assigned by the token service provider and is unique within the token vault.


        For Apple Pay requests, this is mapped from the `token.paymentData.data.deviceManufacturerIdentifier` field

        '
    CustomerPostalCodeThreeDSecure:
      type: string
      minLength: 1
      maxLength: 9
      example: '65144'
      description: 'Cardholder’s ZIP/postal code from their billing statement. This field is used in AVS. Do not include special characters.


        **Note: This field only allows alphanumeric characters (a-z, A-Z, 0-9). Special characters including - are not allowed. If you are sending in zip+4 you must not include the dash so 89134-1234 would be sent as 891341234**


        **Recommended for increasing the possibility of frictionless flow**

        '
    CustomerPostalCode:
      type: string
      minLength: 1
      maxLength: 9
      example: '65144'
      description: 'Cardholder’s ZIP/postal code from their billing statement. This field is used in AVS. Do not include special characters.


        **Note: This field only allows alphanumeric characters (a-z, A-Z, 0-9). Special characters including - are not allowed. If you are sending in zip+4 you must not include the dash so 89134-1234 would be sent as 891341234**

        '
    ThreeDSecureCompInd:
      type: string
      enum:
      - Y
      - N
      - U
      example: Y
      minLength: 1
      maxLength: 1
      description: 'Indicates whether or not the device fingerprint was completed successfully.


        Value| Description

        -----|------------

        Y    | Yes

        N    | No

        U    | Unknown

        '
    ThreeDSecureBrowser:
      type: object
      required:
      - acceptHeader
      - javaEnabled
      - javascriptEnabled
      - language
      - colorDepth
      - screenWidth
      - screenHeight
      - tz
      properties:
        acceptHeader:
          $ref: '#/components/schemas/ThreeDSecureBrowserAcceptHeader'
        javaEnabled:
          $ref: '#/components/schemas/ThreeDSecureBrowserJavaEnabled'
        javascriptEnabled:
          $ref: '#/components/schemas/ThreeDSecureBrowserJavascriptEnabled'
        language:
          $ref: '#/components/schemas/ThreeDSecureBrowserLanguage'
        colorDepth:
          $ref: '#/components/schemas/ThreeDSecureBrowserColorDepth'
        screenWidth:
          $ref: '#/components/schemas/ThreeDSecureBrowserScreenWidth'
        screenHeight:
          $ref: '#/components/schemas/ThreeDSecureBrowserScreenHeight'
        tz:
          $ref: '#/components/schemas/ThreeDSecureBrowserTZ'
    ServerName:
      type: string
      maxLength: 50
      example: TM01CE
      description: 'The name of the server that processed the request.

        '
    RiskTranIdRequest:
      type: string
      example: DDWT0P3LG6LL
      description: 'The risk tranId value received in the [Risk Assessment](/apis/payments-platform-rest/openapi/risk/riskassess) response.


        **Conditional: must be sent if [Risk Assessment](/apis/payments-platform-rest/openapi/risk/riskassess) was completed prior to processing the transaction.**

        '
    AVS:
      type: object
      readOnly: true
      properties:
        postalCodeVerified:
          $ref: '#/components/schemas/AVSPostalCodeVerified'
        result:
          $ref: '#/components/schemas/AVSResult'
        streetVerified:
          $ref: '#/components/schemas/AVSStreetVerified'
        valid:
          $ref: '#/components/schemas/AVSValid'
    CardSecurityCodeResponse:
      type: object
      description: '**Conditional: Returned if card.securityCode was sent in the request.**

        '
      properties:
        result:
          $ref: '#/components/schemas/CardSecurityCodeResult'
        valid:
          $ref: '#/components/schemas/CardSecurityCodeValid'
    CardOnFile:
      type: object
      description: '**Conditional: Send this object when the transaction being performed is using a card on file or when the request will result in storing a card on file.**


        See the [Card On File Transactions](/guides/advanced-concepts/card-on-file-transactions) section for more information.

        '
      properties:
        type:
          $ref: '#/components/schemas/CardOnFileType'
        recurringExpiry:
          $ref: '#/components/schemas/CardOnFileRecurringExpiry'
        recurringFrequency:
          $ref: '#/components/schemas/CardOnFileRecurringFrequency'
        transactionId:
          $ref: '#/components/schemas/CardOnFileTransactionId'
        transactionLinkId:
          $ref: '#/components/schemas/CardOnFileTransactionLinkId'
    TransactionSaleFlag:
      type: string
      maxLength: 1
      readOnly: true
      example: S
      enum:
      - A
      - C
      - S
      description: 'Specifies a transaction is a sale (‘S’) or credit (‘C’).  In an [Invoice Information](/apis/payments-platform-rest/openapi/transactions/getinvoice) request, an ''A'' may be returned to differentiate an authorization from a sale.

        '
    HostResponseReasonDescription3DSecure:
      type: string
      maxLength: 73
      example: Pick Up Card
      description: 'Returns a description from the host.

        '
    ThreeDSecureAddressMatch:
      type: boolean
      example: true
      description: "Indicates whether the Cardholder Shipping Address and Cardholder Billing Address are identical.\n\nValue | Description\n------|------------\ntrue  | Shipping Address matches Billing Address\nfalse | Shipping Address does not match Billing Address \n"
    ShippingCountryThreeDSecure:
      type: string
      example: US
      maxLength: 2
      description: 'Shipping address - 2 character ISO Country Code.


        **Recommended for increasing the possibility of frictionless flow**

        '
    ThreeDSecureDirectoryServerTranId:
      type: string
      example: 07e54000-2721-4df9-aa51-04fa0e079aa8
      maxLength: 36
      description: 'The Directory Server Transaction ID is generated by the EMV 3DS Mastercard Directory Server during the authentication transaction and passed back to the merchant with the authentication results. This field allows the merchant to pass the Directory Server Transaction ID during authorization in order to link authentication and authorization data for Mastercard Identity Check.

        '
    TransactionResponseCode3DSStandalone:
      type: string
      minLength: 1
      maxLength: 1
      readOnly: true
      example: A
      enum:
      - A
      - C
      - D
      - e
      - f
      - P
      - R
      - S
      description: "Code indicating the Shift4 host response.        \n\nValue  | Description   | Details\n-------|---------------|--------\nA      | Approved      | The 3D Secure process was approved.\nD      | Declined      | The 3D Secure process was declined.\n"
    AmountSurcharge:
      type: number
      maxLength: 14
      example: 5
      description: '**Conditional: Send in the request if a surcharge was applied to the transaction.**


        In a sale or authorization transaction, the `surcharge` field specifies a fee amount that a consumer is charged in addition to the transaction amount. The fee amount is also added into `amount.total`. For example, if the transaction request had `amount.total = 100` and the `surcharge.percentage` was 1.5% the transaction would include `amount.total = 101.50` and `amount.surcharge = 1.50`

        '
    CustomerShipping3DSecure:
      type: object
      description: '**Conditional: must be sent if `threeDSecure.addressMatch` is ''false''**

        '
      properties:
        addressLine1:
          $ref: '#/components/schemas/ShippingAddressLine1ThreeDSecure'
        addressLine2:
          $ref: '#/components/schemas/ShippingAddressLine2'
        city:
          $ref: '#/components/schemas/ShippingCityThreeDSecure'
        country:
          $ref: '#/components/schemas/ShippingCountryThreeDSecure'
        postalCode:
          $ref: '#/components/schemas/ShippingPostalCodeThreeDSecure'
        region:
          $ref: '#/components/schemas/ShippingRegionThreeDSecure'
    UniversalTokenValue:
      type: string
      maxLength: 50
      example: 97032276-5944-00000001-16985FD179D
      description: 'An identifier for a card or payment account across all Shift4 merchants.

        '
    ErrorPrimaryCode:
      type: integer
      maxLength: 4
      readOnly: true
      example: 9842
      description: 'Code indicating the type of error that occurred. Refer to the [Error Codes](/guides/appendices/error-codes) section of this document for more details.

        '
    ThreeDSecureReqChallengeInd:
      type: string
      enum:
      - '01'
      - '02'
      - '03'
      - '04'
      - '05'
      - '06'
      - '07'
      - 08
      - 09
      example: '02'
      minLength: 2
      maxLength: 2
      description: "Indicates whether a challenge is requested for this transaction. For example: For payment authentication, a merchant may have concerns about the transaction, and request a challenge.\n\nValue| Description\n-----|------------\n01   | No preference\n02   | No challenge requested\n03   | Challenge requested by merchant\n04   | Challenge requested: Mandate\n05   | No Challenge Requested, transactional risk analysis is already performed\n06   | No Challenge Requested, Data share only\n07   | No Challenge Requested, SCA is already performed\n08   | No challenge requested (utilise whitelist exemption if no challenge required)\n09   | Challenge requested (whitelist prompt requested if challenge required)\"\n    \n"
    CardTokenValue:
      description: 'This field is used to specify a card token. Whenever CHD is sent in a request, a card token will be returned in this field. Your interface should be designed to store this card token for future use. The latest card token received should be used in any subsequent request that references the same card data.

        '
      type: string
      maxLength: 16
      example: '8048471746471119'
    AmountCashback:
      type: number
      maxLength: 14
      example: 20
      description: 'Specifies the cashback amount in a transaction. When using a UTG-controlled PIN pad with the ALLOWCASHBACK API Option, this field will return the cashback amount requested by the consumer. The interface can also send the desired cashback amount in a request by adding it to the `amount.total` and including it in the `amount.cashback` field. This will bypass prompting the consumer for a cashback amount.

        '
    DateTime:
      type: string
      format: ISO 8601
      example: '2024-05-21T09:18:23.283-07:00'
      description: 'The date and time in ISO 8601 format including the timezone offset (yyyy-mm-ddThh:mm:ss.nnn+hh:mm).


        Must be sent as the local date/time of the merchant. For example, a request processed at a merchant in the Pacific time zone at 9:18am on April 15th 2021 would be sent as 2021-04-15T09:18:23.283-07:00

        '
    CardEntryMode:
      type: string
      minLength: 1
      maxLength: 1
      enum:
      - '1'
      - '2'
      - C
      - E
      - M
      - Q
      - R
      example: M
[...]
