openapi: 3.1.0
info:
  version: 1.7.57
  title: Shift4 Payment API
  contact:
    url: https://www.shift4.com/contact-us/
servers:
  - url: https://api.shift4test.com/api/rest/v1
    description: Host Direct Test URL
  - url: https://api.shift4api.net/api/rest/v1
    description: Host Direct Production URL
components:
  securitySchemes:
    AccessToken:
      type: apiKey
      name: AccessToken
      in: header
      description: >
        A security credential used to authenticate API requests and all
        [i4Go®](https://s4-myportal.s3.amazonaws.com/downloads/documentation/i4go/i4go%20technical%20reference%20guide.pdf)
        authorizeClient/preauthorizeClient requests. An Access Token is the
        alias for the merchant account and interface being used. 


        Example:
          ```
          AccessToken: EA79FB05-3AA7-4500-AF9A-73F986FF2C1D
          ```
    HMAC-SHA256:
      type: http
      scheme: hmac-sha256
      description: >
        Authentication using HMAC-256 signatures as the authorization scheme.


        Sent in the `Authorization` header in the following format:


        `Authorization`: **HMAC-SHA256**
        `Credential`={value}&`Signature`={value}


        | Argument      | Description                                      |

        |---------------|--------------------------------------------------|

        | HMAC-SHA256   | Authorization scheme.                            |

        | Credential    | The ID of the key used to compute the signature. |

        | Signature     | base64 encoded HMACSHA256 value.                 |


        Example: 
          ```
          Authorization: HMAC-SHA256 Credential=AESKEY1&Signature=8SFtIc6zQlswxAZqDKXL+BpRmlDvIWyjOwU8wdl0zK4=
          ```
  parameters:
    InterfaceVersion:
      required: true
      name: InterfaceVersion
      in: header
      schema:
        type: string
        maxLength: 11
        example: '2.1'
      description: >
        Refers to the version of the program or application that is sending
        requests to Shift4. The following special characters are not
        allowed&colon;  $ % &colon; ^ - ~ < > , ? “ ” ‘ ’ { } [ ] \ + =
    InterfaceName:
      required: true
      name: InterfaceName
      in: header
      schema:
        type: string
        maxLength: 25
        example: ForwardPOS
      description: >
        Refers to the name of the program or application that is sending
        requests to Shift4. This should be the name of the program that you
        purchased or created. The following special characters are not
        allowed&colon;  $ % &colon; ^ - ~ ` < > , ? “ ” ‘ ’ { } [ ] \ + =
    CompanyName:
      required: true
      name: CompanyName
      in: header
      schema:
        type: string
        maxLength: 26
        example: PAWS
      description: >
        Refers to the vendor or partner that designed and certified the
        interface. The information you use in this field should match what
        Shift4 has on file or what was agreed upon in your Integration Plan. The
        following special characters are not allowed&colon;  $ % &colon; ^ - ~ `
        < > , ? “ ” ‘ ’ { } [ ] \ + =
    AccessToken:
      required: true
      name: AccessToken
      in: header
      schema:
        type: string
        format: uuid
        maxLength: 52
        example: EA79FB05-3AA7-4500-AF9A-73F986FF2C1D
      description: >
        A security credential used to authenticate API requests and all
        [i4Go®](https://s4-myportal.s3.amazonaws.com/downloads/documentation/i4go/i4go%20technical%20reference%20guide.pdf)
        authorizeClient/preauthorizeClient requests. An Access Token is the
        alias for the merchant account and interface being used. The Access
        Token is required in all requests except an [Access Token
        Exchange](/apis/payments-platform-rest/openapi/credentials/accesstokenexchange)
        request, which generates an Access Token using an `authToken` and
        `clientGuid`.
    Invoice:
      required: true
      name: Invoice
      in: header
      schema:
        $ref: '#/components/schemas/TransactionInvoice'
    ApiOptions:
      required: false
      name: ApiOptions
      in: header
      schema:
        type: string
        maxLength: 255
      example: ALLOWPARTIALAUTH,RETURNEXPDATE
      description: >
        API Options modify the request being made. Multiple API Options can be
        sent in a comma separated list with no spaces. See the [API
        Options](/guides/appendices/api-options.md) section for more
        information.
    ReceiptColumns:
      required: false
      name: ReceiptColumns
      in: header
      schema:
        type: integer
        example: 40
        maxLength: 48
      description: >
        Send this field if you want Shift4 to format the receipt text instead of
        returning individual fields. The value sent will correlate to the column
        width of the formatted receipt that we return. (This also allows the
        receipt text to wrap to fit the paper size of the printed receipt.) See
        the [Printing Receipts](/guides/core-concepts/printing-receipts) section
        of this document for more information on formatted receipts.
    TokenValue:
      name: Token
      in: header
      schema:
        type: string
        maxLength: 16
        example: '8048471746471119'
      description: This field is used to specify the token for the payment method.
    ReversalReason:
      name: ReversalReason
      in: header
      schema:
        type: string
        minLength: 2
        maxLength: 2
        enum:
          - '01'
          - '02'
          - '03'
          - '04'
          - '05'
          - '06'
          - '07'
          - '08'
          - '09'
      example: '01'
      description: |
        Specifies the reason for the reversal.

        Value|Description
        -----|-----------
        01   | Timeout
        02   | POS lost connection
        03   | Merchant cancellation
        04   | Customer cancellation
        05   | EMV card removed prematurely
        06   | EMV card declined issuer approval
        07   | PIN PAD unavailable
        08   | Chip error
        09   | Suspected Fraud
    CardNumber:
      name: CardNumber
      in: header
      schema:
        type: string
        maxLength: 32
        example: '4321000000001119'
      description: >
        The payment card number. This field will always be masked when returned
        in a response.
    P2PEData:
      name: P2PEData
      in: header
      schema:
        type: string
        maxLength: 2048
      description: The full output of a P2PE keypad/magnetic swipe reader (MSR).
    P2PEFormat:
      name: P2PEFormat
      in: header
      schema:
        type: string
        minLength: 2
        maxLength: 2
        enum:
          - '01'
          - '02'
          - '03'
          - '04'
          - '05'
      example: '01'
      description: |
        Classifies the type of payment device being used for P2PE.

        Value|Description
        -----|-----------
        01   | IDTech Enhanced Encryption format, USB KB mode
        02   | IDTech Enhanced Encryption format, USB HID mode
        03   | Ingenico format
        04   | VeriFone format
        05   | Shift4 TDES DUKPT format
    P2PEKsn:
      name: P2PEKsn
      in: header
      schema:
        type: string
        maxLength: 20
      example: '6299495001100E200041'
      description: |
        **Conditional: Required when `p2pe.format` == "05"**

        The key serial number which was used to encrypt the P2PE data.
    TokenSerialNumber:
      name: SerialNumber
      in: header
      schema:
        type: string
        maxLength: 10
        example: '266'
      description: >
        In requests that require the use of a shared card token that is held by
        another merchant account, such as in TokenStore or TokenShare®, this
        field is used to specify the serial number for the account where the
        card token is stored.
    TrackData:
      name: TrackData
      in: header
      schema:
        type: string
        maxLength: 128
      example: ;4321000000001119=2212201999999?
      description: >
        **Conditional: Send in the initial authorization/sale request when
        processing a swiped MSR transaction. This field is not specified when
        using True P2PE® (point-to-point encryption) or a UTG-controlled PIN
        pad.**


        Card swipe data exactly as read by an MSR.
    ApiOptionsGetMerchant:
      required: false
      name: ApiOptions
      in: header
      schema:
        type: string
        maxLength: 255
      example: RETURNPROCESSORS
      description: >
        API Options modify the request being made. Multiple API Options can be
        sent in a comma separated list with no spaces. See the [API
        Options](/guides/appendices/api-options.md) section for more
        information.


        Value            | Description

        -----------------|------------

        RETURNPROCESSORS | Returns the processor information and card ranges the
        merchant is configured for.
    TerminalID:
      required: true
      name: TerminalId
      in: header
      schema:
        type: string
        maxLength: 32
        example: '1742'
      description: >
        The API Terminal ID configured in UTG TuneUp must be specified in this
        field.
    TerminalIDDevicesInfo:
      name: TerminalId
      in: header
      schema:
        type: string
        maxLength: 32
        example: '1742'
      description: >
        **Conditional: Required for UTG, optional for Commerce Engine.**
          
        The API Terminal ID assigned to the device. 


        For UTG it is configured in TuneUp and must be included in the request


        For Commerce Engine it is defined in the Terminal Management System
        (TMS) and is optional. If sent, it must match the value defined in the
        TMS.
    BusinessDateTotals:
      required: true
      name: BusinessDate
      in: header
      schema:
        type: string
        format: ISO 8601
        minLength: 10
      example: '2021-04-15T09:18:23.283-07:00'
      description: The business date you want to obtain the totals report for.
    Inclusive:
      required: false
      name: Inclusive
      in: header
      schema:
        type: string
        enum:
          - 'Y'
          - 'N'
      description: >
        Indicates whether or not you want the batch to include transactions for
        every day leading up to the `BusinessDate`. If this parameter is not
        sent, the assumed value will be 'Y'.
    PaymentLinksLimit:
      name: Limit
      in: header
      schema:
        type: number
        maximum: 100
      description: |
        Maximum number of returned objects
    PaymentLinksStartingAfterId:
      name: StartingAfterId
      in: header
      schema:
        type: string
      description: >
        Cursor used for pagination (getting the next page). For example, if you
        make a list request and receive 10 objects, where the last object has
        `id=some-example-id` - then you can make another request with
        `startingAfterId=some-example-id` to get the next page of that list.
    PaymentLinksEndingBeforeId:
      name: EndingBeforeId
      in: header
      schema:
        type: string
      description: >
        Cursor used for pagination (getting the previous page). For example, if
        you make a list request and receive 10 objects, where the first object
        has `id=some-example-id` - then you can make another request with
        `endingBeforeId=some-example-id` to get the previous page of that list
    PaymentLinksDateTimeAfter:
      name: DatetimeAfter
      in: header
      schema:
        type: string
        format: ISO 8601
        example: '2024-05-21T09:18:23.283-07:00'
      description: |
        Returns only records strictly after the specified timestamp
    PaymentLinksDateTimeBefore:
      name: DatetimeBefore
      in: header
      schema:
        type: string
        format: ISO 8601
        example: '2024-05-21T09:18:23.283-07:00'
      description: |
        Returns only records strictly before the specified timestamp
    PaymentLinksId:
      name: PaymentLinkId
      in: header
      required: true
      schema:
        type: string
      description: |
        Used for selecting payment link by id
    PaymentLinksIdOptional:
      name: PaymentLinkId
      in: header
      schema:
        type: string
      description: |
        Used for selecting payment link by id
    CheckoutSessionsStatus:
      name: Status
      in: header
      schema:
        type: string
        enum:
          - active
          - paid
          - expired
          - failed
      description: >
        Filter checkout sessions by their current status. When omitted, all
        sessions are returned.


        | Value     |
        Description                                                                                   
        |

        |-----------|------------------------------------------------------------------------------------------------|

        | `active`  | Session is open — payment not yet completed, not expired,
        and within the allowed failure count |

        | `paid`    | Payment was completed
        successfully                                                            
        |

        | `expired` | Session expired or was deleted without a successful
        payment                                    |

        | `failed`  | Payment was attempted but reached the maximum number of
        failed attempts                        |


        An invalid value returns HTTP 400 with error code
        `invalid_header_format`.
    CheckoutSessionsId:
      name: CheckoutSessionId
      in: header
      required: true
      schema:
        type: string
      description: |
        Used for selecting checkout session by id
    AuthorizationHMACSHA256:
      name: Authorization
      required: true
      in: header
      schema:
        type: string
        example: >-
          Authorization: HMAC-SHA256
          Credential=AESKEY1&Signature=8SFtIc6zQlswxAZqDKXL+BpRmlDvIWyjOwU8wdl0zK4=
      description: |
        HMAC-SHA256 signature
    Shift4AppId:
      name: Shift4AppId
      in: header
      schema:
        type: string
        example: Commerce Engine
      description: |
        Shift4 application identifier
    Shift4AppVersion:
      name: Shift4AppVersion
      in: header
      schema:
        type: string
        example: 2.4.0
      description: |
        Shift4 application version number
    MagicCubeDeviceId:
      required: true
      name: deviceId
      in: path
      schema:
        type: string
        example: GOiQMwBhSQ8THouJ
      description: |
        MagicCube Device Id
    IdempotencyId:
      required: true
      name: IdempotencyId
      in: header
      schema:
        type: string
        format: uuid
        description: >
          Unique identifier for the request. Each request must contain a unique
          `requestId` value. 


          Any reattempts due to timeout or error scenarios should include the
          same `requestId` as the original request to ensure idempotence.
    MID:
      required: true
      name: mid
      in: query
      schema:
        type: string
        maxLength: 10
        example: 123456
      description: |
        The Shift4 MID number
    SourceIP:
      name: sourceIp
      in: query
      schema:
        type: string
        example: 63.57.84.101
      description: >
        Public source IP Address where the request originates, not the IP
        Address of the web server.
    EmailAddress:
      name: emailAddress
      in: query
      schema:
        type: string
        example: janedoe@email.com
      description: |
        Email address
    EmailDomain:
      name: emailDomain
      in: query
      schema:
        type: string
        example: gmail.com
      description: |
        Email domain
    FullName:
      name: fullName
      in: query
      schema:
        type: string
        example: John Smith
      description: |
        Full Name
    Token:
      name: token
      in: query
      schema:
        type: string
        example: '8058471748284111'
      description: |
        Token
  schemas:
    DateTime:
      type: string
      format: ISO 8601
      example: '2024-05-21T09:18:23.283-07:00'
      description: >
        The date and time in ISO 8601 format including the timezone offset
        (yyyy-mm-ddThh:mm:ss.nnn+hh:mm).


        Must be sent as the local date/time of the merchant. For example, a
        request processed at a merchant in the Pacific time zone at 9:18am on
        April 15th 2021 would be sent as 2021-04-15T09:18:23.283-07:00
    CredentialAccessToken:
      type: string
      format: uuid
      maxLength: 52
      example: EA79FB05-3AA7-4500-AF9A-73F986FF2C1D
      readOnly: true
      description: >
        A security credential used to authenticate API requests and all
        [i4Go®](https://s4-myportal.s3.amazonaws.com/downloads/documentation/i4go/i4go%20technical%20reference%20guide.pdf)
        authorizeClient/preauthorizeClient requests. An Access Token is the
        alias for the merchant account and interface being used. The Access
        Token is required in all requests except an [Access Token
        Exchange](/apis/payments-platform-rest/openapi/credentials/accesstokenexchange)
        request, which generates an Access Token using an `authToken` and
        `clientGuid`.
    CredentialAuthToken:
      type: string
      format: uuid
      maxLength: 51
      example: 3504489F-A774-88E0-80114FBBC925E207
      writeOnly: true
      description: >
        A unique encrypted identifier that refers to a specific merchant
        account. It is required when making an [Access Token
        Exchange](/apis/payments-platform-rest/openapi/credentials/accesstokenexchange)
        request. For detailed information about the AuthToken, please see
        [Authentication](/guides/quickstart#access-token-exchange)
    CredentialClientGuid:
      type: string
      format: uuid
      maxLength: 51
      example: A3B18F21-AD17-8416-0626C4C9F1CA86A7
      writeOnly: true
      description: >
        The Client GUID is a unique identifier that is used to identify an
        interface across all of the merchant accounts that use it. The same
        Client GUID can be used for all versions of the same interface. If a
        completely new interface is certified, then you will receive a new
        Client GUID, which must be hard coded into the application and must not
        be a configurable field. The Client GUID is required when making an
        [Access Token
        Exchange](/apis/payments-platform-rest/openapi/credentials/accesstokenexchange).
        For detailed information about the Client GUID, please see
        [Authentication](/guides/quickstart#access-token-exchange).


        **Requirement: The Client GUID supplied by your API Analyst must be hard
        coded into your application because it will permanently identify your
        interface across all merchant accounts.**
    CredentialApiSerialNumber:
      type: string
      maxLength: 10
      example: '266'
      readOnly: true
      description: >
        The serial number for the merchant account. This field is only used for
        backwards compatibility with older interfaces and has been replaced by
        the Access Token.
    CredentialApiPassword:
      type: string
      maxLength: 32
      example: 9YCR23G7%BY#9+
      readOnly: true
      description: >
        A credential used to authenticate the API Serial Number when processing
        a request. This field is only used for backwards compatibility with
        older interfaces and has been replaced by the Access Token.
    Credential:
      type: object
      required:
        - authToken
        - clientGuid
      properties:
        accessToken:
          $ref: '#/components/schemas/CredentialAccessToken'
        authToken:
          $ref: '#/components/schemas/CredentialAuthToken'
        clientGuid:
          $ref: '#/components/schemas/CredentialClientGuid'
        apiSerialNumber:
          $ref: '#/components/schemas/CredentialApiSerialNumber'
        apiPassword:
          $ref: '#/components/schemas/CredentialApiPassword'
    ServerName:
      type: string
      maxLength: 50
      example: TM01CE
      description: |
        The name of the server that processed the request.
    Server:
      type: object
      readOnly: true
      properties:
        name:
          $ref: '#/components/schemas/ServerName'
    ErrorCode:
      type: integer
      maxLength: 5
      readOnly: true
      example: 64100
      description: >
        Code indicating the type of error that occurred. Refer to the [Error
        Codes](/guides/appendices/error-codes) section of this document for more
        details.


        **Note: This is currently only supported for European merchant
        processing.**
    ErrorSeverity:
      type: string
      enum:
        - Info
        - Error
        - Alert
      readOnly: true
      example: Info
      description: >
        Severity level of the error.


        | Severity |
        Description                                                       |

        | -------- |
        ----------------------------------------------------------------  |

        | Info     | Action not required - Data input/formatting is
        incorrect          |

        | Error    | Action may be required - Communication, timeout or network
        issue  |

        | Alert    | Action required - System
        issue                                    |
    ErrorShortText:
      type: string
      maxLength: 16
      readOnly: true
      example: NOT IN CARDRANGE
      description: >
        Abbreviated error message that is always returned if an error condition
        exists
    ErrorLongText:
      type: string
      maxLength: 255
      readOnly: true
      example: Card type not recognized
      description: |
        Extended error message that is returned if an error condition exists.
    ErrorPrimaryCode:
      type: integer
      maxLength: 4
      readOnly: true
      example: 9842
      description: >
        Code indicating the type of error that occurred. Refer to the [Error
        Codes](/guides/appendices/error-codes) section of this document for more
        details.
    ErrorSecondaryCode:
      type: integer
      maxLength: 4
      readOnly: true
      example: 0
      description: >
        This code supplements the code specified in the `error.primaryCode`
        field to provide additional information about the error that occurred.
    Error:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/ErrorCode'
        severity:
          $ref: '#/components/schemas/ErrorSeverity'
        shortText:
          $ref: '#/components/schemas/ErrorShortText'
        longText:
          $ref: '#/components/schemas/ErrorLongText'
        primaryCode:
          $ref: '#/components/schemas/ErrorPrimaryCode'
        secondaryCode:
          $ref: '#/components/schemas/ErrorSecondaryCode'
    LighthouseDataResponse:
      type: string
      example: >-
        eyJwYXltZW50SWQiOiI4NWM0MWNhNy01NzVjLTQzNGUtODIyZi0xYzZlOTE0ZDAzODYiLCJyZW1haW5pbmdBbW91bnQiOjB9
      description: >
        Base64 encoded JSON formatted data that will be returned from Lighthouse
        to be passed back to SkyTab. This data will contain variable
        information.
    AmountTotal:
      type: number
      maxLength: 14
      example: 160
      description: >
        The amount being charged for a particular transaction. If other amount
        fields are sent, they must be included in the total amount. Amount
        cannot be zero.
    AmountTax:
      type: number
      maxLength: 14
      example: 15
      description: >
        The amount of sales tax charged for a transaction. The tax amount is
        used by businesses to track tax expenses for accounting purposes.
        Identifying the tax amount also helps consumers understand the total
        amount that they were billed.  This field is part of Level 2 card data.
    AmountTaxIndicator:
      type: string
      maxLength: 1
      enum:
        - 'Y'
        - 'N'
      example: 'Y'
      description: |
        Value|Description
        -----|-----------
        Y    | Tax is included
        N    | Tax is not included
    AmountCashback:
      type: number
      maxLength: 14
      example: 20
      description: >
        Specifies the cashback amount in a transaction. When using a
        UTG-controlled PIN pad with the ALLOWCASHBACK API Option, this field
        will return the cashback amount requested by the consumer. The interface
        can also send the desired cashback amount in a request by adding it to
        the `amount.total` and including it in the `amount.cashback` field. This
        will bypass prompting the consumer for a cashback amount.
    IIASAmount:
      type: number
      maxLength: 14
      example: 34
      description: |
        The subtotal for this type of healthcare expenses.
    IIASType:
      type: string
      minLength: 2
      maxLength: 2
      example: 4T
      enum:
        - 4O
        - 4S
        - 4T
        - 4U
        - 4V
        - 4W
        - 4X
      description: >
        This code classifies eligible healthcare expenses.


        Value|Description

        -----|-----------

        4O   | Cash Disbursement (Discover Only) – Amount of Cash Back Being
        Requested

        4S   | Healthcare (Visa/MC Only) – Qualified Medical Expenses or
        Over-the-Counter

        4T   | Transit (Visa Only) – Transit Fare Media (e.g., Commuter and
        Parking Passes, Mass Transit Vouchers, and Tickets)

        4U   | RX (Visa/MC Only)

        4V   | Vision (Visa Only)

        4W   | Clinical (Visa Only)

        4X   | Dental (Visa Only)
    IIASAmounts:
      type: object
      properties:
        amount:
          $ref: '#/components/schemas/IIASAmount'
        type:
          $ref: '#/components/schemas/IIASType'
    IIASAmountsArray:
      type: array
      writeOnly: true
      items:
        $ref: '#/components/schemas/IIASAmounts'
      example:
        - type: 4S
          amount: 75
        - type: 4W
          amount: 25
      description: >
        **Conditional: Send in the request if processing for a health care
        merchant.**


        For Vision related charges you must send only `iiasAmounts.type = 4V`
        and the corresponding `iiasAmounts.amount` value.


        For all other charges, the first entry in the array should have an
        amount representing the total of all healthcare costs, and
        `iiasAmounts.type = 4S`.  Any subsequent entries should contain the
        subtotal for each of the other expense types involved in this
        transaction.
    AmountTip:
      type: number
      maxLength: 14
      example: 20
      description: |
        **Conditional: Send in the request if a tip is included.**

        The tip amount of the transaction.
    AmountCheckTotal:
      type: number
      maxLength: 14
      writeOnly: true
      example: 200
      description: >
        Optional field specifying the total amount of the entire bill/invoice
        that this transaction is part of. It can be larger than `amount.total`
        in scenarios where the check is being split or if a portion of the check
        was already paid in cash or another form of payment.
    AmountObjectNoSurcharge:
      type: object
      description: >
        Object containing information regarding the amount being requested. The
        `total` field within the object is required and specifies the amount
        being requested. All other fields are for informational purposes and
        must also be included in the `total` field. For example, a purchase of
        $100 with a $20 tip and $8 tax would be `128.00` in the `total` field,
        `20.00` in the `tip` field and `8.00` in the `tax` field.


        Note: For merchants that are configured to allow multiple currencies,
        the amount  fields can specify up to three decimal places. However, the
        number of decimal  places can not exceed the number allowed for the
        specified currency. See the [Currency
        Codes](/guides/appendices/currency-codes) section for details.
      required:
        - total
        - tax
      properties:
        total:
          $ref: '#/components/schemas/AmountTotal'
        tax:
          $ref: '#/components/schemas/AmountTax'
        taxIndicator:
          $ref: '#/components/schemas/AmountTaxIndicator'
        cashback:
          $ref: '#/components/schemas/AmountCashback'
        iiasAmounts:
          $ref: '#/components/schemas/IIASAmountsArray'
        tip:
          $ref: '#/components/schemas/AmountTip'
        checkTotal:
          $ref: '#/components/schemas/AmountCheckTotal'
    ClerkNumericId:
      type: integer
      maxLength: 5
      example: 1576
      description: >
        A number used to identify the point-of-sale (POS) or property management
        system (PMS) clerk or user. The value cannot be 0. An interface must be
        able to dynamically populate this field (not use a hardcoded value),
        unless the interface will be used exclusively for e-commerce.
    Clerk:
      type: object
      required:
        - numericId
      properties:
        numericId:
          $ref: '#/components/schemas/ClerkNumericId'
    TransactionInvoice:
      type: string
      maxLength: 10
      example: '0510093358'
      description: >
        10-digit invoice number assigned by the interface to identify a
        transaction. An invoice number serves as a unique key that identifies a
        transaction within a batch in Shift4's Gateway.


        **Note: For US and Canadian processing: Although the invoice number is
        sent as a JSON string it is a numeric value. No alpha characters are
        allowed.**


        **For processing outside of the US and Canada alpha characters are
        allowed.**
    TransactionNotes:
      type: string
      maxLength: 4096
      example: Transaction notes are added here
      description: >
        A free-form notes field that supports the use of HTML tags.  This can be
        used for reference in [Lighthouse Transaction
        Manager](https://ltm.shift4test.com/) and is not sent to the
        authorization host. Escaped quotation marks should not be sent in the
        Notes field.
    TransactionBusinessDate:
      type: string
      format: ISO 8601
      minLength: 10
      example: '2021-04-15'
      description: >
        Desired business date of a transaction. Include when overriding the
        existing business date of a transaction. The overriding date may be
        earlier or later than the existing date. (yyyy-mm-dd)
    AmexPropertyCode:
      type: string
      maxLength: 15
      example: '21546782948'
      description: >
        The code that contains a Merchant-assigned store or location number (or
        name) that uniquely identifies where the transaction took place.
    TransactionAmex:
      type: object
      properties:
        propertyCode:
          $ref: '#/components/schemas/AmexPropertyCode'
    AutoEstimatedDays:
      type: integer
      maxLength: 2
      example: 5
      description: |
        Estimated contract length of car rental.
    AutoCheckIn:
      type: object
      description: |
        **Conditional: Utilize this object for Auto Rental transactions**
      properties:
        estimatedDays:
          $ref: '#/components/schemas/AutoEstimatedDays'
    AirlineCarrierCode:
      type: string
      maxLength: 4
      example: '5472'
      description: |
        The code of the airline carrier issuing the ticket.
    AirlineCarrierName:
      type: string
      maxLength: 19
      example: American Airlines
      description: |
        The name of the airline carrier issuing the ticket.
    AirlineConjunctionTicketIndicator:
      type: string
      maxLength: 1
      enum:
        - 'Y'
        - 'N'
      example: 'N'
      description: >
        Indicates whether the itinerary contains more than four segments of
        travel.


        Value  | Description       

        -------|-------------------

        Y      | Yes

        N      | No
    AirlineDocumentType:
      type: string
      maxLength: 2
      enum:
        - '01'
        - '02'
        - '03'
        - '04'
        - '05'
        - '06'
        - '07'
        - '08'
        - '09'
        - '10'
        - '11'
        - '12'
        - '13'
        - '14'
        - '15'
        - '16'
        - '17'
        - '18'
        - '19'
        - '20'
        - '21'
        - '22'
        - '23'
        - '24'
        - '25'
        - '26'
        - '27'
        - '28'
        - '29'
        - '30'
        - '31'
        - '32'
        - '33'
        - '34'
        - '35'
        - '36'
        - '37'
        - '38'
        - '39'
        - '41'
        - '42'
        - '43'
        - '44'
        - '45'
        - '46'
        - '47'
        - '48'
        - '49'
        - '50'
        - '51'
        - '52'
        - '60'
        - '64'
        - '65'
        - '66'
        - '67'
        - '68'
        - '69'
        - '70'
        - '71'
        - '72'
        - '73'
        - '74'
        - '75'
        - '76'
        - '77'
        - '78'
        - '79'
        - '80'
        - '81'
        - '82'
        - '83'
        - '84'
        - '85'
        - '86'
        - '87'
        - '88'
        - '89'
        - '90'
        - '91'
        - '92'
        - '93'
      example: '93'
      description: >
        This field contains the airline Document Type code, which indicates the
        purpose of this transaction. This information may appear on the
        descriptive bill on the Cardmember's statement, or be used to resolve
        billing inquiries and disputes. The codes entered in the Transaction
        Type and Document Type fields are used together to describe the purpose
        of this transaction.


        Value | Description 

        ------|---------------

        01    | Passenger Ticket

        02    | Additional Collection

        03    | Excess Baggage

        04    | Misc. Charge Order (MCO) / Prepaid Ticket Auth

        05    | Special Service Ticket

        06    | Supported Refund

        07    | Unsupported Refund

        08    | Lost Ticket Application

        09    | Tour Order Voucher

        10    | Ticket by Mail

        11    | Undercharge Adjustment

        12    | Group Ticket

        13    | Exchange Adjustment

        14    | SPD/Air Freight

        15    | In-flight Adjustment

        16    | Agency Passenger Ticket

        17    | Agency Tour Order/Voucher

        18    | Agency Misc. Charge Order (MCO)

        19    | Agency Exchange Order

        20    | Agency Group Ticket

        21    | Debit Adjustment Duplicate Refund/Use

        22    | In-flight Merchandise Ordered

        23    | Catalogue Merchandise Ordered

        24    | In-flight Phone Charges

        25    | Frequent Flyer Fee/Purchase

        26    | Kennel Charge

        27    | Animal Transportation Charge

        28    | Firearms Case

        29    | Upgrade Charge

        30    | Credit Unused Transportation

        31    | Credit Class of Service Adjustment

        32    | Credit Denied Boarding

        33    | Credit Misc. Refund

        34    | Credit Lost Ticket Refund

        35    | Credit Exchange Refund

        36    | Credit Overcharge Adjustment

        37    | Credit Multiple Unused Tickets

        38    | Exchange Order

        39    | Self-Service Ticket(s)

        41    | In-flight Duty Free Purchase

        42    | Senior Citizen Discount Booklets

        43    | Club Membership Fee

        44    | Coupon Book

        45    | In-flight Charges

        46    | Tour Deposit

        47    | Frequent Flyer Overnight Delivery Charge

        48    | Frequent Flyer Fulfillment

        49    | Small Package Delivery

        50    | Vendor Sale

        51    | Miscellaneous Tax(es) Fee(s)

        52    | Travel Agency Fee

        60    | Vendor Refund Credit

        64    | Duty Free Sale

        65    | Preferred Seat Upgrade

        66    | Cabin Upgrade

        67    | Lounge/Club Access or Day Pass

        68    | Agent Assisted Reservation. Ticketing Fee

        69    | Ticket Change or Cancel Fee

        70    | Trip Insurance

        71    | Unaccompanied Minor

        72    | Standby Fee

        73    | Curbside Baggage

        74    | Inflight Medical Equipment

        75    | Ticket or Pass Print Fee

        76    | Checked Sporting/Special Equipment

        77    | Dry Ice Fee

        78    | Mail/Postage Fee

        79    | Club Membership Fee - Temporary/Trial

        80    | Frequent Flyer Activation/Reinstatement

        81    | Gift Certificate

        82    | Onboard/Inflight Prepaid Voucher

        83    | Optional Services Fee

        84    | Advanced Purchase - Excess Baggage

        85    | Advanced Purchase - Preferred Seat Upgrade

        86    | Advanced Purchase - Cabin Upgrade

        87    | Advanced Purchase - Optional Services

        88    | WiFi

        89    | Packages

        90    | Inflight Entertainment/Internet Access

        91    | Overweight Bag Fee

        92    | Sleep Sets

        93    | Special Purchase Fee
    AirlineElectronicTicketIndicator:
      type: string
      maxLength: 1
      enum:
        - 'Y'
        - 'N'
      example: 'Y'
      description: |
        Indicates if an electronic ticket was issued.

        Value  | Description       
        -------|-------------------
        Y      | Yes
        N      | No  
    AirlineInternetIndicator:
      type: string
      maxLength: 1
      enum:
        - 'Y'
        - 'N'
      example: 'Y'
      description: |
        Indicates if this is an internet transaction.

        Value  | Description       
        -------|-------------------
        Y      | Yes
        N      | No  
    AirlineIssueDate:
      type: string
      format: ISO 8601
      example: '2021-04-12T15:39:01.594-07:00'
      description: >
        The date the ticket was issued to the customer. The date and time in ISO
        8601 format including the timezone offset
        (yyyy-mm-ddThh:mm:ss.nnn+hh:mm).
    AirlineNumberOfCities:
      type: number
      maxLength: 2
      example: 5
      description: >
        The number of airports or cities for each leg on the ticket (including
        origination and destination cities).
    AirlineNumberOfCarriers:
      type: number
      maxLength: 2
      example: 5
      description: |
        This field contains the number of airline carriers.
    AirlineNumberOfPassengers:
      type: number
      maxLength: 3
      example: 5
      description: |
        The number of passengers in the transaction.
    AirlinePassengerArrivalDate:
      type: string
      format: ISO 8601
      example: '2021-04-14T15:39:01.594-07:00'
      description: >
        Date that the ticket holder is scheduled to arrive at their destination
        at the time of issuance of the original ticket. The date and time in ISO
        8601 format including the timezone offset
        (yyyy-mm-ddThh:mm:ss.nnn+hh:mm).
    AirlinePassengerDepartureDate:
      type: string
      format: ISO 8601
      example: '2021-04-13T15:39:01.594-07:00'
      description: >
        Date that the ticket holder is scheduled to depart at the time of
        issuance of the original ticket. The date may be a future one.  The date
        and time in ISO 8601 format including the timezone offset
        (yyyy-mm-ddThh:mm:ss.nnn+hh:mm).
    AirlinePassengerNameRecord:
      type: string
      maxLength: 6
      example: MXCTIF
      description: >
        A passenger name record (PNR) is a record in the database of a computer
        reservation system (CRS) that contains the itinerary for a passenger or
        a group of passengers travelling together
    AirlineRestrictedTicketIndicator:
      type: string
      maxLength: 1
      example: '1'
      enum:
        - '0'
        - '1'
      description: |
        Indicates whether this ticket is non-refundable.

        Value  | Description       
        -------|-------------------
        0      | No restriction
        1      | Restricted (non-refundable) ticket
    AirlineTicketChangeIndicator:
      type: string
      maxLength: 1
      enum:
        - C
        - 'N'
      example: C
      description: >
        Indicates why a ticket was changed.  This field should contain spaces or
        one of the below codes.


        Value  | Description 

        -------|---------------

        C      | Change to existing ticket

        N      | New ticket
    AirlineTicketTranType:
      type: string
      maxLength: 3
      enum:
        - TKT
        - REF
        - EXC
        - MSC
      example: TKT
      description: >
        This field contains the ticket transaction type code assigned to this
        transaction.


        Value  | Description 

        -------|---------------

        TKT    | Ticket Purchase

        REF    | Refund

        EXC    | Exchange Ticket

        MSC    | Miscellaneous (non-Ticket Purchase- and non-Exchange
        Ticket-related transactions only)
    AirlineTypeIndicator:
      type: string
      maxLength: 1
      enum:
        - R
        - O
        - M
      example: M
      description: >
        Indicates if this ticket is a round trip, multi-city, or one-way
        ticket. 


        Value  | Description 

        -------|---------------

        R      | Round-Trip

        O      | One Way

        M      | Multi-City
    AirlineTicketsPassengerName:
      type: string
      maxLength: 40
      example: Doe Jane M Mrs
      description: >
        Name of the passenger to whom the ticket was issued.  This field
        contains the Passenger Name in format:


        `SURNAME FIRSTNAME MIDDLEINITIAL TITLE`


        Example: "Doe Jane M Mrs"
    AirlineTicketsTicketNumber:
      type: string
      maxLength: 15
      example: '344567890234567'
      description: |
        The ticket number provided by the Carrier for the passenger.
    AirlineTicketsTicketFare:
      type: number
      maxLength: 14
      example: 350
      description: >
        Ticket fare is the total amount for each ticket, including service fee
        or any other fee for each ticket.
    AirlineTickets:
      type: object
      required:
        - passengerName
        - ticketNumber
        - ticketFare
      properties:
        passengerName:
          $ref: '#/components/schemas/AirlineTicketsPassengerName'
        ticketNumber:
          $ref: '#/components/schemas/AirlineTicketsTicketNumber'
        ticketFare:
          $ref: '#/components/schemas/AirlineTicketsTicketFare'
    AirlineTicketsArray:
      type: array
      writeOnly: true
      items:
        $ref: '#/components/schemas/AirlineTickets'
      example:
        - ticketNumber: 412345678901234
          passengerName: Jane Doe
          ticketFare: 350
        - ticketNumber: 412345678901236
          passengerName: John Smith
          ticketFare: 250
      description: >
        Array of ticket number and passenger name. Note: At least one instance
        of ticket number and passenger name info should be provided.
    AirlineFlightLegsCarrierCode:
      type: string
      maxLength: 2
      example: DL
      description: >
        Code indicating name of carrier (United Airlines, Jet Blue, etc.) for
        the leg.
    AirlineFlightLegsCouponNumber:
      type: number
      maxLength: 1
      example: 1
      description: |
        Number of coupons in the ticket for the leg.
    AirlineFlightLegsDestAirportCode:
      type: string
      maxLength: 5
      example: YXX
      description: |
        Indicates destination city's airport code for the leg.
    AirlineFlightLegsFare:
      type: number
      maxLength: 14
      example: 300
      description: >
        This field contains the total Fare for this trip segment. This is not
        the total amount billed to the customer.
    AirlineFlightLegsFareBasis:
      type: string
      maxLength: 24
      example: YE3MAU
      description: >
        This field contains primary and secondary discount codes that indicate
        the class of service and fare level associated with the ticket for the
        leg. Truncate at 24 bytes, if necessary.
    AirlineFlightLegsFlightNumber:
      type: string
      maxLength: 5
      example: '2490'
      description: |
        Number of the airline flight to be taken on Leg of the trip.
    AirlineFlightLegsLegArrivalDateTime:
      type: string
      format: ISO 8601
      example: '2021-04-15T09:18:23.283-07:00'
      description: >
        The date and time the flight is scheduled to arrive for the leg. The
        date and time in ISO 8601 format including the timezone offset
        (yyyy-mm-ddThh:mm:ss.nnn+hh:mm).
    AirlineFlightLegsLegDepartureDateTime:
      type: string
      format: ISO 8601
      example: '2021-04-12T15:39:01.594-07:00'
      description: >
        The date and time the flight is scheduled to depart for the leg. The
        date and time in ISO 8601 format including the timezone offset
        (yyyy-mm-ddThh:mm:ss.nnn+hh:mm).
    AirlineFlightLegsOriginAirportCode:
      type: string
      maxLength: 5
      example: AUH
      description: |
        Indicates origination city's airport code for the leg.
    AirlineFlightLegsServiceClass:
      type: string
      maxLength: 2
      example: FC
      description: |
        Indicates service class for leg.

        Value  | Description 
        -------|---------------
        FC     | First Class
        BC     | Business Class
        EC     | Economy/Coach Class
    AirlineFlightLegsStopOverCode:
      type: string
      maxLength: 1
      example: X
      description: >
        Indicates whether a stopover is allowed on this ticket for leg. The
        entry must be a D, O, or X.


        Value  | Description 

        -------|---------------

        O      | Stopover allowed

        X      | Stopover not allowed

        D      | Destination point
    AirlineFlightLegsTripLegInfo:
      type: string
      maxLength: 35
      example: Trip Leg Info 1
      description: |
        Description of leg or stage of trip.
    AirlineFlightLegs:
      type: object
      required:
        - carrierCode
        - destAirportCode
        - fare
        - fareBasis
        - flightNumber
        - legArrivalDateTime
        - legDepartureDateTime
        - originAirportCode
        - serviceClass
        - stopOverCode
        - tripLegInfo
      properties:
        carrierCode:
          $ref: '#/components/schemas/AirlineFlightLegsCarrierCode'
        couponNumber:
          $ref: '#/components/schemas/AirlineFlightLegsCouponNumber'
        destAirportCode:
          $ref: '#/components/schemas/AirlineFlightLegsDestAirportCode'
        fare:
          $ref: '#/components/schemas/AirlineFlightLegsFare'
        fareBasis:
          $ref: '#/components/schemas/AirlineFlightLegsFareBasis'
        flightNumber:
          $ref: '#/components/schemas/AirlineFlightLegsFlightNumber'
        legArrivalDateTime:
          $ref: '#/components/schemas/AirlineFlightLegsLegArrivalDateTime'
        legDepartureDateTime:
          $ref: '#/components/schemas/AirlineFlightLegsLegDepartureDateTime'
        originAirportCode:
          $ref: '#/components/schemas/AirlineFlightLegsOriginAirportCode'
        serviceClass:
          $ref: '#/components/schemas/AirlineFlightLegsServiceClass'
        stopOverCode:
          $ref: '#/components/schemas/AirlineFlightLegsStopOverCode'
        tripLegInfo:
          $ref: '#/components/schemas/AirlineFlightLegsTripLegInfo'
    AirlineFlightLegsArray:
      type: array
      writeOnly: true
      items:
        $ref: '#/components/schemas/AirlineFlightLegs'
      example:
        - tripLegInfo: Trip Leg Info 1
          couponNumber: 1
          legDepartureDateTime: '2021-04-12T15:39:01.594-07:00'
          legArrivalDateTime: '2021-04-15T09:18:23.283-07:00'
          fare: 300
        - tripLegInfo: Trip Leg Info 2
          couponNumber: 2
          legDepartureDateTime: '2021-04-12T15:39:01.594-07:00'
          legArrivalDateTime: '2021-04-15T09:18:23.283-07:00'
          fare: 500
      description: >
        Array of flight trip leg info. Maximun 4 legs to a trip allowed. Note:
        At least one instance of flight trip leg info should be provided.
    AirlineAncillaryServicesServiceCode:
      type: string
      enum:
        - BF
        - BG
        - CF
        - CG
        - CO
        - FF
        - GF
        - GT
        - IE
        - LG
        - MD
        - ML
        - OT
        - PA
        - PT
        - SA
        - SB
        - SF
        - ST
        - TS
        - UN
        - UP
        - WI
      maxLength: 2
      example: BF
      description: |
        This field describes the type of service that has been provided.

        Value | Description 
        ------|---------------
        BF    | Bundled Service
        BG    | Baggage Fee
        CF    | Change Fee
        CG    | Cargo
        CO    | Carbon Offset
        FF    | Frequent Flyer
        GF    | Gift Card
        GT    | Ground Transport
        IE    | In-Flight Entertainment
        LG    | Lounge
        MD    | Medical
        ML    | Meal/Beverage
        OT    | Other
        PA    | Passenger Assist Fee
        PT    | Pets
        SA    | Seat Fees
        SB    | Standby
        SF    | Service Fee
        ST    | Store
        TS    | Travel Service
        UN    | Unaccompanied Travel
        UP    | Upgrades
        WI    | Wi-Fi
    AirlineAncillaryServicesServiceFee:
      type: number
      maxLength: 14
      example: 2
      description: >
        This field contains the amount associated with the value provided in
        ancillary Service Code.
    AirlineAncillaryServices:
      type: object
      required:
        - serviceCode
        - serviceFee
      properties:
        serviceCode:
          $ref: '#/components/schemas/AirlineAncillaryServicesServiceCode'
        serviceFee:
          $ref: '#/components/schemas/AirlineAncillaryServicesServiceFee'
    AirlineAncillaryServicesArray:
      type: array
      writeOnly: true
      items:
        $ref: '#/components/schemas/AirlineAncillaryServices'
      example:
        - serviceCode: BF
          serviceFee: 2
        - serviceCode: BG
          serviceFee: 3
      description: |
        Array of ancillary service code and fees.

        **Conditional: Send if any ancillary services were charged.**
    AirlineTravelAgencyCode:
      type: string
      maxLength: 8
      example: '05172343'
      description: >
        Code identifying travel agency if the ticket was issued by a travel
        agency.


        **Conditional: Send if a travel agency service was used.**
    AirlineTravelAgencyName:
      type: string
      maxLength: 25
      example: State Travel
      description: |
        Name of travel agency if the ticket was issued by a travel agency.

        **Conditional: Send if a travel agency service was used.**
    AirlineExchangeTicketNumber:
      type: string
      maxLength: 15
      example: '507212345678768'
      description: |
        The original ticket number that was replaced by a new ticket number.
    AirlineRequest:
      type: object
      description: >
        **Conditional: Utilize this object for Airline transactions in
        Authorization/Sale requests when possible. If unable to provide this
        data at Authorization, this object must be sent in subsequent Capture
        requests for the transaction.**
      required:
        - carrierCode
        - carrierName
        - conjunctionTicketIndicator
        - documentType
        - electronicTicketIndicator
        - internetIndicator
        - issueDate
        - numberOfCities
        - numberOfCarriers
        - numberOfPassengers
        - passengerArrivalDate
        - passengerDepartureDate
        - passengerNameRecord
        - restrictedTicketIndicator
        - ticketChangeIndicator
        - ticketTranType
        - tickets
        - flightLegs
        - typeIndicator
      properties:
        carrierCode:
          $ref: '#/components/schemas/AirlineCarrierCode'
        carrierName:
          $ref: '#/components/schemas/AirlineCarrierName'
        conjunctionTicketIndicator:
          $ref: '#/components/schemas/AirlineConjunctionTicketIndicator'
        documentType:
          $ref: '#/components/schemas/AirlineDocumentType'
        electronicTicketIndicator:
          $ref: '#/components/schemas/AirlineElectronicTicketIndicator'
        internetIndicator:
          $ref: '#/components/schemas/AirlineInternetIndicator'
        issueDate:
          $ref: '#/components/schemas/AirlineIssueDate'
        numberOfCities:
          $ref: '#/components/schemas/AirlineNumberOfCities'
        numberOfCarriers:
          $ref: '#/components/schemas/AirlineNumberOfCarriers'
        numberOfPassengers:
          $ref: '#/components/schemas/AirlineNumberOfPassengers'
        passengerArrivalDate:
          $ref: '#/components/schemas/AirlinePassengerArrivalDate'
        passengerDepartureDate:
          $ref: '#/components/schemas/AirlinePassengerDepartureDate'
        passengerNameRecord:
          $ref: '#/components/schemas/AirlinePassengerNameRecord'
        restrictedTicketIndicator:
          $ref: '#/components/schemas/AirlineRestrictedTicketIndicator'
        ticketChangeIndicator:
          $ref: '#/components/schemas/AirlineTicketChangeIndicator'
        ticketTranType:
          $ref: '#/components/schemas/AirlineTicketTranType'
        typeIndicator:
          $ref: '#/components/schemas/AirlineTypeIndicator'
        tickets:
          $ref: '#/components/schemas/AirlineTicketsArray'
        flightLegs:
          $ref: '#/components/schemas/AirlineFlightLegsArray'
        ancillaryServices:
          $ref: '#/components/schemas/AirlineAncillaryServicesArray'
        travelAgencyCode:
          $ref: '#/components/schemas/AirlineTravelAgencyCode'
        travelAgencyName:
          $ref: '#/components/schemas/AirlineTravelAgencyName'
        exchangeTicketNumber:
          $ref: '#/components/schemas/AirlineExchangeTicketNumber'
    CardOnFileType:
      type: string
      enum:
        - S01
        - S02
        - U01
        - U02
        - U03
        - U04
        - U05
        - U06
        - U07
        - U08
        - U09
      example: S01
      description: >
        This field specifies the type of the card-on-file transaction.


        Below is a table showing the valid values for use cases where the
        cardholder is entering their card data to store on file.


        | Value  | Initiator  | Recurring | 3D Secure |
        Description                                                                                                                                                                                                                                                                                                                                                    
        |

        |--------|------------|-----------|-----------|-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|

        | S01    | Cardholder | No        | Yes       | Used when the initial
        transaction/card verification request is not for a recurring
        payment.                                                                                                                                                                                                                                                                                       
        |

        | S02    | Cardholder | Yes       | Yes       | Used when the initial
        transaction/card verification request is for a recurring payment.
        Requires sending `cardOnFile.recurringFrequency` and
        `cardOnFile.recurringExpiry`                                                                                                                                                                                             
        |


        Below is a table showing the valid values for uses cases where you
        already have a card on file and are using that existing card to process
        a transaction.


        | Value  | Initiator  | Recurring | 3D Secure |
        Description                                                                                                                                                                                                                                                                                                                                                    
        |

        |--------|------------|-----------|-----------|-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|

        | U01    | Cardholder | No        | Yes       | Unscheduled transaction
        using the card on file initiated by the
        cardholder                                                                                                                                                                                                                                                                                     
        |

        | U02    | Merchant   | No        | No        | Unscheduled transaction
        using the card on file initiated by the
        merchant                                                                                                                                                                                                                                                                                       
        |

        | U03    | Merchant   | Yes       | No        | Merchant initiated
        recurring payment using the card on
        file                                                                                                                                                                                                                                                                                                    
        |

        | U04    | Merchant   | No        | No        | Identifies a transaction
        as a Reauthorization COF
        transaction.                                                                                                                                                                                                                                                                                                 
        |

        | U05    | Merchant   | No        | No        | Identifies a transaction
        as a Resubmission COF transaction. Only certain merchant categories are
        able to send a resubmission, and it can only be done if the original
        authorization attempt was declined due to insufficient
        funds.                                                                                                                            
        |

        | U06    | Merchant   | No        | No        | Identifies a transaction
        as an Estimated Authorization COF
        transaction.                                                                                                                                                                                                                                                                                        
        |

        | U07    | Merchant   | No        | No        | Identifies a transaction
        as a Delayed Charges COF transaction. For example, a hotel might charge
        a customer for room damages after the guest has already checked
        out.                                                                                                                                                                                          
        |

        | U08    | Merchant   | No        | No        | Identifies a transaction
        as an Incremental COF transaction. For example, a hotel which authorized
        a customer’s card for one night at check-in might increase the
        authorization amount to cover two nights when the customer decides to
        extend their stay. Shift4 automatically detects this scenario and sends
        the appropriate value to the processor. |

        | U09    | Merchant   | No        | No        | Identifies a transaction
        as a No Show COF transaction. For example, a hotel might charge a
        customer who does not show up for a booked
        stay.                                                                                                                                                                                                                    
        |


        See the [Card On File
        Transactions](/guides/advanced-concepts/card-on-file-transactions)
        section for additional details.
    CardOnFileRecurringExpiry:
      type: string
      example: '20250401'
      minLength: 8
      maxLength: 8
      description: >
        Date after which no further authorizations shall be performed. This
        field is limited to 8 characters, and the accepted format is YYYYMMDD.


        **Conditional: This field is required if it's the first recurring
        transaction (`cardOnFile.type = S02`). This field is not needed if the
        transaction is not recurring or if the transaction is a subsequent
        recurring transaction.**
    CardOnFileRecurringFrequency:
      type: string
      example: '15'
      minLength: 1
      maxLength: 4
      description: >
        Indicates the minimum number of days between authorizations.


        **Conditional: 'This field is required if it's the first recurring
        transaction (`cardOnFile.type = S02`). This field is not needed if the
        transaction is not recurring or if the transaction is a subsequent
        recurring transaction.**
    CardOnFileTransactionId:
      type: string
      maxLength: 15
      example: Z62537846172646
      description: >
        This field is returned in the initial COF response, and ties subsequent
        COF transactions to the original authorization.


        For example, if a merchant runs a Sale on a card for the first time,
        they will receive a transactionId back in the response.  A month later,
        when the merchant wants to perform an additional Sale with the card on
        file, they would send a Sale request including the transactionId they
        received from the first sale.


        **Conditional: Must be sent in subsequent COF requests if you are not
        processing with a Global Token Vault token. If using Global Token Vault
        tokens then this field is not required**
    CardOnFileTransactionLinkId:
      type: string
      maxLength: 22
      example: Z871868461726461879548
      description: >
        A unique identifier assigned to each transaction to link related events
        throughout the transaction lifecycle. This field is supported for
        Mastercard brand only.


        For example, if a merchant runs a Sale on a card for the first time,
        they will receive a transactionLinkId back in the response.  A month
        later, when the merchant wants to perform an additional Sale with the
        card on file, they would send a Sale request including the
        transactionLinkId they received from the first sale.


        **Conditional: Must be sent in subsequent COF requests if you are not
        processing with a Global Token Vault token. If using Global Token Vault
        tokens then this field is not required**
    CardOnFile:
      type: object
      description: >
        **Conditional: Send this object when the transaction being performed is
        using a card on file or when the request will result in storing a card
        on file.**


        See the [Card On File
        Transactions](/guides/advanced-concepts/card-on-file-transactions)
        section for more information.
      properties:
        type:
          $ref: '#/components/schemas/CardOnFileType'
        recurringExpiry:
          $ref: '#/components/schemas/CardOnFileRecurringExpiry'
        recurringFrequency:
          $ref: '#/components/schemas/CardOnFileRecurringFrequency'
        transactionId:
          $ref: '#/components/schemas/CardOnFileTransactionId'
        transactionLinkId:
          $ref: '#/components/schemas/CardOnFileTransactionLinkId'
    HotelEstimatedDays:
      type: integer
      maxLength: 2
      example: 5
      description: >
        Used to communicate the estimated number of days of a guest’s stay. This
        value is included in an
        [Authorization](/apis/payments-platform-rest/openapi/transactions/transactionsauthorization)
        request for a consumer’s hotel stay.
    HotelCheckIn:
      type: object
      description: |
        **Conditional: Utilize this object for Hotel transactions**
      properties:
        estimatedDays:
          $ref: '#/components/schemas/HotelEstimatedDays'
    PurchaseCardCustomerReference:
      type: string
      maxLength: 25
      example: D019D09309F2
      description: >
        A unique value used to identify the consumer or transaction. If a
        merchant has a significant amount of revenue from purchasing card
        customers, the interface would use this field to collect the consumer’s
        purchase order or employee identification number. In lodging
        transactions, this may be unique transaction details, such as a
        reservation code or third-party booking source.  This field is part of
        Level 2 card data.
    PurchaseCardDestinationPostalCode:
      type: string
      maxLength: 9
      example: '94719'
      description: >
        When items are shipped, the ZIP/postal code to which merchandise will be
        shipped; otherwise, the ZIP/postal code where the goods or services are
        rendered.  This field is part of Level 2 card data.
    PurchaseCardProductDescriptors:
      type: array
      items:
        type: string
      maxLength: 40
      example:
        - Hamburger
        - Fries
        - Soda
        - Cookie
      description: >
        A text description of the items purchased or services sold. This can be
        a generic text description of what the merchant sells (such as
        “Groceries”) or specific transaction data (such as the name of the item
        sold). At least one product descriptor field is required in a sale or
        authorization request.


        Note: The productDescriptors array is limited to 4 elements. Each
        element can contain a maximum of 40 characters.
    PurchaseCard:
      type: object
      required:
        - customerReference
        - destinationPostalCode
        - productDescriptors
      properties:
        customerReference:
          $ref: '#/components/schemas/PurchaseCardCustomerReference'
        destinationPostalCode:
          $ref: '#/components/schemas/PurchaseCardDestinationPostalCode'
        productDescriptors:
          $ref: '#/components/schemas/PurchaseCardProductDescriptors'
    TransactionVendorReference:
      type: string
      maxLength: 50
      example: 12382-01
      description: >
        Optional field for information that can be searched in the merchant
        portal.
    TransactionAuthType:
      type: string
      maxLength: 2
      enum:
        - '1'
        - '2'
      example: '2'
      description: >
        Specifies whether or not the authorization amount can be modified post
        authorization. Specifying the transaction as a 'Final Authorization' can
        result in lower transaction rates, however the transaction amount can
        not be incremented or decremented. It must be captured for the exact
        amount that it was authorized.


        If this field is not included in the request the transaction will be
        processed as a 'Pre-Authorization'.


        Value| Description

        -----|------------

        1    | Final Authorization

        2    | Pre-Authorization
    TransactionSource:
      type: string
      minLength: 1
      maxLength: 2
      example: '6'
      enum:
        - '6'
      description: >
        **Conditional: Must be sent when processing transactions on an
        unattended device.**


        Transaction source type. 


        Value  | Description       

        -------|-----------------------------

        6      | Unattended Cardholder Activated Terminal (UCAT)
    TransactionOriginalDate:
      type: string
      format: ISO 8601
      example: '2021-04-15T09:18:23.283-07:00'
      description: >
        The date and time of the original transaction request in ISO 8601 format
        including the timezone offset (yyyy-mm-ddThh:mm:ss.nnn+hh:mm).


        Must be an exact match for the value sent in the original transaction
        request.
    DeviceTerminalIdComEng:
      type: string
      maxLength: 32
      example: '1742'
      description: >
        This field is optional and is for backwards compatibility with existing
        vendors that are used to processing via UTG controlled devices.


        Since Commerce Engine is running directly on the payment device it does
        not require a `device.terminalId` to be specified. 
    ReceiptColumns:
      type: integer
      example: 40
      maxLength: 2
      description: >
        Send this field if you want Shift4 to format the receipt text instead of
        returning individual fields. The value sent will correlate to the column
        width of the formatted receipt that we return. (This also allows the
        receipt text to wrap to fit the paper size of the printed receipt.) See
        the [Printing Receipts](/guides/core-concepts/printing-receipts) section
        of this document for more information on formatted receipts.
    StatementSuffix:
      type: string
      maxLength: 15
      example: KDNYZUHQ1
      description: >
        Custom description that will be appended to the merchant name on the
        customer's statement. For most card brands, the merchant DBA name can be
        a maximum of 25 characters. Sending this value will cause the merchant
        name to be truncated to 9 characters. Shift4 will add an asterisk
        between the merchant name and the `statementSuffix` value.


        For example, for a merchant named `Joe's Warehouse Emporium` that
        processes a transaction with `statementSuffix` value of `KDNYZUHQ1`, the
        merchant statement will show as `Joe's War*KDNYZUHQ1`.


        **Note: The value that displays on customer statements from card issuers
        is beyond Shift4's control. We will submit the transaction data as
        described above, however issuers may modify or truncate that data as
        they see fit. To best accommodate different issuer limitations, we will
        truncate the merchant name to the minimum possible value (9 characters)
        in order to attempt to leave the most room for the statementSuffix to
        populate on issuer statements.**
    CurrencyCode:
      type: string
      format: ISO 4217 3 Character Alphabetic Code
      example: USD
      description: >
        Transaction currency code. See the [Currency
        Codes](/guides/appendices/currency-codes) section for details.


        **Note: This is currently supported when processing for a merchant
        outside of the US and Canada. If processing for a US or Canadian
        merchant then this field will be ignored and the transaction will
        process in the merchant's configured currency.**
    CustomerAddressLine1:
      type: string
      maxLength: 30
      example: 65 Easy St
      description: >
        Cardholder’s street address exactly as it appears on their billing
        statement. This field is used in AVS.
    CustomerFirstName:
      type: string
      maxLength: 30
      example: John
      description: >
        Specifies a consumer’s first name. This field is used in AVS. If the
        interface sends this field, the value specified by the interface will be
        returned in the response, unless the API Option
        [USECARDNAME](/guides/appendices/api-options#usecardname) is included in
        the request and a Commerce Engine or UTG-controlled PIN pad is in use.
        If the interface does not send the `customer` object, the consumer's
        name will be returned in the `customer` object if the name is present in
        the card's EMV or track data.
    CustomerMiddleName:
      type: string
      maxLength: 30
      example: Andrew
      description: |
        Specifies a consumer’s middle name.
    CustomerLastName:
      type: string
      maxLength: 30
      example: Smith
      description: >
        Specifies a consumer’s last name. This field is used in AVS. If the
        interface sends this field, the value specified by the interface will be
        returned in the response, unless the API Option
        [USECARDNAME](/guides/appendices/api-options#usecardname) is included in
        the request and a Commerce Engine or UTG-controlled PIN pad is in use.
        If the interface does not send the `customer` object, the consumer's
        name will be returned in the `customer` object if the name is present in
        the card's EMV or track data.
    CustomerPostalCode:
      type: string
      minLength: 1
      maxLength: 9
      example: '65144'
      description: >
        Cardholder’s ZIP/postal code from their billing statement. This field is
        used in AVS. Do not include special characters.


        **Note: This field only allows alphanumeric characters (a-z, A-Z, 0-9).
        Special characters including - are not allowed. If you are sending in
        zip+4 you must not include the dash so 89134-1234 would be sent as
        891341234**
    CustomerEmailAddress:
      type: string
      maxLength: 80
      example: john.smith@email.com
      description: |
        Customer email address.
    CustomerIpAddress:
      type: string
      maxLength: 20
      example: 63.57.84.101
      description: >
        Public source IP Address where the request originates, not the IP
        Address of the web server.
    Customer:
      type: object
      properties:
        addressLine1:
          $ref: '#/components/schemas/CustomerAddressLine1'
        firstName:
          $ref: '#/components/schemas/CustomerFirstName'
        middleName:
          $ref: '#/components/schemas/CustomerMiddleName'
        lastName:
          $ref: '#/components/schemas/CustomerLastName'
        postalCode:
          $ref: '#/components/schemas/CustomerPostalCode'
        emailAddress:
          $ref: '#/components/schemas/CustomerEmailAddress'
        ipAddress:
          $ref: '#/components/schemas/CustomerIpAddress'
    CardPresent:
      type: string
      enum:
        - 'Y'
        - 'N'
      example: 'Y'
      description: >
        **Conditional: Send in the initial authorization/sale request**


        Indicates whether a card was present (‘Y’) or not (‘N’) at the time a
        transaction took place. This should be set appropriately in the initial
        authorization/sale request.  In subsequent requests, this field should
        be left blank or should not be sent.


        **Note:** Subsequent request here does not apply to the secondary
        request for card on file type transactions or reuse of the same card. An
        example of a subsequent request would be a capture after an
        authorization. You would not include `card.present` in the capture,
        which is the subsequent request. Another example is when performing an
        incremental authorization where you perform an authorization, followed
        by an incremental authorization then a capture. The second authorization
        (incremental) and the capture are the subsequent requests where you
        would not include `card.present`.
    CardType:
      type: string
      enum:
        - CC
        - DB
        - GC
        - HF
        - PL
        - YC
      example: VS
      description: >
        An abbreviation used to specify the type of card that will be used when
        processing a transaction.  If an interface sends a value that is not
        listed here, that value will be ignored.


        Value| Description

        -----|------------

        CC   | When using a UTG-controlled device, this value will force a card
        to process as credit.

        DB   | When using a UTG-controlled device, this value will force a card
        to process as debit.  When using a non-UTG-controlled PIN pad, this
        value must be sent when processing a debit transaction.

        GC   | Gift Card

        HF   | HSA/FSA Card

        PL   | Private Label

        YC   | IT’S YOUR CARD
    ApiOptions:
      type: array
      items:
        type: string
      example:
        - RETURNEXPDATE
        - ALLOWPARTIALAUTH
      writeOnly: true
      description: >
        API Options modify the request being made. See the [API
        Options](/guides/appendices/api-options.md) section for more
        information.
    TipPresetType:
      type: string
      enum:
        - none
        - percent
        - amount
      example: percent
      description: >
        The tip option selected by the cardholder.


        | Value   |
        Description                                                                                                       
        |

        |---------|--------------------------------------------------------------------------------------------------------------------|

        | none    | Skips the preset screen and goes direclty to the other tip
        amount screen.                                          |

        | percent | Display the preset screen showing preset percentages. Must
        include `tip.preset1`, `tip.preset2`, and `tip.preset3` |

        | amount  | Display the preset screen showing preset amounts. Must
        include `tip.preset1`, `tip.preset2`, and `tip.preset3`.    |
    TipPresetDefault:
      type: string
      enum:
        - '1'
        - '2'
        - '3'
        - none
      example: '2'
      description: >
        The preset value that is selected by default. If not sent in the request
        it will default to to preset 2.


        | Value | Description           |

        |-------|-----------------------|

        | 1     | Preset 1 is selected  |

        | 2     | Preset 2 is selected  |

        | 3     | Preset 3 is selected  |

        | none  | No preset is selected |
    TipPreset1:
      type: number
      example: 15
      description: >
        The preset value for the preset number 1. If `presetType = percent` send
        the percentage value. If `presetType = amount` send the amount value.
    TipPreset2:
      type: number
      example: 20
      description: >
        The preset value for the preset number 2. If `presetType = percent` send
        the percentage value. If `presetType = amount` send the amount value.
    TipPreset3:
      type: number
      example: 25
      description: >
        The preset value for the preset number 3. If `presetType = percent` send
        the percentage value. If `presetType = amount` send the amount value.
    TipHeader:
      type: string
      maxLength: 100
      example: Would you like to add a tip?
      description: >
        Optional field to override the header text. If not sent, the header text
        will display `Add Tip` in the terminal's configured language.
    TipBasisNotification:
      type: boolean
      example: true
      description: >
        Send as `true` if you want to display the tip basis notification text on
        the tip screen. Must also include `amount.tipBasis` in the request if
        sending as `true`.


        Default: `false`
    TipDisplayNoTip:
      type: boolean
      example: true
      description: >
        Send as `true` if you want to display No Tip instead of Cash Tip on the
        tip entry screen.


        Default: `false`
    TipObject:
      type: object
      description: >
        The optional `tip` object allows integrators to control the display and
        behavior of the tip screen presented to customers during payment
        processing.
      required:
        - presetType
      properties:
        presetType:
          $ref: '#/components/schemas/TipPresetType'
        presetDefault:
          $ref: '#/components/schemas/TipPresetDefault'
        preset1:
          $ref: '#/components/schemas/TipPreset1'
        preset2:
          $ref: '#/components/schemas/TipPreset2'
        preset3:
          $ref: '#/components/schemas/TipPreset3'
        headerText:
          $ref: '#/components/schemas/TipHeader'
        basisNotification:
          $ref: '#/components/schemas/TipBasisNotification'
        displayNoTip:
          $ref: '#/components/schemas/TipDisplayNoTip'
    UILanguageRequest:
      type: string
      example: en
      description: >
        ISO 639-1 2-letter language code specifying the UI display language for
        the transaction (e.g. "en", "fr", "de"). When provided, overrides the
        device's configured default language for the duration of the session.
        Value persists across transactions until a new value is passed. Send
        default to reset the device back to its default language.
    UIMode:
      type: string
      enum:
        - light
        - dark
      example: dark
      description: >
        Set the UI to light mode by sending `light` or dark mode by sending
        `dark`
    UISuppressFinalResult:
      type: boolean
      example: 'true'
      description: >
        When `true`, the terminal suppresses the final transaction result
        screen.
    SafFloorLimitCredit:
      type: number
      maxLength: 14
      example: 250.25
      description: >
        Sets the offline floor limit for the transaction. If lower than the
        configured credit floor limit, it overrides the limit. If higher than or
        equal to the configured limit, it's ignored.
    SafFloorLimit:
      type: object
      properties:
        credit:
          $ref: '#/components/schemas/SafFloorLimitCredit'
    transactions_authorization_comengdevice:
      title: Commerce Engine For On Premise
      type: object
      required:
        - dateTime
        - amount
        - clerk
        - transaction
      properties:
        dateTime:
          $ref: '#/components/schemas/DateTime'
        amount:
          $ref: '#/components/schemas/AmountObjectNoSurcharge'
        clerk:
          $ref: '#/components/schemas/Clerk'
        transaction:
          type: object
          required:
            - invoice
            - purchaseCard
          properties:
            invoice:
              $ref: '#/components/schemas/TransactionInvoice'
            notes:
              $ref: '#/components/schemas/TransactionNotes'
            businessDate:
              $ref: '#/components/schemas/TransactionBusinessDate'
            amex:
              $ref: '#/components/schemas/TransactionAmex'
            auto:
              $ref: '#/components/schemas/AutoCheckIn'
            airline:
              $ref: '#/components/schemas/AirlineRequest'
            cardOnFile:
              $ref: '#/components/schemas/CardOnFile'
            hotel:
              $ref: '#/components/schemas/HotelCheckIn'
            purchaseCard:
              $ref: '#/components/schemas/PurchaseCard'
            vendorReference:
              $ref: '#/components/schemas/TransactionVendorReference'
            authType:
              $ref: '#/components/schemas/TransactionAuthType'
            source:
              $ref: '#/components/schemas/TransactionSource'
            originalDate:
              $ref: '#/components/schemas/TransactionOriginalDate'
        device:
          type: object
          properties:
            terminalId:
              $ref: '#/components/schemas/DeviceTerminalIdComEng'
        receiptColumns:
          $ref: '#/components/schemas/ReceiptColumns'
        statementSuffix:
          $ref: '#/components/schemas/StatementSuffix'
        currencyCode:
          $ref: '#/components/schemas/CurrencyCode'
        customer:
          $ref: '#/components/schemas/Customer'
        card:
          type: object
          properties:
            present:
              $ref: '#/components/schemas/CardPresent'
            type:
              $ref: '#/components/schemas/CardType'
        apiOptions:
          $ref: '#/components/schemas/ApiOptions'
        tip:
          $ref: '#/components/schemas/TipObject'
        ui:
          type: object
          properties:
            language:
              $ref: '#/components/schemas/UILanguageRequest'
            mode:
              $ref: '#/components/schemas/UIMode'
            suppressFinalResult:
              $ref: '#/components/schemas/UISuppressFinalResult'
      example:
        dateTime: '2021-04-15T09:18:23.283-07:00'
        amount:
          tax: 15
          total: 140
        apiOptions:
          - ALLOWPARTIALAUTH
        card:
          present: 'Y'
        clerk:
          numericId: 1576
        transaction:
          hotel:
            estimatedDays: 5
          invoice: '192029'
          notes: Transaction notes are added here
          purchaseCard:
            customerReference: D019D09309F2
            destinationPostalCode: '94719'
            productDescriptors:
              - Hamburger
              - Fries
              - Soda
              - Cookie
    DeviceCloud:
      type: boolean
      example: true
      description: >
        Indicates the transaction will be processed via the Commerce Engine
        solution for cloud based POS/PMS systems. Value must be sent as `true`
        in order to route the request to the payment device at the merchant
        location.
    DeviceManufacturer:
      type: string
      enum:
        - Ingenico
        - Innowi
        - PAX
        - Verifone
        - Castles
        - Miura
      example: PAX
      description: |
        Specifies the company which manufactured the device.
    DeviceSerialNumber:
      type: string
      maxLength: 64
      example: '1170301234'
      description: |
        Specifies the serial number of the device.
    DeviceCommerceEngineCloud:
      type: object
      required:
        - cloud
        - manufacturer
        - serialNumber
      properties:
        cloud:
          $ref: '#/components/schemas/DeviceCloud'
        manufacturer:
          $ref: '#/components/schemas/DeviceManufacturer'
        serialNumber:
          $ref: '#/components/schemas/DeviceSerialNumber'
    transactions_authorization_comengcloud:
      title: Commerce Engine For Cloud
      type: object
      required:
        - dateTime
        - amount
        - clerk
        - transaction
        - device
      properties:
        dateTime:
          $ref: '#/components/schemas/DateTime'
        amount:
          $ref: '#/components/schemas/AmountObjectNoSurcharge'
        clerk:
          $ref: '#/components/schemas/Clerk'
        transaction:
          type: object
          required:
            - invoice
            - purchaseCard
          properties:
            invoice:
              $ref: '#/components/schemas/TransactionInvoice'
            notes:
              $ref: '#/components/schemas/TransactionNotes'
            businessDate:
              $ref: '#/components/schemas/TransactionBusinessDate'
            amex:
              $ref: '#/components/schemas/TransactionAmex'
            auto:
              $ref: '#/components/schemas/AutoCheckIn'
            airline:
              $ref: '#/components/schemas/AirlineRequest'
            cardOnFile:
              $ref: '#/components/schemas/CardOnFile'
            hotel:
              $ref: '#/components/schemas/HotelCheckIn'
            purchaseCard:
              $ref: '#/components/schemas/PurchaseCard'
            vendorReference:
              $ref: '#/components/schemas/TransactionVendorReference'
            authType:
              $ref: '#/components/schemas/TransactionAuthType'
            source:
              $ref: '#/components/schemas/TransactionSource'
            originalDate:
              $ref: '#/components/schemas/TransactionOriginalDate'
        device:
          $ref: '#/components/schemas/DeviceCommerceEngineCloud'
        receiptColumns:
          $ref: '#/components/schemas/ReceiptColumns'
        currencyCode:
          $ref: '#/components/schemas/CurrencyCode'
        customer:
          $ref: '#/components/schemas/Customer'
        card:
          type: object
          properties:
            present:
              $ref: '#/components/schemas/CardPresent'
            type:
              $ref: '#/components/schemas/CardType'
        apiOptions:
          $ref: '#/components/schemas/ApiOptions'
        tip:
          $ref: '#/components/schemas/TipObject'
        ui:
          type: object
          properties:
            language:
              $ref: '#/components/schemas/UILanguageRequest'
            mode:
              $ref: '#/components/schemas/UIMode'
            suppressFinalResult:
              $ref: '#/components/schemas/UISuppressFinalResult'
      example:
        dateTime: '2023-08-31T07:20:23.283-07:00'
        amount:
          tax: 15
          total: 140
        apiOptions:
          - ALLOWPARTIALAUTH
        card:
          present: 'Y'
        clerk:
          numericId: 1576
        device:
          cloud: true
          manufacturer: PAX
          serialNumber: '1170301234'
        transaction:
          hotel:
            estimatedDays: 5
          invoice: '192029'
          notes: Transaction notes are added here
          purchaseCard:
            customerReference: D019D09309F2
            destinationPostalCode: '94719'
            productDescriptors:
              - Hamburger
              - Fries
              - Soda
              - Cookie
    DeviceTerminalId:
      type: string
      maxLength: 32
      example: '1742'
      description: >
        To prompt a specific UTG-controlled PIN pad in a request, the API
        Terminal ID configured in UTG TuneUp must be specified in this field.
    DevicePromptPostalCode:
      type: string
      minLength: 1
      maxLength: 1
      enum:
        - 'Y'
        - 'N'
      example: 'Y'
      description: >
        When using a UTG-controlled PIN pad:


        Value|Description

        -----|-----------

        Y    | Force the PIN pad to prompt the consumer for a ZIP/Postal Code.

        N    | Do not force the PIN pad to prompt the consumer for a ZIP/Postal
        Code.


        **Note: Use only when you want to override MCE (Manual Card Entry)
        settings in UTG.**
    DevicePromptCardSecurityCode:
      type: string
      minLength: 1
      maxLength: 1
      enum:
        - 'Y'
        - 'N'
      example: 'Y'
      description: >
        When using a UTG-controlled PIN pad:


        Value|Description

        -----|-----------

        Y    | Force the PIN pad to prompt the consumer for a CSC.

        N    | Do not force the PIN pad to prompt the consumer for a CSC.


        **Note: Use only when you want to override MCE (Manual Card Entry)
        settings in UTG.**
    DevicePromptStreetNumber:
      type: string
      minLength: 1
      maxLength: 1
      enum:
        - 'Y'
        - 'N'
      example: 'Y'
      description: >
        When using a UTG-controlled PIN pad:


        Value|Description

        -----|-----------

        Y    | Force the PIN pad to prompt the consumer for the street number of
        their billing address.

        N    | Do not force the PIN pad to prompt the consumer for the street
        number of their billing address.


        **Note: Use only when you want to override MCE (Manual Card Entry)
        settings in UTG.**
    transactions_authorization_utgdevice:
      title: UTG Controlled Device
      type: object
      required:
        - dateTime
        - amount
        - clerk
        - transaction
        - device
      properties:
        dateTime:
          $ref: '#/components/schemas/DateTime'
        amount:
          $ref: '#/components/schemas/AmountObjectNoSurcharge'
        clerk:
          $ref: '#/components/schemas/Clerk'
        transaction:
          type: object
          required:
            - invoice
            - purchaseCard
          properties:
            invoice:
              $ref: '#/components/schemas/TransactionInvoice'
            notes:
              $ref: '#/components/schemas/TransactionNotes'
            businessDate:
              $ref: '#/components/schemas/TransactionBusinessDate'
            amex:
              $ref: '#/components/schemas/TransactionAmex'
            auto:
              $ref: '#/components/schemas/AutoCheckIn'
            airline:
              $ref: '#/components/schemas/AirlineRequest'
            cardOnFile:
              $ref: '#/components/schemas/CardOnFile'
            hotel:
              $ref: '#/components/schemas/HotelCheckIn'
            purchaseCard:
              $ref: '#/components/schemas/PurchaseCard'
            vendorReference:
              $ref: '#/components/schemas/TransactionVendorReference'
            authType:
              $ref: '#/components/schemas/TransactionAuthType'
            source:
              $ref: '#/components/schemas/TransactionSource'
            originalDate:
              $ref: '#/components/schemas/TransactionOriginalDate'
        device:
          type: object
          required:
            - terminalId
          properties:
            terminalId:
              $ref: '#/components/schemas/DeviceTerminalId'
            promptPostalCode:
              $ref: '#/components/schemas/DevicePromptPostalCode'
            promptCardSecurityCode:
              $ref: '#/components/schemas/DevicePromptCardSecurityCode'
            promptStreetNumber:
              $ref: '#/components/schemas/DevicePromptStreetNumber'
        receiptColumns:
          $ref: '#/components/schemas/ReceiptColumns'
        statementSuffix:
          $ref: '#/components/schemas/StatementSuffix'
        currencyCode:
          $ref: '#/components/schemas/CurrencyCode'
        customer:
          $ref: '#/components/schemas/Customer'
        card:
          type: object
          properties:
            present:
              $ref: '#/components/schemas/CardPresent'
            type:
              $ref: '#/components/schemas/CardType'
        apiOptions:
          $ref: '#/components/schemas/ApiOptions'
      example:
        dateTime: '2021-04-15T09:18:23.283-07:00'
        amount:
          tax: 15
          total: 140
        apiOptions:
          - ALLOWPARTIALAUTH
        card:
          present: 'Y'
        clerk:
          numericId: 1576
        device:
          terminalId: '1742'
        transaction:
          hotel:
            estimatedDays: 5
          invoice: '192029'
          notes: Transaction notes are added here
          purchaseCard:
            customerReference: D019D09309F2
            destinationPostalCode: '94719'
            productDescriptors:
              - Hamburger
              - Fries
              - Soda
              - Cookie
    AmountSurcharge:
      type: number
      maxLength: 14
      example: 5
      description: >
        **Conditional: Send in the request if a surcharge was applied to the
        transaction.**


        In a sale or authorization transaction, the `surcharge` field specifies
        a fee amount that a consumer is charged in addition to the transaction
        amount. The fee amount is also added into `amount.total`. For example,
        if the transaction request had `amount.total = 100` and the
        `surcharge.percentage` was 1.5% the transaction would include
        `amount.total = 101.50` and `amount.surcharge = 1.50`
    Amount:
      type: object
      description: >
        Object containing information regarding the amount being requested. The
        `total` field within the object is required and specifies the amount
        being requested. All other fields are for informational purposes and
        must also be included in the `total` field. For example, a purchase of
        $100 with a $20 tip and $8 tax would be `128.00` in the `total` field,
        `20.00` in the `tip` field and `8.00` in the `tax` field.


        Note: For merchants that are configured to allow multiple currencies,
        the amount  fields can specify up to three decimal places. However, the
        number of decimal  places can not exceed the number allowed for the
        specified currency. See the [Currency
        Codes](/guides/appendices/currency-codes) section for details.
      required:
        - total
        - tax
      properties:
        total:
          $ref: '#/components/schemas/AmountTotal'
        tax:
          $ref: '#/components/schemas/AmountTax'
        taxIndicator:
          $ref: '#/components/schemas/AmountTaxIndicator'
        cashback:
          $ref: '#/components/schemas/AmountCashback'
        iiasAmounts:
          $ref: '#/components/schemas/IIASAmountsArray'
        surcharge:
          $ref: '#/components/schemas/AmountSurcharge'
        tip:
          $ref: '#/components/schemas/AmountTip'
        checkTotal:
          $ref: '#/components/schemas/AmountCheckTotal'
    TransactionS4RiskIdRequest:
      type: string
      example: EC52377F-5A8E-4534-BE7A-CF779A35BE45
      description: >
        Unique transaction identification number generated by Shift4 to identify
        a specific risk transaction and a field that can be searched in LTM.



        **Conditional: must be sent if [Risk
        Assessment](/apis/payments-platform-rest/openapi/risk/riskassess) was
        completed prior to processing the transaction.**
    TransactionDeferredAuth:
      type: string
      minLength: 1
      maxLength: 1
      example: D
      enum:
        - D
      description: >
        **Conditional: Must be sent if the transaction is deferred**


        Specifies that a transaction is the result of a deferred authorization.
        For example, a transaction that was accepted while in an offline state
        and is being uploaded after coming back online.


        Value  | Description       

        -------|-----------------------------

        D      | Transaction is a deferred authorization
    TransactionExemptionAction:
      type: string
      example: '02'
      enum:
        - '02'
      description: >
[...]
