openapi: 3.2.0
info:
  version: 1.7.57
  title: Shift4 Payment Transactions API
  contact:
    url: https://www.shift4.com/contact-us/
servers:
- url: https://api.shift4test.com/api/rest/v1
  description: Host Direct Test URL
- url: https://api.shift4api.net/api/rest/v1
  description: Host Direct Production URL
tags:
- name: Transactions
paths:
  /transactions/authorization:
    servers:
    - url: https://api.shift4test.com/api/rest/v1
      description: Host Direct Test URL
    - url: https://api.shift4api.net/api/rest/v1
      description: Host Direct Production URL
    - url: https://192.168.1.10:277/api/rest/v1
      description: Locally Installed UTG URL
    - url: https://192.168.1.20:8085/api/rest/v1
      description: Commerce Engine For On Premise URL
    - url: https://api.shift4test.com/api/rest/v1
      description: Commerce Engine For Cloud Test URL
    - url: https://api.shift4api.net/api/rest/v1
      description: Commerce Engine For Cloud Production URL
    post:
      tags:
      - Transactions
      summary: Authorization
      operationId: transactionsauthorization
      security:
      - AccessToken: []
      description: 'Used to request processor approval for an authorization. If the invoice number already exists, the amount requested will be compared to the approved amount on file, and Shift4 will request approval for the additional amount only. If approved, an updated transaction will be displayed in Lighthouse Transaction Manager. This step does NOT close and capture the funds, only authorizes the payment request.


        *Please note that if you are tokenzing your credit card information outside of Shift4, authorizing and capturing a payment is not available unless you store the tokenized value from Shift4 from an authorized payment request and use this token in the subsequent capture request.*


        **Integration Methods:**

        - Host Direct

        - Locally Installed UTG

        - Commerce Engine For On Premise

        - Commerce Engine For Cloud


        See the Integration Methods and URLs Section sections of the Development Quick Start guide for details regarding each processing option.


        See the JSON Body Schemas for more details on the various JSON body formats.'
      parameters:
      - $ref: '#/components/parameters/InterfaceVersion'
      - $ref: '#/components/parameters/InterfaceName'
      - $ref: '#/components/parameters/CompanyName'
      - $ref: '#/components/parameters/AccessToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/transactions_authorization_comengdevice'
              - $ref: '#/components/schemas/transactions_authorization_comengcloud'
              - $ref: '#/components/schemas/transactions_authorization_utgdevice'
              - $ref: '#/components/schemas/transactions_authorization_token_gtv'
              - $ref: '#/components/schemas/transactions_authorization_token_legacy'
              - $ref: '#/components/schemas/transactions_authorization_p2pe_idtech'
              - $ref: '#/components/schemas/transactions_authorization_p2pe_tdesdukpt_emv'
              - $ref: '#/components/schemas/transactions_authorization_p2pe_tdesdukpt_msr'
              - $ref: '#/components/schemas/transactions_authorization_p2pe_onguardsde_emv'
              - $ref: '#/components/schemas/transactions_authorization_p2pe_onguardsde_msr'
              - $ref: '#/components/schemas/transactions_authorization_unencryptedcard'
              - $ref: '#/components/schemas/transactions_authorization_3dsecurei4Go'
              - $ref: '#/components/schemas/transactions_authorization_3dsecurecardnumber'
              - $ref: '#/components/schemas/transactions_authorization_3dsecuretoken_gtv'
              - $ref: '#/components/schemas/transactions_authorization_3dsecuretoken_legacy'
              - $ref: '#/components/schemas/transactions_authorization_applepay'
              - $ref: '#/components/schemas/transactions_authorization_googlepay'
              - $ref: '#/components/schemas/transactions_authorization_incremental'
      responses:
        '200':
          description: Transaction was processed
          content:
            application/json:
              schema:
                properties:
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        dateTime:
                          $ref: '#/components/schemas/DateTime'
                        amount:
                          $ref: '#/components/schemas/Amount'
                        card:
                          $ref: '#/components/schemas/CardResponse'
                        customer:
                          type: object
                          properties:
                            firstName:
                              $ref: '#/components/schemas/CustomerFirstNameResponse'
                            lastName:
                              $ref: '#/components/schemas/CustomerLastNameResponse'
                        clerk:
                          $ref: '#/components/schemas/ClerkResponse'
                        dcc:
                          $ref: '#/components/schemas/DCCTransactionResponse'
                        device:
                          $ref: '#/components/schemas/DeviceOnlyTIDResponse'
                        emv:
                          $ref: '#/components/schemas/EMVResponse'
                        receipt:
                          $ref: '#/components/schemas/ReceiptArray'
                        merchant:
                          $ref: '#/components/schemas/MerchantResponse'
                        server:
                          $ref: '#/components/schemas/Server'
                        signature:
                          $ref: '#/components/schemas/Signature'
                        surcharge:
                          $ref: '#/components/schemas/SurchargeTransactionResponse'
                        transaction:
                          type: object
                          properties:
                            authorizationCode:
                              $ref: '#/components/schemas/TransactionAuthorizationCode'
                            authSource:
                              $ref: '#/components/schemas/TransactionAuthSource'
                            invoice:
                              $ref: '#/components/schemas/TransactionInvoice'
                            hostResponse:
                              $ref: '#/components/schemas/HostResponse'
                            responseCode:
                              $ref: '#/components/schemas/TransactionResponseCode'
                            retrievalReference:
                              $ref: '#/components/schemas/TransactionRetrievalReference'
                            saleFlag:
                              $ref: '#/components/schemas/TransactionSaleFlag'
                            amex:
                              $ref: '#/components/schemas/TransactionAmex'
                            avs:
                              $ref: '#/components/schemas/AVS'
                            cardOnFile:
                              $ref: '#/components/schemas/CardOnFile'
                            deferredAuth:
                              $ref: '#/components/schemas/TransactionDeferredAuth'
                        risk:
                          $ref: '#/components/schemas/RiskResponseDeny'
                        universalToken:
                          $ref: '#/components/schemas/UniversalToken'
                        cardBrandToken:
                          $ref: '#/components/schemas/CardBrandToken'
                        payment:
                          type: object
                          properties:
                            accountReference:
                              $ref: '#/components/schemas/PaymentAccountReference'
              examples:
                P2PEEMV:
                  $ref: '#/components/examples/transactionsauthorization_resp_p2peemv'
                P2PE:
                  $ref: '#/components/examples/transactionsauthorization_resp_p2pe'
                Token:
                  $ref: '#/components/examples/transactionsauthorization_resp_token'
                Device:
                  $ref: '#/components/examples/transactionsauthorization_resp_utgdevice'
                Track:
                  $ref: '#/components/examples/transactionsauthorization_resp_track'
                Unenc:
                  $ref: '#/components/examples/transactionsauthorization_resp_raw'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '504':
          $ref: '#/components/responses/TimeoutResponse'
  /transactions/capture:
    servers:
    - url: https://api.shift4test.com/api/rest/v1
      description: Host Direct Test URL
    - url: https://api.shift4api.net/api/rest/v1
      description: Host Direct Production URL
    - url: https://192.168.1.10:277/api/rest/v1
      description: Locally Installed UTG URL
    - url: https://192.168.1.20:8085/api/rest/v1
      description: Commerce Engine For On Premise URL
    - url: https://api.shift4test.com/api/rest/v1
      description: Commerce Engine For Cloud Test URL
    - url: https://api.shift4api.net/api/rest/v1
      description: Commerce Engine For Cloud Production URL
    post:
      tags:
      - Transactions
      summary: Capture
      operationId: transactionscapture
      security:
      - AccessToken: []
      description: 'Used to close out an existing authorization request. If the invoice number already exists, the amount requested will be compared to the approved amount on file, and Shift4 will request approval for the additional amount only. If approved, the authorization will be converted to a sale transaction and be ready to be batched.


        For Restaurant industry, review Restaurant Authorization and Settlement Flow


        **Integration Methods:**

        - Host Direct

        - Locally Installed UTG

        - Commerce Engine For On Premise

        - Commerce Engine For Cloud


        See the Integration Methods and URLs Section sections of the Development Quick Start guide for details regarding each processing option.


        Please note that if you are tokenzing your credit card information outside of Shift4, authorizing and capturing a payment is not available unless you store the tokenized value from Shift4 from an authorized payment request and use this token in the subsequent capture request.'
      parameters:
      - $ref: '#/components/parameters/InterfaceVersion'
      - $ref: '#/components/parameters/InterfaceName'
      - $ref: '#/components/parameters/CompanyName'
      - $ref: '#/components/parameters/AccessToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/transactions_capture_token_gtv'
              - $ref: '#/components/schemas/transactions_capture_token_legacy'
      responses:
        '200':
          description: Transaction was processed
          content:
            application/json:
              schema:
                properties:
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        dateTime:
                          $ref: '#/components/schemas/DateTime'
                        amount:
                          $ref: '#/components/schemas/Amount'
                        card:
                          type: object
                          properties:
                            entryMode:
                              $ref: '#/components/schemas/CardEntryMode'
                            expirationDate:
                              $ref: '#/components/schemas/CardExpirationDateResponse'
                            levelResult:
                              $ref: '#/components/schemas/CardLevelResult'
                            number:
                              $ref: '#/components/schemas/CardMaskedNumber'
                            present:
                              $ref: '#/components/schemas/CardPresent'
                            type:
                              $ref: '#/components/schemas/CardTypeResp'
                            balance:
                              $ref: '#/components/schemas/CardBalance'
                            token:
                              $ref: '#/components/schemas/CardToken'
                        customer:
                          type: object
                          properties:
                            firstName:
                              $ref: '#/components/schemas/CustomerFirstNameResponse'
                            lastName:
                              $ref: '#/components/schemas/CustomerLastNameResponse'
                        clerk:
                          $ref: '#/components/schemas/ClerkResponse'
                        dcc:
                          $ref: '#/components/schemas/DCCTransactionResponse'
                        merchant:
                          $ref: '#/components/schemas/MerchantResponse'
                        receipt:
                          $ref: '#/components/schemas/ReceiptArray'
                        server:
                          $ref: '#/components/schemas/Server'
                        signature:
                          $ref: '#/components/schemas/Signature'
                        transaction:
                          type: object
                          properties:
                            authorizationCode:
                              $ref: '#/components/schemas/TransactionAuthorizationCode'
                            authSource:
                              $ref: '#/components/schemas/TransactionAuthSource'
                            hostResponse:
                              $ref: '#/components/schemas/HostResponse'
                            invoice:
                              $ref: '#/components/schemas/TransactionInvoice'
                            responseCode:
                              $ref: '#/components/schemas/TransactionResponseCode'
                            retrievalReference:
                              $ref: '#/components/schemas/TransactionRetrievalReference'
                            saleFlag:
                              $ref: '#/components/schemas/TransactionSaleFlag'
                            amex:
                              $ref: '#/components/schemas/TransactionAmex'
                            cardOnFile:
                              $ref: '#/components/schemas/CardOnFile'
                        universalToken:
                          $ref: '#/components/schemas/UniversalToken'
                        payment:
                          type: object
                          properties:
                            accountReference:
                              $ref: '#/components/schemas/PaymentAccountReference'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '504':
          $ref: '#/components/responses/TimeoutResponse'
  /transactions/sale:
    servers:
    - url: https://api.shift4test.com/api/rest/v1
      description: Host Direct Test URL
    - url: https://api.shift4api.net/api/rest/v1
      description: Host Direct Production URL
    - url: https://192.168.1.10:277/api/rest/v1
      description: Locally Installed UTG URL
    - url: https://192.168.1.20:8085/api/rest/v1
      description: Commerce Engine For On Premise URL
    - url: https://api.shift4test.com/api/rest/v1
      description: Commerce Engine For Cloud Test URL
    - url: https://api.shift4api.net/api/rest/v1
      description: Commerce Engine For Cloud Production URL
    post:
      tags:
      - Transactions
      summary: Sale/Purchase
      operationId: transactionssale
      security:
      - AccessToken: []
      description: 'Used to request processor approval for an authorization and capture in one request. If the invoice number already exists, the amount requested will be compared to the approved amount on file, and Shift4 will request approval for the additional amount only. If approved, a new sale transaction will be displayed in Lighthouse Transaction Manager and be ready to be batched.


        **Integration Methods:**

        - Host Direct

        - Locally Installed UTG

        - Commerce Engine For On Premise

        - Commerce Engine For Cloud


        See the Integration Methods and URLs Section sections of the Development Quick Start guide for details regarding each processing option.


        See the JSON Body Schemas for more details on the various JSON body formats.'
      parameters:
      - $ref: '#/components/parameters/InterfaceVersion'
      - $ref: '#/components/parameters/InterfaceName'
      - $ref: '#/components/parameters/CompanyName'
      - $ref: '#/components/parameters/AccessToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/transactions_sale_comengdevice'
              - $ref: '#/components/schemas/transactions_sale_comengcloud'
              - $ref: '#/components/schemas/transactions_sale_utgdevice'
              - $ref: '#/components/schemas/transactions_sale_token_gtv'
              - $ref: '#/components/schemas/transactions_sale_token_legacy'
              - $ref: '#/components/schemas/transactions_sale_p2pe_idtech'
              - $ref: '#/components/schemas/transactions_sale_p2pe_tdesdukpt_emv'
              - $ref: '#/components/schemas/transactions_sale_p2pe_tdesdukpt_msr'
              - $ref: '#/components/schemas/transactions_sale_p2pe_onguardsde_emv'
              - $ref: '#/components/schemas/transactions_sale_p2pe_onguardsde_msr'
              - $ref: '#/components/schemas/transactions_sale_unencryptedcard'
              - $ref: '#/components/schemas/transactions_sale_3dsecurei4Go'
              - $ref: '#/components/schemas/transactions_sale_3dsecurecardnumber'
              - $ref: '#/components/schemas/transactions_sale_3dsecuretoken_gtv'
              - $ref: '#/components/schemas/transactions_sale_3dsecuretoken_legacy'
              - $ref: '#/components/schemas/transactions_sale_applepay'
              - $ref: '#/components/schemas/transactions_sale_googlepay'
      responses:
        '200':
          description: Transaction was processed
          content:
            application/json:
              schema:
                properties:
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        dateTime:
                          $ref: '#/components/schemas/DateTime'
                        amount:
                          $ref: '#/components/schemas/Amount'
                        card:
                          $ref: '#/components/schemas/CardResponse'
                        customer:
                          type: object
                          properties:
                            firstName:
                              $ref: '#/components/schemas/CustomerFirstNameResponse'
                            lastName:
                              $ref: '#/components/schemas/CustomerLastNameResponse'
                        clerk:
                          $ref: '#/components/schemas/ClerkResponse'
                        dcc:
                          $ref: '#/components/schemas/DCCTransactionResponse'
                        device:
                          $ref: '#/components/schemas/DeviceOnlyTIDResponse'
                        emv:
                          $ref: '#/components/schemas/EMVResponse'
                        lighthouse:
                          type: object
                          properties:
                            data:
                              $ref: '#/components/schemas/LighthouseDataResponse'
                        merchant:
                          $ref: '#/components/schemas/MerchantResponse'
                        receipt:
                          $ref: '#/components/schemas/ReceiptArray'
                        server:
                          $ref: '#/components/schemas/Server'
                        signature:
                          $ref: '#/components/schemas/Signature'
                        surcharge:
                          $ref: '#/components/schemas/SurchargeTransactionResponse'
                        transaction:
                          type: object
                          properties:
                            authorizationCode:
                              $ref: '#/components/schemas/TransactionAuthorizationCode'
                            authSource:
                              $ref: '#/components/schemas/TransactionAuthSource'
                            hostResponse:
                              $ref: '#/components/schemas/HostResponse'
                            invoice:
                              $ref: '#/components/schemas/TransactionInvoice'
                            responseCode:
                              $ref: '#/components/schemas/TransactionResponseCode'
                            retrievalReference:
                              $ref: '#/components/schemas/TransactionRetrievalReference'
                            saleFlag:
                              $ref: '#/components/schemas/TransactionSaleFlag'
                            amex:
                              $ref: '#/components/schemas/TransactionAmex'
                            avs:
                              $ref: '#/components/schemas/AVS'
                            cardOnFile:
                              $ref: '#/components/schemas/CardOnFile'
                            deferredAuth:
                              $ref: '#/components/schemas/TransactionDeferredAuth'
                        risk:
                          $ref: '#/components/schemas/RiskResponseDeny'
                        universalToken:
                          $ref: '#/components/schemas/UniversalToken'
                        cardBrandToken:
                          $ref: '#/components/schemas/CardBrandToken'
                        taxFree:
                          $ref: '#/components/schemas/TaxFree'
                        payment:
                          type: object
                          properties:
                            accountReference:
                              $ref: '#/components/schemas/PaymentAccountReference'
              examples:
                P2PEEMV:
                  $ref: '#/components/examples/transactionssale_resp_p2peemv'
                P2PE:
                  $ref: '#/components/examples/transactionssale_resp_p2pe'
                Token:
                  $ref: '#/components/examples/transactionssale_resp_token'
                Device:
                  $ref: '#/components/examples/transactionssale_resp_utgdevice'
                Track:
                  $ref: '#/components/examples/transactionssale_resp_track'
                Unenc:
                  $ref: '#/components/examples/transactionssale_resp_raw'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '504':
          $ref: '#/components/responses/TimeoutResponse'
  /transactions/refund:
    servers:
    - url: https://api.shift4test.com/api/rest/v1
      description: Host Direct Test URL
    - url: https://api.shift4api.net/api/rest/v1
      description: Host Direct Production URL
    - url: https://192.168.1.10:277/api/rest/v1
      description: Locally Installed UTG URL
    - url: https://192.168.1.20:8085/api/rest/v1
      description: Commerce Engine For On Premise URL
    - url: https://api.shift4test.com/api/rest/v1
      description: Commerce Engine For Cloud Test URL
    - url: https://api.shift4api.net/api/rest/v1
      description: Commerce Engine For Cloud Production URL
    post:
      tags:
      - Transactions
      summary: Refund
      operationId: refund
      security:
      - AccessToken: []
      description: 'This function can be used to refund a transaction for either the full or a partial amount.


        **Integration Methods:**

        - Host Direct

        - Locally Installed UTG

        - Commerce Engine For On Premise

        - Commerce Engine For Cloud


        See the Integration Methods and URLs Section sections of the Development Quick Start guide for details regarding each processing option.


        See the JSON Body Schemas for more details on the various JSON body formats.'
      parameters:
      - $ref: '#/components/parameters/InterfaceVersion'
      - $ref: '#/components/parameters/InterfaceName'
      - $ref: '#/components/parameters/CompanyName'
      - $ref: '#/components/parameters/AccessToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/transactions_refund_comengdevice'
              - $ref: '#/components/schemas/transactions_refund_comengcloud'
              - $ref: '#/components/schemas/transactions_refund_utgdevice'
              - $ref: '#/components/schemas/transactions_refund_token_gtv'
              - $ref: '#/components/schemas/transactions_refund_token_legacy'
              - $ref: '#/components/schemas/transactions_refund_p2pe_idtech'
              - $ref: '#/components/schemas/transactions_refund_p2pe_tdesdukpt_emv'
              - $ref: '#/components/schemas/transactions_refund_p2pe_tdesdukpt_msr'
              - $ref: '#/components/schemas/transactions_refund_p2pe_onguardsde_emv'
              - $ref: '#/components/schemas/transactions_refund_p2pe_onguardsde_msr'
              - $ref: '#/components/schemas/transactions_refund_unencryptedcard'
      responses:
        '200':
          description: Refund was processed
          content:
            application/json:
              schema:
                properties:
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        dateTime:
                          $ref: '#/components/schemas/DateTime'
                        amount:
                          type: object
                          required:
                          - total
                          properties:
                            total:
                              type: number
                              maxLength: 14
                              example: 51.32
                              description: The amount of the refund.
                        card:
                          type: object
                          properties:
                            entryMode:
                              $ref: '#/components/schemas/CardEntryMode'
                            expirationDate:
                              $ref: '#/components/schemas/CardExpirationDateResponse'
                            levelResult:
                              $ref: '#/components/schemas/CardLevelResult'
                            number:
                              $ref: '#/components/schemas/CardMaskedNumber'
                            present:
                              $ref: '#/components/schemas/CardPresent'
                            type:
                              $ref: '#/components/schemas/CardTypeResp'
                            balance:
                              $ref: '#/components/schemas/CardBalance'
                            token:
                              $ref: '#/components/schemas/CardToken'
                            debitType:
                              $ref: '#/components/schemas/CardDebitType'
                        customer:
                          type: object
                          properties:
                            firstName:
                              $ref: '#/components/schemas/CustomerFirstNameResponse'
                            lastName:
                              $ref: '#/components/schemas/CustomerLastNameResponse'
                        clerk:
                          type: object
                          $ref: '#/components/schemas/ClerkResponse'
                        device:
                          $ref: '#/components/schemas/DeviceOnlyTIDResponse'
                        emv:
                          $ref: '#/components/schemas/EMVResponse'
                        merchant:
                          $ref: '#/components/schemas/MerchantResponse'
                        receipt:
                          $ref: '#/components/schemas/ReceiptArray'
                        signature:
                          $ref: '#/components/schemas/Signature'
                        server:
                          $ref: '#/components/schemas/Server'
                        transaction:
                          type: object
                          properties:
                            authorizationCode:
                              $ref: '#/components/schemas/TransactionAuthorizationCode'
                            authSource:
                              $ref: '#/components/schemas/TransactionAuthSource'
                            hostResponse:
                              $ref: '#/components/schemas/HostResponse'
                            invoice:
                              $ref: '#/components/schemas/TransactionInvoice'
                            responseCode:
                              $ref: '#/components/schemas/TransactionResponseCode'
                            retrievalReference:
                              $ref: '#/components/schemas/TransactionRetrievalReference'
                            saleFlag:
                              $ref: '#/components/schemas/TransactionSaleFlag'
                            amex:
                              $ref: '#/components/schemas/TransactionAmex'
                            deferredAuth:
                              $ref: '#/components/schemas/TransactionDeferredAuth'
                        universalToken:
                          $ref: '#/components/schemas/UniversalToken'
                        payment:
                          type: object
                          properties:
                            accountReference:
                              $ref: '#/components/schemas/PaymentAccountReference'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '504':
          $ref: '#/components/responses/TimeoutResponse'
  /transactions/invoice:
    servers:
    - url: https://api.shift4test.com/api/rest/v1
      description: Host Direct Test URL
    - url: https://api.shift4api.net/api/rest/v1
      description: Host Direct Production URL
    - url: https://192.168.1.10:277/api/rest/v1
      description: Locally Installed UTG URL
    - url: https://192.168.1.20:8085/api/rest/v1
      description: Commerce Engine For On Premise URL
    - url: https://api.shift4test.com/api/rest/v1
      description: Commerce Engine For Cloud Test URL
    - url: https://api.shift4api.net/api/rest/v1
      description: Commerce Engine For Cloud Production URL
    get:
      tags:
      - Transactions
      summary: Invoice Information
      operationId: getinvoice
      security:
      - AccessToken: []
      description: 'Used to request the status (e.g., approved, declined, error, referral, etc.) for a specific invoice; it is primarily used after a timeout or error has occurred. Voided or batched and settled invoices will return an “Invoice Not Found” error. For more information, see the Timeouts and Communication Failures section.


        *Note: The GET request does not support a request body. Sending an empty request body may result in an error.*


        **Integration Methods:**

        - Host Direct

        - Locally Installed UTG

        - Commerce Engine For On Premise

        - Commerce Engine For Cloud


        See the Integration Methods and URLs Section sections of the Development Quick Start guide for details regarding each processing option.'
      parameters:
      - $ref: '#/components/parameters/Invoice'
      - $ref: '#/components/parameters/InterfaceVersion'
      - $ref: '#/components/parameters/InterfaceName'
      - $ref: '#/components/parameters/CompanyName'
      - $ref: '#/components/parameters/AccessToken'
      - $ref: '#/components/parameters/ApiOptions'
      - $ref: '#/components/parameters/ReceiptColumns'
      - $ref: '#/components/parameters/TokenValue'
      responses:
        '200':
          description: Request was processed
          content:
            application/json:
              schema:
                properties:
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        dateTime:
                          $ref: '#/components/schemas/DateTime'
                        amount:
                          $ref: '#/components/schemas/Amount'
                        card:
                          $ref: '#/components/schemas/CardResponse'
                        customer:
                          type: object
                          properties:
                            firstName:
                              $ref: '#/components/schemas/CustomerFirstNameResponse'
                            lastName:
                              $ref: '#/components/schemas/CustomerLastNameResponse'
                        clerk:
                          $ref: '#/components/schemas/ClerkResponse'
                        merchant:
                          $ref: '#/components/schemas/MerchantResponse'
                        transaction:
                          type: object
                          properties:
                            authorizationCode:
                              $ref: '#/components/schemas/TransactionAuthorizationCode'
                            authSource:
                              $ref: '#/components/schemas/TransactionAuthSource'
                            invoice:
                              $ref: '#/components/schemas/TransactionInvoice'
                            responseCode:
                              $ref: '#/components/schemas/TransactionResponseCode'
                            saleFlag:
                              $ref: '#/components/schemas/TransactionSaleFlag'
                        receipt:
                          $ref: '#/components/schemas/ReceiptArray'
                        server:
                          $ref: '#/components/schemas/Server'
        '400':
          description: Error
          content:
            application/json:
              schema:
                properties:
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        error:
                          $ref: '#/components/schemas/Error'
                        lighthouse:
                          type: object
                          properties:
                            data:
                              $ref: '#/components/schemas/LighthouseDataResponse'
                        server:
                          $ref: '#/components/schemas/Server'
              examples:
                Error:
                  $ref: '#/components/examples/InvoiceError'
        '504':
          $ref: '#/components/responses/TimeoutResponse'
    delete:
      tags:
      - Transactions
      summary: Void
      operationId: void
      security:
      - AccessToken: []
      description: 'Used to void and reverse an invoice. This will attempt to reverse the transaction with the processor and will mark the transaction as voided in Shift4''s Gateway.


        *Note: The DELETE request does not support a request body. Sending an empty request body may result in an error.*


        **Integration Methods:**

        - Host Direct

        - Locally Installed UTG

        - Commerce Engine For On Premise

        - Commerce Engine For Cloud


        See the Integration Methods and URLs Section sections of the Development Quick Start guide for details regarding each processing option.'
      parameters:
      - $ref: '#/components/parameters/Invoice'
      - $ref: '#/components/parameters/InterfaceVersion'
      - $ref: '#/components/parameters/InterfaceName'
      - $ref: '#/components/parameters/CompanyName'
      - $ref: '#/components/parameters/AccessToken'
      - $ref: '#/components/parameters/ReceiptColumns'
      - $ref: '#/components/parameters/ReversalReason'
      - $ref: '#/components/parameters/TokenValue'
      responses:
        '200':
          description: Transaction was processed
          content:
            application/json:
              schema:
                properties:
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        dateTime:
                          $ref: '#/components/schemas/DateTime'
                        amount:
                          type: object
                          properties:
                            total:
                              $ref: '#/components/schemas/AmountTotal'
                        card:
                          $ref: '#/components/schemas/CardResponseVoid'
                        merchant:
                          $ref: '#/components/schemas/MerchantResponse'
                        receipt:
                          $ref: '#/components/schemas/ReceiptArray'
                        server:
                          $ref: '#/components/schemas/Server'
                        transaction:
                          type: object
                          properties:
                            authorizationCode:
                              $ref: '#/components/schemas/TransactionAuthorizationCode'
                            authSource:
                              $ref: '#/components/schemas/TransactionAuthSource'
                            hostResponse:
                              $ref: '#/components/schemas/HostResponse'
                            invoice:
                              $ref: '#/components/schemas/TransactionInvoice'
                            responseCode:
                              $ref: '#/components/schemas/TransactionResponseCode'
                            saleFlag:
                              $ref: '#/components/schemas/TransactionSaleFlag'
                            deferredAuth:
                              $ref: '#/components/schemas/TransactionDeferredAuth'
                        payment:
                          type: object
                          properties:
                            accountReference:
                              $ref: '#/components/schemas/PaymentAccountReference'
        '400':
          description: Error
          content:
            application/json:
              schema:
                properties:
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        error:
                          $ref: '#/components/schemas/Error'
                        lighthouse:
                          type: object
                          properties:
                            data:
                              $ref: '#/components/schemas/LighthouseDataResponse'
                        server:
                          $ref: '#/components/schemas/Server'
              examples:
                Error:
                  $ref: '#/components/examples/InvoiceError'
        '504':
          $ref: '#/components/responses/TimeoutResponse'
  /transactions/manualauthorization:
    servers:
    - url: https://api.shift4test.com/api/rest/v1
      description: Host Direct Test URL
    - url: https://api.shift4api.net/api/rest/v1
      description: Host Direct Production URL
    - url: https://192.168.1.10:277/api/rest/v1
      description: Locally Installed UTG URL
    post:
      tags:
      - Transactions
      summary: Manual Authorization
      operationId: manualauthorization
      security:
      - AccessToken: []
      description: 'This function is used to request authorization in an offline scenario, which means that Shift4 will not seek processor approval. An authorization code should be included in this request if the amount being submitted in the request is greater than the authorization amount currently on file.


        **Integration Methods:**

        - Host Direct

        - Locally Installed UTG

        - Commerce Engine For On Premise

        - Commerce Engine For Cloud


        See the Integration Methods and URLs Section sections of the Development Quick Start guide for details regarding each processing option.


        See the JSON Body Schemas for more details on the various JSON body formats.'
      parameters:
      - $ref: '#/components/parameters/InterfaceVersion'
      - $ref: '#/components/parameters/InterfaceName'
      - $ref: '#/components/parameters/CompanyName'
      - $ref: '#/components/parameters/AccessToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/transactions_manualauthorization_comengdevice'
              - $ref: '#/components/schemas/transactions_manualauthorization_comengcloud'
              - $ref: '#/components/schemas/transactions_manualauthorization_utgdevice'
              - $ref: '#/components/schemas/transactions_manualauthorization_token_gtv'
              - $ref: '#/components/schemas/transactions_manualauthorization_token_legacy'
              - $ref: '#/components/schemas/transactions_manualauthorization_p2pe_idtech'
              - $ref: '#/components/schemas/transactions_manualauthorization_p2pe_tdesdukpt_emv'
              - $ref: '#/components/schemas/transactions_manualauthorization_p2pe_tdesdukpt_msr'
              - $ref: '#/components/schemas/transactions_manualauthorization_p2pe_onguardsde_emv'
              - $ref: '#/components/schemas/transactions_manualauthorization_p2pe_onguardsde_msr'
              - $ref: '#/components/schemas/transactions_manualauthorization_unencryptedcard'
      responses:
        '200':
          description: Transaction was processed
          content:
            application/json:
              schema:
                properties:
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        dateTime:
                          $ref: '#/components/schemas/DateTime'
                        amount:
                          $ref: '#/components/schemas/Amount'
                        card:
                          $ref: '#/components/schemas/CardResponse'
                        customer:
                          type: object
                          properties:
                            firstName:
                              $ref: '#/components/schemas/CustomerFirstNameResponse'
                            lastName:
                              $ref: '#/components/schemas/CustomerLastNameResponse'
                        clerk:
                          $ref: '#/components/schemas/ClerkResponse'
                        emv:
                          $ref: '#/components/schemas/EMV'
                        merchant:
                          $ref: '#/components/schemas/MerchantResponse'
                        receipt:
                          $ref: '#/components/schemas/ReceiptArray'
                        server:
                          $ref: '#/components/schemas/Server'
                        signature:
                          $ref: '#/components/schemas/Signature'
                        transaction:
                          type: object
                          properties:
                            authorizationCode:
                              $ref: '#/components/schemas/TransactionAuthorizationCode'
                            authSource:
                              $ref: '#/components/schemas/TransactionAuthSource'
                            invoice:
                              $ref: '#/components/schemas/TransactionInvoice'
                            responseCode:
                              $ref: '#/components/schemas/TransactionResponseCode'
                            saleFlag:
                              $ref: '#/components/schemas/TransactionSaleFlag'
                            amex:
                              $ref: '#/components/schemas/TransactionAmex'
                            avs:
                              $ref: '#/components/schemas/AVS'
                        universalToken:
                          $ref: '#/components/schemas/UniversalToken'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '504':
          $ref: '#/components/responses/TimeoutResponse'
  /transactions/manualsale:
    servers:
    - url: https://api.shift4test.com/api/rest/v1
      description: Host Direct Test URL
    - url: https://api.shift4api.net/api/rest/v1
      description: Host Direct Production URL
    - url: https://192.168.1.10:277/api/rest/v1
      description: Locally Installed UTG URL
    - url: https://192.168.1.20:8085/api/rest/v1
      description: Commerce Engine For On Premise URL
    - url: https://api.shift4test.com/api/rest/v1
      description: Commerce Engine For Cloud Test URL
    - url: https://api.shift4api.net/api/rest/v1
      description: Commerce Engine For Cloud Production URL
    post:
      tags:
      - Transactions
      summary: Manual Sale
      operationId: manualsale
      security:
      - AccessToken: []
      description: 'This function is used to request authorization and a sale in an offline scenario, which means that Shift4 will not seek processor approval. An authorization code should be included in this request if the amount being submitted in the request is greater than the authorization amount currently on file.


        For Restaurant industry, review Restaurant Authorization and Settlement Flow


        **Integration Methods:**

        - Host Direct

        - Locally Installed UTG

        - Commerce Engine For On Premise

        - Commerce Engine For Cloud


        See the Integration Methods and URLs Section sections of the Development Quick Start guide for details regarding each processing option.


        See the JSON Body Schemas for more details on the various JSON body formats.'
      parameters:
      - $ref: '#/components/parameters/InterfaceVersion'
      - $ref: '#/components/parameters/InterfaceName'
      - $ref: '#/components/parameters/CompanyName'
      - $ref: '#/components/parameters/AccessToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/transactions_manualsale_comengdevice'
              - $ref: '#/components/schemas/transactions_manualsale_comengcloud'
              - $ref: '#/components/schemas/transactions_manualsale_utgdevice'
              - $ref: '#/components/schemas/transactions_manualsale_token_gtv'
              - $ref: '#/components/schemas/transactions_manualsale_token_legacy'
              - $ref: '#/components/schemas/transactions_manualsale_p2pe_idtech'
              - $ref: '#/components/schemas/transactions_manualsale_p2pe_tdesdukpt_emv'
              - $ref: '#/components/schemas/transactions_manualsale_p2pe_tdesdukpt_msr'
              - $ref: '#/components/schemas/transactions_manualsale_p2pe_onguardsde_emv'
              - $ref: '#/components/schemas/transactions_manualsale_p2pe_onguardsde_msr'
              - $ref: '#/components/schemas/transactions_manualsale_unencryptedcard'
      responses:
        '200':
          description: Transaction was processed
          content:
            application/json:
              schema:
                properties:
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        dateTime:
                          $ref: '#/components/schemas/DateTime'
                        amount:
                          $ref: '#/components/schemas/Amount'
                        card:
                          $ref: '#/components/schemas/CardResponse'
                        customer:
                          type: object
                          properties:
                            firstName:
                              $ref: '#/components/schemas/CustomerFirstNameResponse'
                            lastName:
                              $ref: '#/components/schemas/CustomerLastNameResponse'
                        clerk:
                          $ref: '#/components/schemas/ClerkResponse'
                        emv:
                          $ref: '#/components/schemas/EMV'
                        merchant:
                          $ref: '#/components/schemas/MerchantResponse'
                        receipt:
                          $ref: '#/components/schemas/ReceiptArray'
                        server:
                          $ref: '#/components/schemas/Server'
                        signature:
                          $ref: '#/components/schemas/Signature'
                        transaction:
                          type: object
                          properties:
                            authorizationCode:
                              $ref: '#/components/schemas/TransactionAuthorizationCode'
                            authSource:
                              $ref: '#/components/schemas/TransactionAuthSource'
                            invoice:
                              $ref: '#/components/schemas/TransactionInvoice'
                            responseCode:
                              $ref: '#/components/schemas/TransactionResponseCode'
                            saleFlag:
                              $ref: '#/components/schemas/TransactionSaleFlag'
                            amex:
                              $ref: '#/components/schemas/TransactionAmex'
                            avs:
                              $ref: '#/components/schemas/AVS'
                        universalToken:
                          $ref: '#/components/schemas/UniversalToken'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '504':
          $ref: '#/components/responses/TimeoutResponse'
  /transactions/signature:
    servers:
    - url: https://api.shift4test.com/api/rest/v1
      description: Host Direct Test URL
    - url: https://api.shift4api.net/api/rest/v1
      description: Host Direct Production URL
    - url: https://192.168.1.10:277/api/rest/v1
      description: Locally Installed UTG URL
    post:
      tags:
      - Transactions
      summary: Upload Signature
      operationId: transactionssignature
      security:
      - AccessToken: []
      description: 'This function is used to upload the captured signature to an existing invoice in Shift4''s Gateway.


        **Integration Methods:**

        - Host Direct

        - Locally Installed UTG


        See the Integration Methods and URLs Section sections of the Development Quick Start guide for details regarding each processing option.'
      parameters:
      - $ref: '#/components/parameters/InterfaceVersion'
      - $ref: '#/components/parameters/InterfaceName'
      - $ref: '#/components/parameters/CompanyName'
      - $ref: '#/components/parameters/AccessToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
              - dateTime
              - transaction
              - signature
              properties:
                dateTime:
                  $ref: '#/components/schemas/DateTime'
                apiOptions:
                  $ref: '#/components/schemas/ApiOptions'
                device:
                  type: object
                  properties:
                    manufacturer:
                      $ref: '#/components/schemas/DeviceManufacturer'
                    model:
                      $ref: '#/components/schemas/DeviceModel'
                    serialNumber:
                      $ref: '#/components/schemas/DeviceSerialNumber'
                    capability:
                      $ref: '#/components/schemas/DeviceCapability'
                merchant:
                  $ref: '#/components/schemas/MerchantResponse'
                signature:
                  type: object
                  required:
                  - format
                  - data
                  properties:
                    data:
                      $ref: '#/components/schemas/SignatureData'
                    format:
                      $ref: '#/components/schemas/SignatureFormat'
                transaction:
                  type: object
                  required:
                  - invoice
                  properties:
                    invoice:
                      $ref: '#/components/schemas/TransactionInvoice'
      responses:
        '200':
          description: Request was processed
          content:
            application/json:
              schema:
                properties:
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        dateTime:
                          $ref: '#/components/schemas/DateTime'
                        merchant:
                          $ref: '#/components/schemas/MerchantResponse'
                        server:
                          $ref: '#/components/schemas/Server'
                        transaction:
                          type: object
                          properties:
                            invoice:
                              $ref: '#/components/schemas/TransactionInvoice'
                            saleFlag:
                              $ref: '#/components/schemas/TransactionSaleFlag'
        '400':
          description: Error
          content:
            application/json:
              schema:
                properties:
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        error:
                          $ref: '#/components/schemas/Error'
                        lighthouse:
                          type: object
                          properties:
                            data:
                              $ref: '#/components/schemas/LighthouseDataResponse'
                        server:
                          $ref: '#/components/schemas/Server'
              examples:
                Error:
                  $ref: '#/components/examples/InvoiceError'
        '504':
          $ref: '#/components/responses/TimeoutResponse'
components:
  schemas:
    PurchaseCard:
      type: object
      required:
      - customerReference
      - destinationPostalCode
      - productDescriptors
      properties:
        customerReference:
          $ref: '#/components/schemas/PurchaseCardCustomerReference'
        destinationPostalCode:
          $ref: '#/components/schemas/PurchaseCardDestinationPostalCode'
        productDescriptors:
          $ref: '#/components/schemas/PurchaseCardProductDescriptors'
    IIASAmounts:
      type: object
      properties:
        amount:
          $ref: '#/components/schemas/IIASAmount'
        type:
          $ref: '#/components/schemas/IIASType'
    DCCTransactionResponse:
      type: object
      description: 'Object containing Dynamic Currency Conversion (DCC) information.


        **Conditional: Returned in the response if DCC was offered during the payment flow of a UTG/Commerce Engine controlled device or if the `dcc` object was included in the request.**

        '
      required:
      - rateTimeStamp
      - currencyCode
      - foreignAmount
      - conversionRate
      - marginPercentage
      - currencyMinorUnits
      - transactionId
      - conversionIndicator
      properties:
        rateTimeStamp:
          $ref: '#/components/schemas/DCCRateTimeStamp'
        currencyCode:
          $ref: '#/components/schemas/DCCCurrencyCode'
        foreignAmount:
          $ref: '#/components/schemas/DCCForeignAmount'
        conversionRate:
          $ref: '#/components/schemas/DCCConversionRate'
        marginPercentage:
          $ref: '#/components/schemas/DCCMarginPercentage'
        currencyMinorUnits:
          $ref: '#/components/schemas/DCCCurrencyMinorUnits'
        transactionId:
          $ref: '#/components/schemas/DCCTransactionID'
        conversionIndicator:
          $ref: '#/components/schemas/DCCConversionIndicator'
        diffOverEcb:
          $ref: '#/components/schemas/DCCDiffOverECB'
        marginOverEcb:
          $ref: '#/components/schemas/DCCMarginOverECB'
        displayUnit:
          $ref: '#/components/schemas/DCCDisplayUnit'
        provider:
          $ref: '#/components/schemas/DCCProvider'
    AirlineElectronicTicketIndicator:
      type: string
      maxLength: 1
      enum:
      - Y
      - N
      example: Y
      description: "Indicates if an electronic ticket was issued.\n\nValue  | Description       \n-------|-------------------\nY      | Yes\nN      | No  \n"
    P2PEType0102IDTECH:
      type: object
      required:
      - data
      - format
      properties:
        data:
          $ref: '#/components/schemas/P2PEData'
        format:
          $ref: '#/components/schemas/P2PEFormatIDTech'
    AutoRentalCountryCode:
      type: string
      maxLength: 3
      example: '840'
      description: 'Country where rental card was picked up.

        '
    Amount:
      type: object
      description: 'Object containing information regarding the amount being requested. The `total` field within the object is required and specifies the amount being requested. All other fields are for informational purposes and must also be included in the `total` field. For example, a purchase of $100 with a $20 tip and $8 tax would be `128.00` in the `total` field, `20.00` in the `tip` field and `8.00` in the `tax` field.


        Note: For merchants that are configured to allow multiple currencies, the amount  fields can specify up to three decimal places. However, the number of decimal  places can not exceed the number allowed for the specified currency. See the [Currency Codes](/guides/appendices/currency-codes) section for details.

        '
      required:
      - total
      - tax
      properties:
        total:
          $ref: '#/components/schemas/AmountTotal'
        tax:
          $ref: '#/components/schemas/AmountTax'
        taxIndicator:
          $ref: '#/components/schemas/AmountTaxIndicator'
        cashback:
          $ref: '#/components/schemas/AmountCashback'
        iiasAmounts:
          $ref: '#/components/schemas/IIASAmountsArray'
        surcharge:
          $ref: '#/components/schemas/AmountSurcharge'
        tip:
          $ref: '#/components/schemas/AmountTip'
        checkTotal:
          $ref: '#/components/schemas/AmountCheckTotal'
    AirlineAncillaryServicesArray:
      type: array
      writeOnly: true
      items:
        $ref: '#/components/schemas/AirlineAncillaryServices'
      example:
      - serviceCode: BF
        serviceFee: 2
      - serviceCode: BG
        serviceFee: 3
      description: 'Array of ancillary service code and fees.


        **Conditional: Send if any ancillary services were charged.**

        '
    AutoReturn:
      type: object
      description: 'Information relating to where the rental car was returned

        '
      properties:
        city:
          $ref: '#/components/schemas/AutoReturnCity'
        countryCode:
          $ref: '#/components/schemas/AutoReturnCountryCode'
        dateTime:
          $ref: '#/components/schemas/DateTime'
        postalCode:
          $ref: '#/components/schemas/AutoReturnPostalCode'
        region:
          $ref: '#/components/schemas/AutoReturnRegion'
    PurchaseCardCustomerReference:
      type: string
      maxLength: 25
      example: D019D09309F2
      description: 'A unique value used to identify the consumer or transaction. If a merchant has a significant amount of revenue from purchasing card customers, the interface would use this field to collect the consumer’s purchase order or employee identification number. In lodging transactions, this may be unique transaction details, such as a reservation code or third-party booking source.  This field is part of Level 2 card data.

        '
    transactions_sale_unencryptedcard:
      title: Card Number Unencrypted
      type: object
      required:
      - dateTime
      - amount
      - clerk
      - transaction
      - card
      - customer
      properties:
        dateTime:
          $ref: '#/components/schemas/DateTime'
        amount:
          $ref: '#/components/schemas/Amount'
        clerk:
          $ref: '#/components/schemas/Clerk'
        transaction:
          type: object
          required:
          - invoice
          - purchaseCard
          properties:
            invoice:
              $ref: '#/components/schemas/TransactionInvoice'
            notes:
              $ref: '#/components/schemas/TransactionNotes'
            businessDate:
              $ref: '#/components/schemas/TransactionBusinessDate'
            amex:
              $ref: '#/components/schemas/TransactionAmex'
            airline:
              $ref: '#/components/schemas/AirlineRequest'
            cardOnFile:
              $ref: '#/components/schemas/CardOnFile'
            hotel:
              $ref: '#/components/schemas/HotelCheckOut'
            purchaseCard:
              $ref: '#/components/schemas/PurchaseCard'
            vendorReference:
              $ref: '#/components/schemas/TransactionVendorReference'
            source:
              $ref: '#/components/schemas/TransactionSource'
            s4RiskId:
              $ref: '#/components/schemas/TransactionS4RiskIdRequest'
            deferredAuth:
              $ref: '#/components/schemas/TransactionDeferredAuth'
            originalDate:
              $ref: '#/components/schemas/TransactionOriginalDate'
            exemptionAction:
              $ref: '#/components/schemas/TransactionExemptionAction'
            exemptionReason:
              $ref: '#/components/schemas/TransactionExemptionReason'
        card:
          type: object
          required:
          - entryMode
          - number
          - expirationDate
          - securityCode
          properties:
            entryMode:
              type: string
              minLength: 1
              maxLength: 1
              enum:
              - M
              example: M
              description: "The method used to capture a payment card in an authorization/sale request. \n\nValue|Description\n-----|-----------\nM    | Manual Entry\n"
            present:
              $ref: '#/components/schemas/CardPresent'
            number:
              $ref: '#/components/schemas/CardNumber'
            expirationDate:
              $ref: '#/components/schemas/CardExpirationDate'
            securityCode:
              $ref: '#/components/schemas/CardSecurityCode'
        customer:
          type: object
          required:
          - postalCode
          properties:
            addressLine1:
              $ref: '#/components/schemas/CustomerAddressLine1'
            firstName:
              $ref: '#/components/schemas/CustomerFirstName'
            lastName:
              $ref: '#/components/schemas/CustomerLastName'
            postalCode:
              $ref: '#/components/schemas/CustomerPostalCode'
            emailAddress:
              $ref: '#/components/schemas/CustomerEmailAddress'
            ipAddress:
              $ref: '#/components/schemas/CustomerIpAddress'
        risk:
          $ref: '#/components/schemas/RiskTransactionRequest'
        lighthouse:
          $ref: '#/components/schemas/LighthouseRequest'
        receiptColumns:
          $ref: '#/components/schemas/ReceiptColumns'
        currencyCode:
          $ref: '#/components/schemas/CurrencyCode'
        apiOptions:
          $ref: '#/components/schemas/ApiOptions'
        reportingData:
          $ref: '#/components/schemas/ReportingData'
        mPos:
          $ref: '#/components/schemas/mPOS'
        statementSuffix:
          $ref: '#/components/schemas/StatementSuffix'
        dcc:
          $ref: '#/components/schemas/DCCTransactionRequest'
        surcharge:
          $ref: '#/components/schemas/SurchargeRequest'
      example:
        dateTime: '2021-04-15T09:18:23.283-07:00'
        amount:
          cashback: 20
          tax: 15
          tip: 20
          total: 160
        apiOptions:
        - ALLOWPARTIALAUTH
        card:
          entryMode: M
          expirationDate: 1230
          number: '4321000000001119'
          present: N
          securityCode:
            indicator: '1'
            value: '333'
          type: VS
        clerk:
          numericId: 1576
        customer:
          addressLine1: 65 Easy St
          firstName: John
          lastName: Smith
          postalCode: '65144'
        transaction:
          hotel:
            additionalCharges:
              giftShop: Y
              laundry: Y
              miniBar: Y
              other: Y
              restaurant: Y
              telephone: Y
            arrivalDateTime: '2021-04-12T15:39:01.594-07:00'
            departureDateTime: '2021-04-15T09:18:23.283-07:00'
            primaryChargeType: 1
            roomRates:
            - nights: 2
              rate: 159.95
            - nights: 3
              rate: 125.38
            specialCode: 1
          invoice: '192029'
          notes: Transaction notes are added here
          purchaseCard:
            customerReference: D019D09309F2
            destinationPostalCode: '94719'
            productDescriptors:
            - Hamburger
            - Fries
            - Soda
            - Cookie
        lighthouse:
          data: eyJsaWdodGhvdXNlIjp7ImVtcGxveWVlaWQiOjEyMzQsImRldmljZWlkIjoiMTIzU0FCViJ9fQ==
        reportingData:
          customerInfo:
          - firstName: Jane
            lastName: Smith
            dateOfBirth: '12011983'
            gender: female
            baggage: checked
            seats: 1A
            boardingPriority: '1'
          - firstName: John
            lastName: Smith
            dateOfBirth: 01281980
            gender: male
            baggage: carryon
            seats: 1B
            boardingPriority: '1'
    AutoReturnRegion:
      type: string
      maxLength: 2
      example: NV
      description: 'Region (State) where rental car was returned in U.S. postal abbreviation format.

        '
    AirlineFlightLegsLegArrivalDateTime:
      type: string
      format: ISO 8601
      example: '2021-04-15T09:18:23.283-07:00'
      description: 'The date and time the flight is scheduled to arrive for the leg. The date and time in ISO 8601 format including the timezone offset (yyyy-mm-ddThh:mm:ss.nnn+hh:mm).

        '
    AirlineTickets:
      type: object
      required:
      - passengerName
      - ticketNumber
      - ticketFare
      properties:
        passengerName:
          $ref: '#/components/schemas/AirlineTicketsPassengerName'
        ticketNumber:
          $ref: '#/components/schemas/AirlineTicketsTicketNumber'
        ticketFare:
          $ref: '#/components/schemas/AirlineTicketsTicketFare'
    EMVFallbackOnly:
      type: object
      description: '**Conditional: Required when processing an EMV fallback transaction.**

        '
      properties:
        fallback:
          $ref: '#/components/schemas/EMVFallback'
    LighthouseRequest:
      type: object
      writeOnly: true
      properties:
        data:
          $ref: '#/components/schemas/LighthouseDataRequest'
    CardOnFileRecurringFrequency:
      type: string
      example: '15'
      minLength: 1
      maxLength: 4
      description: 'Indicates the minimum number of days between authorizations.


        **Conditional: ''This field is required if it''s the first recurring transaction (`cardOnFile.type = S02`). This field is not needed if the transaction is not recurring or if the transaction is a subsequent recurring transaction.**

        '
    transactions_sale_token_legacy:
      title: Legacy TrueToken
      type: object
      required:
      - dateTime
      - amount
      - clerk
      - transaction
      - card
      properties:
        dateTime:
          $ref: '#/components/schemas/DateTime'
        amount:
          $ref: '#/components/schemas/Amount'
        clerk:
          $ref: '#/components/schemas/Clerk'
        transaction:
          type: object
          required:
          - invoice
          - purchaseCard
          properties:
            invoice:
              $ref: '#/components/schemas/TransactionInvoice'
            notes:
              $ref: '#/components/schemas/TransactionNotes'
            businessDate:
              $ref: '#/components/schemas/TransactionBusinessDate'
            amex:
              $ref: '#/components/schemas/TransactionAmex'
            airline:
              $ref: '#/components/schemas/AirlineRequest'
            cardOnFile:
              $ref: '#/components/schemas/CardOnFile'
            hotel:
              $ref: '#/components/schemas/HotelCheckOut'
            purchaseCard:
              $ref: '#/components/schemas/PurchaseCard'
            vendorReference:
              $ref: '#/components/schemas/TransactionVendorReference'
            source:
              $ref: '#/components/schemas/TransactionSource'
            s4RiskId:
              $ref: '#/components/schemas/TransactionS4RiskIdRequest'
            deferredAuth:
              $ref: '#/components/schemas/TransactionDeferredAuth'
            originalDate:
              $ref: '#/components/schemas/TransactionOriginalDate'
            exemptionAction:
              $ref: '#/components/schemas/TransactionExemptionAction'
            exemptionReason:
              $ref: '#/components/schemas/TransactionExemptionReason'
        card:
          type: object
          required:
          - token
          properties:
            expirationDate:
              $ref: '#/components/schemas/CardExpirationDate'
            present:
              $ref: '#/components/schemas/CardPresent'
            token:
              $ref: '#/components/schemas/CardTokenRequiredLegacy'
            securityCode:
              $ref: '#/components/schemas/CardSecurityCode'
        customer:
          $ref: '#/components/schemas/Customer'
        risk:
          $ref: '#/components/schemas/RiskTransactionRequest'
        lighthouse:
          $ref: '#/components/schemas/LighthouseRequest'
        receiptColumns:
          $ref: '#/components/schemas/ReceiptColumns'
        currencyCode:
          $ref: '#/components/schemas/CurrencyCode'
        apiOptions:
          $ref: '#/components/schemas/ApiOptions'
        reportingData:
          $ref: '#/components/schemas/ReportingData'
        mPos:
          $ref: '#/components/schemas/mPOS'
        statementSuffix:
          $ref: '#/components/schemas/StatementSuffix'
        dcc:
          $ref: '#/components/schemas/DCCTransactionRequest'
        surcharge:
          $ref: '#/components/schemas/SurchargeRequest'
      example:
        dateTime: '2021-04-15T09:18:23.283-07:00'
        amount:
          cashback: 20
          tax: 15
          tip: 20
          total: 160
        apiOptions:
        - ALLOWPARTIALAUTH
        card:
          expirationDate: 1225
          present: N
          token:
            value: 11191pn83hbkkety
            serialNumber: '123456'
        clerk:
          numericId: 1576
        transaction:
          hotel:
            additionalCharges:
              giftShop: Y
              laundry: Y
              miniBar: Y
              other: Y
              restaurant: Y
              telephone: Y
            arrivalDateTime: '2021-04-12T15:39:01.594-07:00'
            departureDateTime: '2021-04-15T09:18:23.283-07:00'
            primaryChargeType: 1
            roomRates:
            - nights: 2
              rate: 159.95
            - nights: 3
              rate: 125.38
            specialCode: 1
          invoice: '192029'
          notes: Transaction notes are added here
          purchaseCard:
            customerReference: D019D09309F2
            destinationPostalCode: '94719'
            productDescriptors:
            - Cookie
            - Fries
            - Hamburger
            - Soda
        lighthouse:
          data: eyJsaWdodGhvdXNlIjp7ImVtcGxveWVlaWQiOjEyMzQsImRldmljZWlkIjoiMTIzU0FCViJ9fQ==
        reportingData:
          customerInfo:
          - firstName: Jane
            lastName: Smith
            dateOfBirth: '12011983'
            gender: female
            baggage: checked
            seats: 1A
            boardingPriority: '1'
          - firstName: John
            lastName: Smith
            dateOfBirth: 01281980
            gender: male
            baggage: carryon
            seats: 1B
            boardingPriority: '1'
    ReportingDataCustomerInfoGender:
      type: string
      example: male
      maxLength: 20
      description: 'Customer''s gender

        '
    ThreeDSecureSecurityLevelIndicatorWallet:
      type: string
      writeOnly: true
      example: '241'
      maxLength: 3
      description: 'This field contains the electronic commerce indicators representing the security level and cardholder authentication associated with the transaction. This field must be present in all Auth Request messages for electronic commerce transactions.


        For Apple Pay and Google Pay transactions this value should be sent as `241`


        First 2 positions:


        Value| Description

        -----|------------

        24   | Digital Secure Remote Payment (DSRP) with UCAF Data


        Third position:


        Value| Description

        -----|------------

        1    | UCAF data collection is supported by the merchant and UCAF data must be present and contain an attempt AAV

        '
    AirlineTravelAgencyName:
      type: string
      maxLength: 25
      example: State Travel
      description: 'Name of travel agency if the ticket was issued by a travel agency.


        **Conditional: Send if a travel agency service was used.**

        '
    CustomerAddressLine1:
      type: string
      maxLength: 30
      example: 65 Easy St
      description: 'Cardholder’s street address exactly as it appears on their billing statement. This field is used in AVS.

        '
    DeviceModel:
      type: string
      maxLength: 50
      example: A800
      description: '**Conditional: Required when using a non-UTG-controlled device.**


        Specifies the model of the device.

        '
    AirlineFlightLegsCouponNumber:
      type: number
      maxLength: 1
      example: 1
      description: 'Number of coupons in the ticket for the leg.

        '
    CardOnFileTypeCapture:
      type: string
      enum:
      - U08
      example: U08
      description: 'This field specifies the type of the card-on-file transaction.


        | Value  | Initiator  | Recurring | 3D Secure | Description                                                                                                                                                                                                                                                                                                                                                     |

        |--------|------------|-----------|-----------|-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|

        | U08    | Merchant   | No        | No        | Identifies a transaction as an Incremental COF transaction. For example, a hotel which authorized a customer’s card for one night at check-in might increase the authorization amount to cover two nights when the customer decides to extend their stay. Shift4 automatically detects this scenario and sends the appropriate value to the processor. |


        See the [Card On File Transactions](/guides/advanced-concepts/card-on-file-transactions) section for additional details.

        '
    HotelAdditionalChargesGiftShop:
      type: string
      minLength: 1
      maxLength: 1
      example: Y
      enum:
      - Y
      - N
    transactions_capture_token_legacy:
      title: Legacy TrueToken
      required:
      - dateTime
      - amount
      - card
      - clerk
      - transaction
      properties:
        dateTime:
          $ref: '#/components/schemas/DateTime'
        apiOptions:
          $ref: '#/components/schemas/ApiOptions'
        amount:
          $ref: '#/components/schemas/AmountTaxNotRequired'
        currencyCode:
          $ref: '#/components/schemas/CurrencyCode'
        card:
          type: object
          required:
          - token
          properties:
            token:
              $ref: '#/components/schemas/CardTokenRequiredLegacy'
        clerk:
          $ref: '#/components/schemas/Clerk'
        receiptColumns:
          $ref: '#/components/schemas/ReceiptColumns'
        transaction:
          type: object
          required:
          - invoice
          properties:
            invoice:
              $ref: '#/components/schemas/TransactionInvoice'
            notes:
              $ref: '#/components/schemas/TransactionNotes'
            businessDate:
              $ref: '#/components/schemas/TransactionBusinessDate'
            amex:
              $ref: '#/components/schemas/TransactionAmex'
            auto:
              $ref: '#/components/schemas/AutoCheckOut'
            airline:
              $ref: '#/components/schemas/AirlineRequest'
            cardOnFile:
              type: object
              description: '**Conditional: Send this object only if the capture amount exceeds the authorized amount.**


                See the [Card On File Transactions](/guides/advanced-concepts/card-on-file-transactions) section for more information.

                '
              properties:
                type:
                  $ref: '#/components/schemas/CardOnFileTypeCapture'
                transactionId:
                  $ref: '#/components/schemas/CardOnFileTransactionId'
                transactionLinkId:
                  $ref: '#/components/schemas/CardOnFileTransactionLinkId'
            hotel:
              $ref: '#/components/schemas/HotelCheckOut'
            vendorReference:
              $ref: '#/components/schemas/TransactionVendorReference'
            source:
              $ref: '#/components/schemas/TransactionSource'
            originalDate:
              $ref: '#/components/schemas/TransactionOriginalDate'
        reportingData:
          $ref: '#/components/schemas/ReportingData'
        statementSuffix:
          $ref: '#/components/schemas/StatementSuffix'
        dcc:
          $ref: '#/components/schemas/DCCTransactionRequest'
      example:
        dateTime: '2021-04-15T09:18:23.283-07:00'
        amount:
          tip: 20
          total: 160
        apiOptions:
        - ALLOWPARTIALAUTH
        card:
          token:
            value: 11191pn83hbkkety
            serialNumber: '123456'
        clerk:
          numericId: 1576
        transaction:
          hotel:
            additionalCharges:
              giftShop: Y
              laundry: N
              miniBar: Y
              other: Y
              restaurant: Y
              telephone: N
            arrivalDateTime: '2021-04-12T15:39:01.594-07:00'
            departureDateTime: '2021-04-15T09:18:23.283-07:00'
            primaryChargeType: 1
            roomRates:
            - nights: 2
              rate: 159.95
            - nights: 3
              rate: 125.38
            specialCode: 1
          invoice: '192029'
          notes: Transaction notes are added here
        reportingData:
          customerInfo:
          - firstName: Jane
            lastName: Smith
            dateOfBirth: '12011983'
            gender: female
            baggage: checked
            seats: 1A
            boardingPriority: '1'
          - firstName: John
            lastName: Smith
            dateOfBirth: 01281980
            gender: male
            baggage: carryon
            seats: 1B
            boardingPriority: '1'
    transactions_manualsale_utgdevice:
      title: UTG Controlled Device
      type: object
      required:
      - dateTime
      - amount
      - clerk
      - transaction
      - device
      properties:
        dateTime:
          $ref: '#/components/schemas/DateTime'
        amount:
          $ref: '#/components/schemas/AmountObjectNoSurcharge'
        clerk:
          $ref: '#/components/schemas/Clerk'
        transaction:
          type: object
          required:
          - invoice
          - purchaseCard
          - authorizationCode
          properties:
            invoice:
              $ref: '#/components/schemas/TransactionInvoice'
            authorizationCode:
              $ref: '#/components/schemas/TransactionAuthorizationCode'
            manualTranId:
              $ref: '#/components/schemas/TransactionManualTranId'
            notes:
              $ref: '#/components/schemas/TransactionNotes'
            businessDate:
              $ref: '#/components/schemas/TransactionBusinessDate'
            amex:
              $ref: '#/components/schemas/TransactionAmex'
            auto:
              $ref: '#/components/schemas/AutoCheckOut'
            airline:
              $ref: '#/components/schemas/AirlineRequest'
            cardOnFile:
              $ref: '#/components/schemas/CardOnFile'
            hotel:
              $ref: '#/components/schemas/HotelCheckOut'
            purchaseCard:
              $ref: '#/components/schemas/PurchaseCard'
            vendorReference:
              $ref: '#/components/schemas/TransactionVendorReference'
        device:
          type: object
          required:
          - terminalId
          properties:
            terminalId:
              $ref: '#/components/schemas/DeviceTerminalId'
            promptPostalCode:
              $ref: '#/components/schemas/DevicePromptPostalCode'
            promptCardSecurityCode:
              $ref: '#/components/schemas/DevicePromptCardSecurityCode'
            promptStreetNumber:
              $ref: '#/components/schemas/DevicePromptStreetNumber'
        card:
          type: object
          properties:
            present:
              $ref: '#/components/schemas/CardPresent'
            type:
              $ref: '#/components/schemas/CardType'
        customer:
          $ref: '#/components/schemas/Customer'
        receiptColumns:
          $ref: '#/components/schemas/ReceiptColumns'
        currencyCode:
          $ref: '#/components/schemas/CurrencyCode'
        apiOptions:
          $ref: '#/components/schemas/ApiOptions'
        statementSuffix:
          $ref: '#/components/schemas/StatementSuffix'
      example:
        dateTime: '2021-04-15T09:18:23.283-07:00'
        amount:
          tax: 15
          total: 140
        apiOptions:
        - ALLOWPARTIALAUTH
        card:
          present: Y
        clerk:
          numericId: 1576
        device:
          terminalId: '1742'
        transaction:
          hotel:
            additionalCharges:
              giftShop: Y
              laundry: Y
              miniBar: Y
              other: Y
              restaurant: Y
              telephone: Y
            arrivalDateTime: '2021-04-12T15:39:01.594-07:00'
            departureDateTime: '2021-04-15T09:18:23.283-07:00'
            primaryChargeType: 1
            roomRates:
            - nights: 2
              rate: 159.95
            - nights: 3
              rate: 125.38
            specialCode: 1
          invoice: '192029'
          authorizationCode: '189746'
          notes: Transaction notes are added here
          purchaseCard:
            customerReference: D019D09309F2
            destinationPostalCode: '94719'
            productDescriptors:
            - Hamburger
            - Fries
            - Soda
            - Cookie
    AirlineExchangeTicketNumber:
      type: string
      maxLength: 15
      example: '507212345678768'
      description: 'The original ticket number that was replaced by a new ticket number.

        '
    CardBrandTokenPANLast4:
      type: string
      readOnly: true
      example: '6810'
      maxLength: 4
      description: 'This is a response field that contains 4 characters that represent the last 4 digits of the actual cardholder PAN.

        '
    AirlineTicketsPassengerName:
      type: string
      maxLength: 40
      example: Doe Jane M Mrs
      description: 'Name of the passenger to whom the ticket was issued.  This field contains the Passenger Name in format:


        `SURNAME FIRSTNAME MIDDLEINITIAL TITLE`


        Example: "Doe Jane M Mrs"

        '
    Error:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/ErrorCode'
        severity:
          $ref: '#/components/schemas/ErrorSeverity'
        shortText:
          $ref: '#/components/schemas/ErrorShortText'
        longText:
          $ref: '#/components/schemas/ErrorLongText'
        primaryCode:
          $ref: '#/components/schemas/ErrorPrimaryCode'
        secondaryCode:
          $ref: '#/components/schemas/ErrorSecondaryCode'
    RiskAssessmentDeny:
      type: string
      enum:
      - D
      example: D
      description: 'This is the answer to the risk assessment.


        Value| Description

        -----|------------

        D    | Deny. Try another payment method

        '
    AmountCheckTotal:
      type: number
      maxLength: 14
      writeOnly: true
      example: 200
      description: 'Optional field specifying the total amount of the entire bill/invoice that this transaction is part of. It can be larger than `amount.total` in scenarios where the check is being split or if a portion of the check was already paid in cash or another form of payment.

        '
    transactions_authorization_3dsecurei4Go:
      title: Wallet/3D Secure Using i4Go
      type: object
      required:
      - dateTime
      - amount
      - clerk
      - transaction
      - card
      - extendedCardData
      properties:
        dateTime:
          $ref: '#/components/schemas/DateTime'
        amount:
          $ref: '#/components/schemas/Amount'
        clerk:
          $ref: '#/components/schemas/Clerk'
        transaction:
          type: object
          required:
          - invoice
          - purchaseCard
          properties:
            invoice:
              $ref: '#/components/schemas/TransactionInvoice'
            notes:
              $ref: '#/components/schemas/TransactionNotes'
            businessDate:
              $ref: '#/components/schemas/TransactionBusinessDate'
            amex:
              $ref: '#/components/schemas/TransactionAmex'
            auto:
              $ref: '#/components/schemas/AutoCheckIn'
            airline:
              $ref: '#/components/schemas/AirlineRequest'
            cardOnFile:
              $ref: '#/components/schemas/CardOnFile'
            hotel:
              $ref: '#/components/schemas/HotelCheckIn'
            purchaseCard:
              $ref: '#/components/schemas/PurchaseCard'
            vendorReference:
              $ref: '#/components/schemas/TransactionVendorReference'
            s4RiskId:
              $ref: '#/components/schemas/TransactionS4RiskIdRequest'
            authType:
              $ref: '#/components/schemas/TransactionAuthType'
            source:
              $ref: '#/components/schemas/TransactionSource'
            deferredAuth:
              $ref: '#/components/schemas/TransactionDeferredAuth'
            originalDate:
              $ref: '#/components/schemas/TransactionOriginalDate'
        card:
          type: object
          required:
          - token
          properties:
            expirationDate:
              $ref: '#/components/schemas/CardExpirationDate'
            present:
              $ref: '#/components/schemas/CardPresent'
            token:
              $ref: '#/components/schemas/CardTokenRequired'
        extendedCardData:
          $ref: '#/components/schemas/ExtendedCardData'
        customer:
          $ref: '#/components/schemas/Customer'
        risk:
          $ref: '#/components/schemas/RiskTransactionRequest'
        receiptColumns:
          $ref: '#/components/schemas/ReceiptColumns'
        currencyCode:
          $ref: '#/components/schemas/CurrencyCode'
        apiOptions:
          $ref: '#/components/schemas/ApiOptions'
        statementSuffix:
          $ref: '#/components/schemas/StatementSuffix'
        reportingData:
          $ref: '#/components/schemas/ReportingData'
        mPos:
          $ref: '#/components/schemas/mPOS'
        surcharge:
          $ref: '#/components/schemas/SurchargeRequest'
      example:
        dateTime: '2021-04-15T09:18:23.283-07:00'
        amount:
          tax: 15
          total: 160
        apiOptions:
        - ALLOWPARTIALAUTH
        card:
          expirationDate: 1225
          present: N
          token:
            value: '8048471746471119'
        clerk:
          numericId: 1576
        extendedCardData: eyJjYXJkQnJhbmRUb2tlbiI6eyJyZXF1ZXN0b3JJZCI6IjA0MDAxMDAzMDI3MyJ9LCJ0aHJlZURTZWN1cmUiOnsicHJvZ3JhbVByb3RvY29sIjoxLCJlY29tbUluZGljYXRvciI6NywieGlkIjoiRkU4OTRBN0NDNzI3NDVCRTIyRThBRkMzNjE2OUM2NUI5QkIwMjIxM0NGMTFBNDAzMTI0MjBDNUQ0MDU0RDY5QyIsImNyeXB0b2dyYW0iOiJCRC91UWZVQU9mMythTVVDbHV0eE1BQUNBQUE9Iiwic2VjdXJpdHlMZXZlbEluZGljYXRvciI6MjQxLCJhdXRoZW50aWNhdGlvblNvdXJjZSI6MSwid2FsbGV0SUQiOjEwM319
        transaction:
          invoice: '192029'
          notes: Transaction notes are added here
          purchaseCard:
            customerReference: D019D09309F2
            destinationPostalCode: '94719'
            productDescriptors:
            - Cookie
            - Fries
            - Hamburger
            - Soda
        reportingData:
          customerInfo:
          - firstName: Jane
            lastName: Smith
            dateOfBirth: '12011983'
            gender: female
            baggage: checked
            seats: 1A
            boardingPriority: '1'
          - firstName: John
            lastName: Smith
            dateOfBirth: 01281980
            gender: male
            baggage: carryon
            seats: 1B
            boardingPriority: '1'
    ReportingDataCustomerInfo:
      type: object
      properties:
        firstName:
          $ref: '#/components/schemas/ReportingDataCustomerInfoFirstName'
        lastName:
          $ref: '#/components/schemas/ReportingDataCustomerInfoLastName'
        dateOfBirth:
          $ref: '#/components/schemas/ReportingDataCustomerInfoDateOfBirth'
        gender:
          $ref: '#/components/schemas/ReportingDataCustomerInfoGender'
        baggage:
          $ref: '#/components/schemas/ReportingDataCustomerInfoBaggage'
        seats:
          $ref: '#/components/schemas/ReportingDataCustomerInfoSeats'
        boardingPriority:
          $ref: '#/components/schemas/ReportingDataCustomerInfoBoardingPriority'
    CustomerFirstName:
      type: string
      maxLength: 30
      example: John
      description: 'Specifies a consumer’s first name. This field is used in AVS. If the interface sends this field, the value specified by the interface will be returned in the response, unless the API Option [USECARDNAME](/guides/appendices/api-options#usecardname) is included in the request and a Commerce Engine or UTG-controlled PIN pad is in use. If the interface does not send the `customer` object, the consumer''s name will be returned in the `customer` object if the name is present in the card''s EMV or track data.

        '
    transactions_refund_utgdevice:
      title: UTG Controlled Device
      type: object
      required:
      - dateTime
      - amount
      - clerk
      - transaction
      - card
      - device
      properties:
        dateTime:
          $ref: '#/components/schemas/DateTime'
        amount:
          $ref: '#/components/schemas/AmountRefund'
        clerk:
          $ref: '#/components/schemas/Clerk'
        transaction:
          type: object
          required:
          - invoice
          properties:
            invoice:
              $ref: '#/components/schemas/TransactionInvoice'
            originalInvoice:
              $ref: '#/components/schemas/TransactionOriginalInvoice'
            notes:
              $ref: '#/components/schemas/TransactionNotes'
            businessDate:
              $ref: '#/components/schemas/TransactionBusinessDate'
            amex:
              $ref: '#/components/schemas/TransactionAmex'
            airline:
              $ref: '#/components/schemas/AirlineRequestRefund'
            hotel:
              $ref: '#/components/schemas/HotelCheckOutRefund'
            purchaseCard:
              $ref: '#/components/schemas/PurchaseCardRefund'
            vendorReference:
              $ref: '#/components/schemas/TransactionVendorReference'
            source:
              $ref: '#/components/schemas/TransactionSource'
            originalDate:
              $ref: '#/components/schemas/TransactionOriginalDate'
        card:
          type: object
          required:
          - present
          properties:
            present:
              $ref: '#/components/schemas/CardPresentRefund'
            type:
              $ref: '#/components/schemas/CardType'
        device:
          type: object
          required:
          - terminalId
          properties:
            terminalId:
              $ref: '#/components/schemas/DeviceTerminalId'
        customer:
          $ref: '#/components/schemas/Customer'
        receiptColumns:
          $ref: '#/components/schemas/ReceiptColumns'
        currencyCode:
          $ref: '#/components/schemas/CurrencyCode'
        apiOptions:
          $ref: '#/components/schemas/ApiOptions'
        statementSuffix:
          $ref: '#/components/schemas/StatementSuffix'
      example:
        dateTime: '2021-04-15T09:18:23.283-07:00'
        amount:
          tax: 10.05
          total: 121.83
        card:
          present: Y
        clerk:
          numericId: 1576
        device:
          terminalId: '1742'
        transaction:
          invoice: '192050'
          originalInvoice: '182177'
          notes: Transaction notes are added here
    CardSecurityCodeValid:
      type: string
      minLength: 1
      maxLength: 1
      readOnly: true
      example: Y
      description: '**Conditional: Returned if `card.securityCode.indicator` and `card.securityCode.value` are sent in the request.**


        A simplified CSC check result based on the value in the `card.securityCode.result` field and the merchant’s accepted verification results as configured with Shift4. The value returned will be ‘Y’ if CSC verification passed or ‘N’ if CSC verification did not pass.

        '
    DeviceSerialNumber:
      type: string
      maxLength: 64
      example: '1170301234'
      description: 'Specifies the serial number of the device.

        '
    CardTokenRequiredLegacy:
      type: object
      required:
      - value
      properties:
        value:
          $ref: '#/components/schemas/CardTokenValue'
        serialNumber:
          $ref: '#/components/schemas/CardTokenSerialNumber'
    AirlineRequest:
      type: object
      description: '**Conditional: Utilize this object for Airline transactions in Authorization/Sale requests when possible. If unable to provide this data at Authorization, this object must be sent in subsequent Capture requests for the transaction.**

        '
      required:
      - carrierCode
      - carrierName
      - conjunctionTicketIndicator
      - documentType
      - electronicTicketIndicator
      - internetIndicator
      - issueDate
      - numberOfCities
      - numberOfCarriers
      - numberOfPassengers
      - passengerArrivalDate
      - passengerDepartureDate
      - passengerNameRecord
      - restrictedTicketIndicator
      - ticketChangeIndicator
      - ticketTranType
      - tickets
      - flightLegs
      - typeIndicator
      properties:
        carrierCode:
          $ref: '#/components/schemas/AirlineCarrierCode'
        carrierName:
          $ref: '#/components/schemas/AirlineCarrierName'
        conjunctionTicketIndicator:
          $ref: '#/components/schemas/AirlineConjunctionTicketIndicator'
        documentType:
          $ref: '#/components/schemas/AirlineDocumentType'
        electronicTicketIndicator:
          $ref: '#/components/schemas/AirlineElectronicTicketIndicator'
        internetIndicator:
          $ref: '#/components/schemas/AirlineInternetIndicator'
        issueDate:
          $ref: '#/components/schemas/AirlineIssueDate'
        numberOfCities:
          $ref: '#/components/schemas/AirlineNumberOfCities'
        numberOfCarriers:
          $ref: '#/components/schemas/AirlineNumberOfCarriers'
        numberOfPassengers:
          $ref: '#/components/schemas/AirlineNumberOfPassengers'
        passengerArrivalDate:
          $ref: '#/components/schemas/AirlinePassengerArrivalDate'
        passengerDepartureDate:
          $ref: '#/components/schemas/AirlinePassengerDepartureDate'
        passengerNameRecord:
          $ref: '#/components/schemas/AirlinePassengerNameRecord'
        restrictedTicketIndicator:
          $ref: '#/components/schemas/AirlineRestrictedTicketIndicator'
        ticketChangeIndicator:
          $ref: '#/components/schemas/AirlineTicketChangeIndicator'
        ticketTranType:
          $ref: '#/components/schemas/AirlineTicketTranType'
        typeIndicator:
          $ref: '#/components/schemas/AirlineTypeIndicator'
        tickets:
          $ref: '#/components/schemas/AirlineTicketsArray'
        flightLegs:
          $ref: '#/components/schemas/AirlineFlightLegsArray'
        ancillaryServices:
          $ref: '#/components/schemas/AirlineAncillaryServicesArray'
        travelAgencyCode:
          $ref: '#/components/schemas/AirlineTravelAgencyCode'
        travelAgencyName:
          $ref: '#/components/schemas/AirlineTravelAgencyName'
        exchangeTicketNumber:
          $ref: '#/components/schemas/AirlineExchangeTicketNumber'
    AutoRentalRegion:
      type: string
      maxLength: 2
      example: NV
      description: 'Region (State) where rental car was picked up in U.S. postal abbreviation format.

        '
    PaymentAccountReference:
      type: string
      maxLength: 35
      example: 05280D8G7Q04UZBI7NOSPGSURP130
[...]
